[2022-03-28 17:09] elBoberido commented on #1305
@sgf201 do you have more information? This looks like two applications are build with different iceroyx versions, the sender did don initialize the chunk or someone overwrote the chunk-header.

[2022-03-29 03:16] sgf201 commented on #1306
https://github.com/eclipse-cyclonedds/cyclonedds/issues/1105
I am trying to use cyclonedds to replace another comm component ,the target APP 's fixed flow is：

main（）
{
init dds
do something;
dds read or write;
if(xxx)
{
if(fork()==0)
{
init dds;
while(1)
do something
dds read or write;
}
else
{
;;
}
}

}
I apply the patch https://github.com/eboasson/cyclonedds/commit/eff7e8208ea5c02dda72f206e5561

[2022-03-29 08:57] elBoberido commented on #1306
@sgf201 that patch is only related to Cyclone DDS and doesn't handle anything iceoryx related. It would be a non-trivial task to enable forking after `initRuntime`. I guess that happens in the `init dds` call. Would it be feasible to fork before calling `init dds`?

[2022-03-30 09:20] mossmaurice opened #1307 "Refactor `ErrorHandlerMock`"
## Brief feature description

Working with the `ErrorHandlerMock` currently requires some boiler plate code. The code and usage shall be simplified.

## Detailed information

From this [comment](https://github.com/eclipse-iceoryx/iceoryx/pull/1170#discussion_r837738763):

It is always the same procedure

1. set the temporary error handler
1. store the error code and an error detected flag
1. check

[2022-03-30 12:38] sgf201 commented on #1306
the code frame is unchangeable.I can not move all fork before init dds.

on the other side, which kind of situation will cause the crashing of roudi,  thanks a lot

[2022-03-30 12:55] sgf201 commented on #1305
" build with different iceroyx versions" I am sure that all bins are build in same project.
 "the sender did don initialize the chunk or someone overwrote the chunk-header."  I loan the chunk ,then memcpy data to it and then send it by cyclonedds,  Is there other initialization needed?    and   "overwrote the chunk-header"  happens in any normal situation?

[2022-03-30 13:20] sgf201 commented on #1305
![image](https://user-images.githubusercontent.com/5253415/160843880-44e8aceb-efb8-4b72-a085-14ce7b613d0b.png)
@elBoberido Do you mean that I write the header after the thunk I used now?

[2022-03-30 13:21] elBoberido commented on #1306
@sgf201 does roudi crash or the application?

There are a few issues:
- roudi needs to keep track of the running applications in order to clean up after the application shuts down. The registering happens with the `initRuntime` call
- in case there already resources used (pulisher, subscriber, listener, waitset, etc.) these will be corrupted when used in multiple applications
- in case there are a

[2022-03-30 15:44] elBoberido commented on #1306
@sgf201 do you have a backtrace?

I guess the forked application corrupts some data which roudi expects to be valid until the application which called `initRuntime` shuts down.

[2022-03-31 15:48] sgf201 commented on #1306
what does the corrupts mean? could you explain this more detailed，I thought roudi holdall the chunk，so app is hard to corrupts roudi‘s data

[2022-03-31 16:17] elBoberido commented on #1307
@mossmaurice I extended the description with an additional optional `EXPECT_THAT(errorHandlerMock.getErrorLevel(), Eq(iox::ErrorLevel::SEVERE));`
With that, everything from our current test code should be portable to the refactored `ErrorHandlerMock`

[2022-03-31 16:21] elBoberido commented on #1293
@mossmaurice I had an inspiration. What do you think about having and `impl` or similar folder, e.g.
[code]
We need maybe a better name, but I guess you know what I mean.
With this we would still hide the `internal` header and could get the documentation from the base class.

[2022-03-31 16:47] elBoberido opened #1308 "iceoryx does not set the SOVERSION"
## Required information

**Operating system:**
POSIX

**Compiler version:**
all

**Observed result or behaviour:**
A library build with iceoryx 1.0 could dynamically link to iceoryx 2.0 shared libs

**Expected result or behaviour:**
Linking should not be possible

**Further information***

[code]
produces the following output
[code]
It should actually be `libiceoryx_posh.so.2`, etc.

To fix this,

[2022-03-31 16:47] elBoberido commented on #1308
@dkroenke this might also be interesting for you

[2022-03-31 17:13] #1126 closed

[2022-03-31 17:29] elBoberido commented on #1066
@dkroenke since you already worked on clang-tidy rules and tried to better decouple out modules in hoofs, what do you think would be the best place for a `asStringLiteral` template? `cxx/helplets.hpp`?

[2022-04-01 09:08] dkroenke opened #1311 "CMake warning: empty command-line option"
## Required information

**Operating system:**
Ubuntu 20.04 LTS

**Compiler version:**
CMake 3.23.0 (Released on 29-03-2022)
GCC 9.4.0

**Observed result or behaviour:**
Taken from https://github.com/eclipse-iceoryx/iceoryx/pull/1310#issue-1188699313

Build log:
[code]

**Expected result or behaviour:**
No CMake warning shall be emitted.

**Conditions where it occurred / Performed steps:**

1. Dow

[2022-04-01 16:23] elBoberido commented on #1306
@sgf201 at first you need to check where the core dumps are stored
[code]
If the output is something like
[code]
then `coredumpctl -l` can be used to get a list of core files and `coredumpctl gdb 42691` to let gdb create a backtrace for process with PID 42691.
If the output is different, then a core file will be saved at the location of the output. You can then use `gdb --core path/to/core/file pa

[2022-04-04 17:44] #1072 closed

[2022-04-06 11:05] #971 closed

[2022-04-08 09:32] elfenpiff opened #1323 "Double build issue in ROS2 build farm"
From @Blast545:

This PR attempts to fix some warnings in the ROS2 buildframs, it will need to be backported to release1.0 as well.

References: https://build.ros2.org/view/Rci/job/Rci__nightly-release_ubuntu_jammy_amd64/39/cmake/new/folder.-1345874543/
https://build.ros2.org/view/Gci/job/Gci__nightly-release_ubuntu_focal_amd64/112/cmake/

What happens with the current code in the buildfarm is tha

[2022-04-08 20:49] #1323 closed

[2022-04-11 08:20] #1099 closed

[2022-04-11 09:51] dkroenke commented on #1176
@niclar Looking at the tickets this is currently not planned, but you are invited to make a proposal Pull-Request for this.

[2022-04-11 11:03] elfenpiff opened #1330 "Turn remaining tests with time critical sections into `TimingTest`"
## Brief feature description

The CI on some targets, especially Windows & FreeBSD, is more sensitive in timing tests which lead to failing CI builds. This can be written more robust by using our gtest `TimingTest` extensions.

[2022-04-11 11:58] elBoberido commented on #1330
@elfenpiff before we start to make the tests a `TimingTests` and hide bugs like it already happened at least once, we should check it these tests could be refactored without making them a `TimingTest`

[2022-04-11 12:06] elfenpiff commented on #1330
@elBoberido this is a good idea. I add this to the issue!

[2022-04-12 13:12] mossmaurice opened #1332 "Create an `ara::com` example to showcase usage with AUTOSAR Adaptive"
## Brief feature description

iceoryx can be used as an [ara::com](https://www.autosar.org//fileadmin/user_upload/standards/adaptive/17-03/AUTOSAR_EXP_ARAComAPI.pdf) implementation defined in AUTOSAR Adaptive and was created in 2015 exactly for this use-case. However, the iceoryx API has change in the last releases. To make it easier for users writing the glue code an example shall be created.

##

[2022-04-13 11:08] elfenpiff opened #1333 "home for the iceoryx design patterns (builder, newtype, ?creation?)"
## Brief feature description

Currently the home of our design patterns is `iceoryx_hoofs/design_pattern`.

We either move the newtype into that folder or find a new home for them.

[2022-04-13 12:43] elBoberido commented on #1333
Maybe we need to restructure the hoofs even more. It will be a challenge to not break source compatibility too much

[2022-04-13 14:36] karthiknit1 opened #1334 "Error: Could not find group with id 101"
## Required information

**Operating system:**
E.g. MacOS BigSur 11.5

**Compiler version:**
E.g. Xcode 13

**Observed result or behaviour:**
I built "iox-roudi" application by following the build process as mentioned in the document and ran into this error:

/System/Volumes/Data/kvennapu/iceoryx_mac/iceoryx/iceoryx_utils/source/posix_wrapper/posix_access_rights.cpp:86 { static cxx::optional<Posix

[2022-04-13 15:34] elBoberido commented on #1334
@karthiknit1 is it possible for you to assign a group name for that id?

RouDi creates two shared memory segments, one is named `iceoryx-management` and the second one which is used for the payloads is named according to the uses which has write access to this shared memory. By default it is the name of the group RouDi was started. It can be changed in `/etc/iceoryx/roudi_config.toml` but your app

[2022-04-13 15:59] karthiknit1 commented on #1334
@elBoberido What is the command to assign a group name to a group id i.e., 101 in my case?

[2022-04-13 16:50] elBoberido commented on #1334
@karthiknit1 I have no idea how it can be done on macOS. Did you do something special to have a system without a group name?

[2022-04-14 12:45] #1311 closed

[2022-04-14 13:05] #996 closed

[2022-04-18 02:24] sgf201 opened #1335 "Discusion: How about using iceoryx as a mem pool for all mem"
since the safty of iceoryx , I would like to use it as the base memory pool as the manager of all memory. Is there any harm in using it this way? The advantage is that all memory is very fast if it needs to communicate（although most of them will not send to other process)

[2022-04-19 11:27] elBoberido commented on #1335
@sgf201 I'm not quite sure if I understand your question. Do you want to use our mempools separately from the publish-subscribe or request-response communication?
This would be possible but there are no API guarantees and most probably there will be a bigger refactoring which would change that API quite a bit.

[2022-04-19 15:28] qclzdh opened #1336 "how to use userheader in the untyped request/response"
If i have a common IPC send function as following code, parameter msgPayload is untyped, it may changed according some other conditions, and paramter cnt is the number of msgPayload, so the total size i want to send is header + sizeof(msgPayload) * count

[code]
it is very easy to wrap by using iox untyped_publisher funtions, since loan functions of untyped_publisher has "head" paramter.
[code]
an

[2022-04-19 16:11] elBoberido commented on #1336
@qclzdh request-response does not support a user-header since it already uses that portion of the chunk for it's own header. This means the segmentation must be done by the user on the user-payload portion of the chunk

[2022-04-19 16:24] qclzdh commented on #1336
@elBoberido Thanks, if there is no smart way, i will pack them together. It looks a little ugly, but should work well.

[2022-04-19 16:31] qclzdh commented on #1336
@elBoberido  is there any limitation about payloadAlignment, for example payloadSize % payloadAlignment must equal to 0 ?

[2022-04-19 16:31] elBoberido commented on #1336
@qclzdh it's not the most convenient solution but should work. If there is a big demand for a user-header with request-response we can think of extending the API but it might become quite complex on the user side

[2022-04-19 16:33] elBoberido commented on #1336
@qclzdh yes, the assumption was that the payload will contain a struct and therefore the same restrictions apply

[2022-04-20 00:44] qclzdh commented on #1336
Yes, userHeader is mandatory, please consider to extend the API.

[2022-04-20 13:56] elBoberido opened #1338 "FreeBSD CI build is broken"
## Required information

The fix for github CVE-2022-24765 broke the FreeBSD build

More information on the CVE:
https://github.blog/2022-04-12-git-security-vulnerability-announced/

**Operating system:**
FreeBSD

**Compiler version:**
all

**Observed result or behaviour:**
The CI aborts with `fatal: unsafe repository ('/Users/runner/work/iceoryx/iceoryx' is owned by someone else)`

**Expected res

[2022-04-21 06:46] Makmanfu opened #1340 "make example <ice_callbacks_subscriber.cpp> error"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

cmake "ice_callbacks_subscriber.cpp"
![image](https://user-images.githubusercontent.com/21964693/164390250-9d165051-c496-45fd-a813-bd82c99b4dab.png)

[code]

'find_package' not convenient for me, How can I improve？

[2022-04-21 11:20] elBoberido commented on #1340
@Makmanfu `find_package` is the idiomatic cmake way of using the external packages so I strongly suggest to use it. If not, the header path must be manually added to `CMAKE_INCLUDE_PATH` and the library path to `CMAKE_LIBRARY_PATH`. I would strongly suggest to use `find_package` though.

[2022-04-22 18:03] elBoberido opened #1341 "Uninteresting mock function calls in tests"
## Brief feature description

Running the tests results in many warnings regarding uninteresting mock calls. This is quite noisy and might mask some real issues.

The tests should not have these warnings.

[2022-04-22 20:28] #280 closed

[2022-04-25 16:12] #1341 closed

[2022-04-27 14:45] mossmaurice commented on #1042
Duplicate of #325, closing this issue. @qclzdh Feel free to reopen if you have more questions.

[2022-04-27 14:45] #1042 closed

[2022-04-29 15:22] elBoberido commented on #1340
@Makmanfu I close this issue for now. This is not directly related to iceoryx but more how to integrate 3rd party software without cmake. Feel free to reopen if you have a different opinion.

[2022-04-29 15:29] elBoberido commented on #1334
@karthiknit1 I close this issue for now. If there are still problems feel free to reopen again.

[2022-04-29 15:32] elBoberido commented on #1306
@sgf201 any updates? Do you still have crashes?

[2022-04-29 15:33] elBoberido commented on #1305
@sgf201 do you still have this issue?

[2022-04-29 15:37] elBoberido commented on #1293
@mossmaurice this was fixed with #1315 from the workaround on the release branch. It's different than the proposal above but still works. Are you in favor of a different solution or are you fine with the workaround?

[2022-04-29 17:15] elBoberido opened #1345 "Refactor Logger"
## Brief feature description

Log messages cannot be forwarded to another logging framework. To make this possible, the logger must be refactored.

## Detailed information

When iceoryx is used with another framework it is not possible to forward log messages to the native logger of the framework.

The logger shall be refactored to be able to to switch the backend at compile time or at runtime.

#

[2022-04-30 19:36] mossmaurice commented on #1293
@elBoberido The workaround is ok for me long term. However, we should document this somewhere not to forget if e.g. new files are added. I suppose the `CONTRIBUTING.md` would be a good place. Can you add a few senteces there?

[2022-04-30 19:58] mossmaurice commented on #208
@FerdinandSpitzschnueffler @elfenpiff

Regarding:

I had a look yesterday: For #1332 I wanted to replace a

[code]

with

[code]

turns out with owning string implementations (e.g. `std::memcpy`) it is only possible from C++20 and onwards, but even GCC and clang do [**not** support the feature for `std::string` in their current stable versions yet](https://en.cppreference.com/w/cpp/compiler_suppor

[2022-05-02 08:17] MatthiasKillat opened #1346 "Option to prevent local subscriptions"
Optionally suppress data for local subscribers (i.e. local subscribers will not match). In this case a local subscriber is in the same process (or node? TBD) as the publisher.

## Detailed information

Add option to subscribers (and maybe publishers) that does prevent local subscription. By default it is off, i.e. the system behaves as it does now and local subscribers receive data.

RouDi already

[2022-05-02 09:04] elfenpiff commented on #1345
@elBoberido What do you think about dividing this issue in multiple sub issues? This issue is kept to keep track of the overall feature progress and every task gets its own issue which is linked in the task todo list here.

Then we can manage discussions at the right place and prevent comment cluttering in the main issue.

[2022-05-03 12:57] elBoberido commented on #1345
@elfenpiff I'm a bit torn on this. For me the design document, implementation and tests belong together in one issue. Integration might be a different issue.

The question is also how this is handled when someone does not use subtasks? Is this person then not allowed to have multiple PRs for the same issue? Do we enforce to have subtasks? What happens when someone notices that it might be better t

[2022-05-04 07:41] niclar opened #1347 "[ 11 ] Resource temporarily unavailable"
Hi, we just experienced our first roudi (v.2.0.0) outage. Ubuntu 20.04 LTS.   clang 14

most of the clients  worked but two of the publishing clients received the below, & the introspection program did not work, a machine restart was needed to resolve it;

Any pointers as to why ?  Pub/sub is setup as;
`publisherOptions.subscriberTooSlowPolicy = iox::popo::ConsumerTooSlowPolicy::WAIT_FOR_CONSUMER;

[2022-05-04 09:13] elfenpiff commented on #1347
@niclar

The message originates right in the beginning when the application calls `iox::runtime::PoshRuntime::initRuntime(APP_NAME);`. Here the application registers at roudi and retrieves as answer all required resources. But in your case roudi did not answer. When roudi is not running the socket is not available and you should get an error message like: `PoshError::IPC_INTERFACE__REG_UNABLE_TO_W

[2022-05-04 09:28] elfenpiff commented on #1347
@niclar

I digged a little around and when a blocking publisher is unable to send data it enters a busy loop, which is perfect for latency but horrible for the CPU load. So when the subscriber is much slower then the publisher and you should see in a system monitor like `htop` a cpu load spike to 100% whenever the publisher waits for the subscriber to process the sample.
I suspect that your proble

[2022-05-04 09:45] niclar commented on #1347
Thanks for he feedback!
* might have been that roudi was SIGKILLed in a previous run on a machine restart
* after the a machine restart I now have new /tmp/roudi & /tmp/roudi.pid   ...
* re machine load , I don't think so, maybe that one core spiked, at the time .but when trying to start the client process anew the same error poped up , cpu load was would have been much lower at that point ( 50% )

[2022-05-05 11:47] MatthiasKillat commented on #208
@mossmaurice I do not understand. The point of a view (e.g. `string_view`) not to own anything, but only reference the original and return a potentially transformed version to the user of the view, say only a substring or a reversed string etc.

Hence we still have to solve he problem that whatever the view references must exist and in your particular case also be constexpr. It is likely possible

[2022-05-05 15:57] niclar opened #1350 "PORT_POOL__PUBLISHERLIST_OVERFLOW"
We just encountered a issue in one (or two) publisher (roudi port overflow), is the limit configurable somewhere ?

Roudi log:
2022-05-05 15:00:51.359 [Warning]: ICEORYX error! PORT_POOL__PUBLISHERLIST_OVERFLOW
2022-05-05 15:00:51.359 [ Error ]: Could not create PublisherPort for application 'icf.prd' with service description 'Service: MarketView, Instance: prd, Event: 230751669426589967'
2022-05-

[2022-05-05 16:30] elfenpiff commented on #1350
@niclar

Yes it is configurable. See: https://github.com/eclipse-iceoryx/iceoryx/blob/master/doc/website/advanced/configuration-guide.md

Just call the first `cmake` step with `cmake -Bbuild -Hiceoryx_meta -DIOX_MAX_PUBLISHERS=123` to set the maximum number of publisher in the whole system to 123. The default value is 512.

[2022-05-06 07:27] niclar commented on #1347
we experienced the very same issue this morning and nothing  (rm -r /tmp/roudi & restarting roudi, subscribers and publishers) but a reboot solved it.

[2022-05-06 07:30] elfenpiff commented on #1347
@niclar The PR #1349 should fix this issue. At the moment it requires some fine tuning but I think that it should be merged next week.

[2022-05-06 07:32] niclar commented on #1347
@elfenpiff many thanks. I'll monitor it

[2022-05-06 07:38] elfenpiff commented on #995
Every example is already using geoffrey.

[2022-05-06 07:38] #995 closed

[2022-05-06 07:43] elfenpiff commented on #814
This is also addressed in issue #1143 and the linked PR #1348

[2022-05-06 07:43] #814 closed

[2022-05-06 07:53] elfenpiff commented on #560
Sample Deleter is removed in #1348 so this issue is no longer valid.

[2022-05-06 09:07] elfenpiff opened #1351 "Concept to separate safety critical API from non critical."
## Brief feature description

Some containers and classes may have an API which should avoided in a safety critical context since it can cause mistakes and bugs easily.

Examples could be:
[code]

We should provide an alternative API which performs the same task like for instance:
[code]

And separate the unsafe API from the safe API like for instance
[code]

## ToDo

* [ ] Write design document h

[2022-05-06 12:55] elfenpiff commented on #560
@elBoberido you are right but I think this is something bigger. I reopen the issue.

[2022-05-06 13:18] #1143 closed

[2022-05-09 11:21] poetinger opened #1352 "Update Cyclone DDS maintainer"
## Brief feature description

**ADLINK Technology Ltd** is now **ZettaScale Technology**, thus the table `Where is Eclipse iceoryx used?` should be updated to reflect this change.

## Detailed information

In the table `Where is Eclipse iceoryx used?`, it lists _Cyclone DDS_ as maintained by [ADLINK Technology Inc.](https://www.adlinktech.com/en/index.aspx), this should be changed to **ZettaScale

[2022-05-09 12:16] elBoberido commented on #1352
@poetinger thanks for the hint. We are a bit hesitant to change the links since the ZettaScale homepage is still a work in progress.

[2022-05-09 12:30] poetinger commented on #1352
@elBoberido Good point, I can check here that this will remain the homepage. I will also open a PR with the change, and will update this after confirming the website.

[2022-05-09 12:46] poetinger commented on #1352
I do not yet have the ECA signed, so somebody can take this commit as needed. I will update this thread again when I hear a positive response that the homepage will remain as linked in the commit.

[2022-05-09 12:52] poetinger commented on #1352
@elBoberido  I have confirmed that the address included in this commit is the correct address and will be the be address henceforth.

[2022-05-09 13:01] elBoberido commented on #1352
@poetinger signing the ECA is done within a few minutes but if you don't want to sign it, I can do the changes to the links.

[2022-05-10 09:38] #1352 closed

[2022-05-11 09:27] niclar opened #1354 "Request publisher received no valid publisher port from RouDi."
we are getting errors in one of our publishers, despite roudi, publisher & subscriber restarts;

2022-05-11 09:18:21.163 [ Error ]: Request publisher received no valid publisher port from RouDi.
Condition: t != nullptr in iox::cxx::not_null<iox::popo::PublisherPortData *const, void>::not_null(T) [T = iox::popo::PublisherPortData *const] is violated. (/mnt/c/src/thirdparty/vcpkg/installed/x64-linux

[2022-05-11 12:12] #1354 closed

[2022-05-13 14:56] elBoberido opened #1359 "ServiceDiscovery uses instrospection MemPools"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
The ServiceDiscovery uses the MemPools which are dedicated to the introspection. Currently this works by luck since there is an introspection topic which requires larger chunks than the service discovery data. When this changes, e.g. due to a refactoring, the ServiceDiscovery won't be a

[2022-05-16 08:41] elfenpiff commented on #1359
Oh, I thought it was implemented that it comes with its own mempool?! Then I did not review carefully enough.

[2022-05-17 09:45] mossmaurice commented on #208
@csitarichie This is the issue I mentioned yesterday. Check out [my comment](https://github.com/eclipse-iceoryx/iceoryx/issues/208#issuecomment-1114045466) above on a `constexpr`'able `cxx::string`. You can find the implementation [here](https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_hoofs/include/iceoryx_hoofs/cxx/string.hpp). If you see a possibility to implement it with C++14, I

[2022-05-17 14:09] elfenpiff commented on #1347
@niclar Could you please try your setup with the newest master. Your problem should be solved now, if not please reopen this issue again.

[2022-05-17 15:00] #1350 closed

[2022-05-18 11:49] niclar commented on #1347
@elfenpiff I can't seem to be able to reopen this issue. But we just experienced this issue again with the HEAD 7ef84628c003b5c9d1f0e38bed6a15a94b9a1d71.

Publisher:
/mnt/c/src/thirdparty/vcpkg/buildtrees/iceoryx/src/a94b9a1d71-f35279b8e1.clean/iceoryx_hoofs/source/posix_wrapper/unix_domain_socket.cpp:249 { cxx::expected<IpcChannelError> iox::posix::UnixDomainSocket::timedSend(const std::string &,

[2022-05-18 18:00] elfenpiff opened #1361 "improve process is alive detection"
## Brief feature description

When on high CPU load it is possible that the heartbeat thread does not send its heartbeats in a given time-frame. This can cause roudi to cleanup all resources of the application which missed the heartbeat which may lead to use of resources which are deleted.

The solution should be as efficient as possible and may avoid context switches or sending messages (if possi

[2022-05-18 18:02] elfenpiff commented on #1347
@niclar It may be possible that some weird high cpu load is somewhere present. Could you please send me the output of `htop` at the moment when this occurs?

[2022-05-18 20:22] tobiasblass opened #1362 "Clarify documentation of optionals"
## Brief feature description

Two improvement proposals for the optional documentation:

1) The documentation claims that some behavior is undefined, even though the iceoryx variant of optionals terminates in this case
2) The optional documentation only states at the very end that optionals follow the standard C++ API. Mentioning this earlier would make the article easier to follow.

[2022-05-19 07:19] quanqixian opened #1364 "Compile Error : iceoryx_dds/Mempool.hpp: No such file or directory"
## Compile Error

**Operating system:**
Ubuntu 18.04.4

**Compiler version:**
gcc version 7.5.0

**iceoryx version:**
iceoryx-2.0.2

**Problem Description:**

I try build as:

Build with script

[code]

Build with CMake

[code]

Both errors occurred

[code]

I would like to know how to solve this problem, thanks a lot

[2022-05-19 07:59] mossmaurice commented on #1361
@elfenpiff This is related to both #611 and #620. We should follow RAII for the resources of the app. I suppose a hierarchical structure as sketched in the `.puml` would allow easier handling of the resources in shared memory.

[2022-05-19 08:17] #1362 closed

[2022-05-19 08:28] dkroenke commented on #1364
What could help is that the CMake files in iceoryx expect to have CMake version 3.16 or greater installed, otherwise the build fails. (Hint: Ubuntu 18 users can install `cmake-mozilla` package from the universe repository provided by Canonical)

[2022-05-19 08:39] elfenpiff commented on #1361
@mossmaurice loosely related. But the problem in here is not the handling of shared memory resource.

RouDi falsely assumes that an application has died since the high cpu load prevented that application to send the heartbeat in the required time frame.

[2022-05-19 09:14] elBoberido commented on #1361
@elfenpiff I think there is the possibility to use a pipe or stream socket. AFAIK when the writing end of a pipe/stream socket gets closed, the process with the receiving end would get a `POLLHUP` via `poll`

[2022-05-19 09:39] quanqixian commented on #1364
I compiled the code using cmake version is 3.23.1

[code]

[2022-05-19 16:29] FerdinandSpitzschnueffler opened #1365 "POSIX wrapper for pthreads"
## Brief feature description

We need a POSIX wrapper for `pthreads` to get rid of exceptions and undefined behavior.
For posix platforms the wrapper shall support:

* Set stack address
     * https://man7.org/linux/man-pages/man3/pthread_attr_setstack.3.html
     * consider suggestions in #1400
* Setting scheduler priority
    * https://man7.org/linux/man-pages/man3/pthread_setschedprio.3.html
*

[2022-05-19 16:58] quanqixian commented on #1364
This is the final terminal output when the error occurs, and [here](https://github.com/quanqixian/iceoryx_build_log/blob/main/README.md) is the full compilation output

[code]

[2022-05-20 08:11] elfenpiff commented on #1364
@quanqixian

Could you please try the following when the error has occurred
[code]

If the approach from above does not work can you please try the following:
[code]

Did one or both approaches work? If so we seem to have some bug in our `CMakeLists.txt`

[2022-05-20 09:10] dkroenke commented on #1364
@quanqixian @elfenpiff

The behaviour can be reproduced by building `iceoryx_dds` with only one core on make.
Problem is that the `custom_command` for generating the Mempool.hpp was not tied directly as dependency to the iceoryx_dds library. It was accidently working because when compiling on multiple cores (e.g. `make -j`) the generator was always earlier done before the compilation of iceoryx_dd

[2022-05-20 09:49] quanqixian commented on #1364
I tried both ways,
The first way successfully completed the compilation,
The second way still occurs this compilation error,
thank you for your reply.

[2022-05-20 09:50] quanqixian commented on #1364
Yes, as you said, I'm compiling on a single-core computer.
I tried your solution and the build completed successfully.
thank you for your reply.

[2022-05-20 11:18] #1364 closed

[2022-05-20 11:31] dkroenke opened #1368 "Add Linter/Formatter for CMake files"
## Brief feature description

Since we have some CMake code to maintain, it make sense to enforce on this code also code quality rules like we do with the C++ code.

A possible tool-framework could be [cmakelang](https://cmake-format.readthedocs.io/en/latest/index.html#) which offers tooling for formatting and linting CMake Code properly.
Other suggestions are always welcome.

## Detailed informat

[2022-05-20 13:09] elfenpiff commented on #1347
@niclar

Another problem could be that you have a lot of applications and you try to start them all at once. Then your system load  increases suddenly and RouDi does not get enough cpu time to answer all of your requests.

One simple solution could be to start all applications sequentially with one or two seconds sleep in between. Then all applications should have enough time to register and roudi

[2022-05-23 11:44] sgf201 opened #1369 "roudi and usr program are running in different user"
## Brief feature description
roudi is running in root but usr program are running in worker, user program crash when loan mem from roudi

## Detailed information

how to solve this problem

[2022-05-23 12:14] mossmaurice commented on #1369
Hi @sgf201

thanks for opening this issue. Are you aware of the example [`ice_access_control`](https://iceoryx.io/v2.0.1/examples/ice_access_control/)? It is recommend that RouDi and the apps run with separate user but are all in one common group. Would it be possible for you to adapt your setting in a similar manner? Running RouDi as root is not needed.

[2022-05-24 06:30] elfenpiff opened #1371 "markdown link verificator - sporadic failure"
## Required information

In pull request the `markdown-link-verificator.sh` sometimes fails due to connection timeouts.
This can maybe solved by increasing the timeouts during the link verification and by repeating the web url check when it fails.

If this does not solve the problem the `markdown-link-verificator.sh` should become an optional CI check.

[2022-05-24 07:55] mossmaurice opened #1373 "Allow socket-like IPC mechanisms to transfer '\0'"
## Brief feature description

By using [c'tor 5](https://en.cppreference.com/w/cpp/string/basic_string/basic_string) the current implementations cuts off the `std::string` after each '\0'. Sometimes ''\0' need to be transferred, see #1355.

## Detailed information

* Use [c'tor 4](https://en.cppreference.com/w/cpp/string/basic_string/basic_string) which takes an explicit length
   * [ ] `UnixDomai

[2022-05-24 08:05] elfenpiff commented on #1373
@mossmaurice I will have to work soon on the IpcChannel in RouDi and here I will adjust the overall design a bit in that sense that a `cxx::vector<uint8_t>` will be sent and received and not some kind of string variation. Then this issue should be solved.

[2022-05-24 12:22] elfenpiff opened #1375 "The posix wrapper do not have a fixed posix standard."
## Brief feature description

During the implementation of the `UnnamedSemaphore` we discovered that the man page, as well as the documentation from opengroup differ. See the docu for `sem_init`
* https://pubs.opengroup.org/onlinepubs/9699919799/functions/sem_init.html
* https://pubs.opengroup.org/onlinepubs/9699919799/functions/sem_init.html

Those implementations have different `errno` codes and

[2022-05-24 17:23] #1371 closed, assigned to elfenpiff

[2022-05-30 12:18] #208 closed

[2022-05-31 08:20] shankaranarayanan-c commented on #337
@elBoberido  could you pls reassign this issue to my personal account?

[2022-05-31 08:30] shankaranarayanan-c commented on #337
thanks @dkroenke

[2022-06-01 06:19] #1298 closed

[2022-06-01 15:08] #1065 closed

[2022-06-02 10:43] mossmaurice opened #1378 "Lifetime issue when storing the `popo::Sample`"
## Required information

**Operating system:**
Any

**Compiler version:**
Any

**Observed result or behaviour:**

Comes from this [comment](https://github.com/eclipse-iceoryx/iceoryx/pull/1355#discussion_r885483950):

There are a lot of bugs out there where applications cannot terminate cleanly and cause leaks or segfaults because of this issue.

**Expected result or behaviour:**
Add a notificatio

[2022-06-02 11:26] BhanuKiranChaluvadi opened #1379 "32 bit build failure"
I am trying to compile iceorxy as a part of ros2 packages. I had no problem compiling it to a 64 bit binary but 32-bit build fails. (I am using isar / bitbake tasks to compile iceorxy as a part of a bigger process)

## Required information

**Operating system:**
Linux 704089e4662c 5.13.0-44-generic #49~20.04.1-Ubuntu SMP Wed May 18 18:44:28 UTC 2022 x86_64 GNU/Linux

**Compiler version:**
gcc (Deb

[2022-06-02 12:15] mossmaurice commented on #1379
@BhanuKiranChaluvadi Thanks for reporting this issue!

As mentioned in the [docs](https://iceoryx.io/v2.0.2/getting-started/installation/) iceoryx does currently not support 32-bit systems.

Would it be feasible for you to switch to a 64-bit architecture? If not, could you imagine to contribute 32-bit support? Note upfront: I might be a hard task because of some [lock-free data structures](https:/

[2022-06-02 13:10] elBoberido commented on #1378
@mossmaurice this is a duplicate of #560 if I understand this correct

[2022-06-03 09:30] mossmaurice commented on #1332
Closing this issue in favour of https://github.com/eclipse-iceoryx/iceoryx-automotive-soa/issues/2

[2022-06-03 09:30] #1332 closed

[2022-06-03 11:43] elfenpiff opened #1380 "Disable monitoring (keepalive messages) at compile time"
## Brief feature description

Sending keepalive messages over unix domain sockets in a background thread of every running application can cause jittering as discussed here: #1374

A additional CMake switch to disable this feature for every application and in roudi itself solves the jittering. The compile time switch should disable:
* the background thread in roudi receiving and handling this messa

[2022-06-03 12:15] elfenpiff commented on #1380
Analysis showed that in `posh_runtime_impl.cpp` the sending of the keepalive message in `PoshRuntimeImpl::sendKeepAliveAndHandleShutdownPreparation` caused the problem.

[2022-06-03 12:46] elBoberido commented on #1380
@elfenpiff disabling the whole thread on the application is not easily possible since this thread is also used to unblock block publisher/subscriber on shutdown if the `QUEUE_FULL_POLICY` is set to block.

Just disabling the transmission via unix domain sockets would be fine but writing a timestamp to a shm region dedicated for each process would also be a good temporary solution.

[2022-06-07 14:24] elBoberido opened #1382 "FreeBSD build is broken"
## Required information

**Operating system:**
FreeBSD

**Compiler version:**
Clang 11

**Observed result or behaviour:**
The compilation of the tests fails with
[code]

**Expected result or behaviour:**
Tests should compile

**Conditions where it occurred / Performed steps:**
Build iceoryx on FreeBSD on the CI

[2022-06-07 16:18] elBoberido commented on #1287
@elfenpiff It seems the PR for this issue broke the installation of the header. The `iceoryx_posh` header are installed in `include` and `include/iceoryx/v2.90.0`. The `iceoryx_dds` header are installed in `include`. Everything should be in `include/iceoryx/v2.90.0`.

Additionally the tests are also installed. This is different from before the changes. Not sure if they should also be installed.

[2022-06-08 09:41] #1382 closed

[2022-06-08 15:08] mossmaurice commented on #1287
Reopening due to the duplicate installation of `ìceoryx_posh`

[2022-06-09 16:11] elBoberido opened #1387 "Broken link to AVIN AGNOSAR"
## Required information

It seems that `AVIN AGNOSAR` was renamed `AUTOSAR Adaptive Platform` and the link changed from https://www.avinsystems.com/products/agnosar_ap/ to https://www.avinsystems.com/products/autosar_ap/.

The markdown link should be changed to `[AVIN AUTOSAR Adaptive Platform](https://www.avinsystems.com/products/autosar_ap/)`

[2022-06-09 17:23] elBoberido commented on #823
@elfenpiff I have the feeling we also need a `platform` folder in iceoryx_posh. Some things are quite iceoryx_posh specific and do not fit well into `iceoryx_hoofs`. On thing is actually the `IpcChannel` which is forward declared in `iceoryx_hoofs/platform` but implemented in an higher layer. This feels a bit awkward.

[2022-06-09 17:25] elBoberido commented on #590
@mossmaurice do you think this is related to iceoryx_hoofs?

[2022-06-09 17:31] elBoberido commented on #831
@mossmaurice do you think the `MethodCallback` can also be replaced in the context of this issue?

[2022-06-09 17:38] mossmaurice commented on #831
That's a good idea. I would defintely do it in separate PRs. However, I think this will be quite some effort. But removing `MethodCallback` sooner than later would be great.

[2022-06-09 17:47] mossmaurice commented on #590
@elBoberido

Nope, I think this issue is mainly `iceoryx_posh` related. As discussed today, any architecture guidelines and their respective CI checkers should be implemented for a complete basic example like `icedelivery` and not just for `iceoryx_hoofs`. The only thing I can think about is to split up the `iceoryx_hoofs` modules / namspaces into several CMake targets. But that should probably go

[2022-06-09 17:53] elBoberido commented on #831
@mossmaurice shall I extend the issue name ("Use cxx::function were it is appropriate") and add two tasks, one for `std::function` and one for `MethodCallback`?

[2022-06-09 17:53] #1387 closed

[2022-06-10 08:34] mossmaurice opened #1390 "Implement exception-free `cxx::Future` and `cxx::Promise`"
## Brief feature description

Automotive bindings like `ara::com` are using `std::Future` and `std::Promise` in their APIs. However, they throw exceptions which ins not in line with the iceoryx coding guidelines.

## Detailed information

* [ ] Anlayse feasablity of such an implementation
   * [ ] Check how API could be as close to the STL but with using `cxx::expected`
* [ ] Implement exception-f

[2022-06-10 08:56] mossmaurice opened #1391 "Split `iceoryx_hoofs` into logical modules"
## Brief feature description

Currently, `iceoryx_hoofs` uses a monolithic `CMakeLists.txt`. To model and control the dependencies of the `iceoryx_hoofs` modules / namespace like `cxx`, `concurrent`, etc. the `CMakeLists.txt` shall be split up into several ones. The overall goal is a cleaner architecture.
An interface library shall be used to wrap the different libraries to the target `iceoryx_hoo

[2022-06-10 08:56] mossmaurice commented on #590
[Done](https://github.com/eclipse-iceoryx/iceoryx/issues/1391) :heavy_check_mark:

[2022-06-10 11:46] MatthiasKillat opened #1392 "Only use noexcept in functions that definitely cannot throw"
## Brief feature description

Currently almost all functions are marked as `noexcept`. This has severe implications: every function that would throw and exception will terminate when the exception tries to leave the function (it is still generated in this function or lower in the call stack).

The goal is to only mark functions as `noexcept` if we can guarantee that they cannot throw under any cir

[2022-06-10 13:13] MatthiasKillat commented on #1392
This is incomplete and requires agreement about the overall strategy before we proceed. It is, however a separate issue from
 https://github.com/eclipse-iceoryx/iceoryx/issues/1032 which is concerned with the `ErrorHandler`.

[2022-06-10 13:30] MatthiasKillat commented on #1390
@mossmaurice See https://github.com/MatthiasKillat/iceoryx/tree/iox-futures-experimental for an incomplete approach how to implement `std::future` if this is the actual problem.

Now there are a lot of subtle races that need to be solved when attempting an implementation, especially if no dynamic memory is allowed.

Furthermore `ara::future` is maybe allowed to behave entirely differently or expec

[2022-06-11 01:59] lopsided98 opened #1393 "CMake config assumes relative `CMAKE_INSTALL_LIBDIR`"
## Required information

**Operating system:**
Nix

**Compiler version:**
GCC 10.3.0

CMake allows the `CMAKE_INSTALL_*DIR` variables to be specified as absolute paths. This means they must not be concatenated with `CMAKE_INSTALL_PREFIX` in an attempt to form an absolute path. See here for more information: https://github.com/jtojnar/cmake-snips#assuming-cmake_install_dir-is-relative-path

`iceory

[2022-06-13 09:09] mossmaurice commented on #1392
@MatthiasKillat Thanks for opening this issue! Based on thhis [custom clang-tidy rule](https://github.com/mossmaurice/llvm-project/blob/add-custom-noexcept-all-the-things-rule/clang-tools-extra/clang-tidy/misc/NoexceptAllTheThingsCheck.cpp) I might be able to parse the implementation of the methods and check the method calls for a `noexcept` keyword. Not 100% if this will work, though.

[2022-06-13 09:30] elfenpiff commented on #419
@elBoberido I think so too. Actually, if @marthtz doesn't mind I would close this issue since we may have to refactor posh to make it fully operational in a safety critical environment and then we will consider this directly.

[2022-06-13 09:35] elfenpiff commented on #831
@MatthiasKillat @mossmaurice @elBoberido

I added a subtask to also remove the `MethodCallback`. This was only a quick solution to capture `this` in a callback and with `cxx::function` this abstraction is not needed anymore.

[2022-06-13 09:58] elBoberido commented on #823
@elfenpiff exactly, this should be lean since all the abstraction is already done in `hoofs` and this is just the mapping.

[2022-06-13 11:18] MatthiasKillat commented on #1032
Working on this now. Starting with a list of requirements followed by a prototype.

[2022-06-13 11:43] saif-at-github opened #1394 "Address Autosar Violations using Axivion"
## Brief feature description

Fix the Autosar violations reported by Axivion

## Detailed information

The static code analysis using Axivion shall be performed and all the potential bug and violations shall be addressed.

### `iceoryx_hoofs`

#### `cxx`

* [x] `algorithm.hpp` @FerdinandSpitzschnueffler
* [x] `deadline_timer.hpp` @FerdinandSpitzschnueffler
* [x] `duration.hpp` @ithier
* [x] `expec

[2022-06-13 17:34] elBoberido opened #1396 "Wrong memory order in concurrent::FIFO"
## Required information

The pop method of the `concurrent::FIFO` has a wrong memory order which can result in a race condition and unsynchronized memory access.

The instruction of this code can be reordered
[code]
to this
[code]
This leads to corrupted data since the push thread can already write to `currentReadPos`.

Writing to `m_read_pos` must be done with `std::memory_order_release` to preve

[2022-06-13 17:37] elBoberido commented on #1396
cc @MatthiasKillat @elfenpiff @hrenkap

[2022-06-14 14:04] #1396 closed

[2022-06-15 19:57] elBoberido commented on #1365
@FerdinandSpitzschnueffler since we cannot use the heap I think setting the stack address is more of a must have than a nice to have.

[2022-06-16 04:58] UranusTsing opened #1401 "Compile error on qnx platform"
## Required information

**Operating system:**
qnx

**Compiler version:**
QCC 8.3.0

**Observed result or behaviour:**
~/build/CMakeFiles/CMakeError.log:
{
Compiling the C compiler identification source file "CMakeCCompilerId.c" failed.
Compiler: ~/qnx710/host/linux/x86_64/usr/bin/qcc
Build flags:
Id flags: -c;--target=gcc_ntox86_64

The output was:
1
cc: unknown option: '--target=gcc_ntox86_64'

[2022-06-17 03:03] UranusTsing commented on #1401
@elfenpiff  I am honored to share my contribution to the community.
I will add a pull request with this change to Ending this issue, Thank you!

[2022-06-18 01:31] lopsided98 commented on #1393
This happens with Nix/nixpkgs. Nix installs every package into an isolated directory, and we often want to split software into multiple packages (e.g. libraries, binaries and headers) to reduce installation size. Therefore, each of `CMAKE_INSTALL_*DIR` is specified as a different absolute path.

If you need an absolute path, you should use `CMAKE_INSTALL_FULL_*DIR`. Sometimes things like pkgconfig

[2022-06-20 02:06] qclzdh commented on #1361
Some info shared from my side about monitor mode:
When CPU load is high, There is a high possibility that "keepalivemsg" can't be sent to roudi within PROCESS_KEEP_ALIVE_TIMEOUT, we use "posix::FileLock::create(runtimeName);" to check that process is really died or not.

[2022-06-20 17:46] elfenpiff opened #1405 "PoshRuntime and all IpcChannels must be thread-safe"
## Brief feature description

A completely valid use case is to create multiple threads in an application and to create in those threads ports, listeners or waitsets.
All those object will call the `PoshRuntime` to acquire a resource. Since this is absolutely hidden from the user no one can be aware that here concurrency issues may arise. Even notes and warnings in documentation will not prevent t

[2022-06-20 17:46] elfenpiff commented on #1405
cc @elBoberido @budrus

[2022-06-20 18:17] elBoberido commented on #1405
@elfenpiff the `PoshRuntime` is already thread-safe. Currently this is done by manually locking a mutex. For the IpcChannels, this is not required since the `PoshRuntime` is already guarded by a mutex and AFAIK we don't have a shared state in the abstractions and `sendto` is MT-safe (have to check this).

Just for clarification. I'm not advocating against such an API change

[2022-06-21 08:32] #1401 closed

[2022-06-21 15:51] MatthiasKillat opened #1409 "is_invocable_r"
## Brief feature description

`is_invocable_r` and `is_invocable` do not work properly with function types (as opposed to function pointers) as in

`cxx::is_invocable_r<int, decltype(f), int>`. This is a minor issue since it works with function pointers such as `cxx::is_invocable_r<int, decltype(&f), int>`.

This should be remedied with C++17 as there `std::is_invocable_r ` is available.

The test

[2022-06-22 12:56] elfenpiff opened #1410 "Iceoryx Environment should have a separate ice_env container for every OS_VERSION"
## Brief feature description

At the moment the docker container remains when one reboots the computer which leads to an error when the docker should be started again.
We could simply reused it.

When one hops between multiple OS_VERSIONS the ice_env container has to be deleted first and a new one has to be created and setup which takes time. It would be better when the container would be named ic

[2022-06-23 06:02] #1410 closed

[2022-06-23 07:38] dkroenke commented on #1393
Hey @lopsided98,
yes that sounds reasonable and a short test shows that the absolute path is correct like the previous one which is concatenated.
We would be happy if you bring 36f4917 as contribution to iceoryx. When you do this you can add an entry in the changelog: https://github.com/eclipse-iceoryx/iceoryx/blob/master/doc/website/release-notes/iceoryx-unreleased.md under the Bugfix section.

[2022-06-23 15:29] elfenpiff opened #1413 "RouDi terminating application not via SIGTERM (because of EINTR)"
## Brief feature description

When roudi is terminating applications it sends a SIGTERM to the application.

This comes with the following problems:
* When the application does not have a signal handler registered it is terminated without cleaning up its resources. Resources like named semaphores, shared memory, files are then remaining and may lead to misbehavior when the application is restarted

[2022-06-23 15:29] elfenpiff commented on #1413
cc @elBoberido

[2022-06-23 15:37] elfenpiff opened #1414 "Clean SIGTERM handling"
## Brief feature description

When using `SignalWatcher` one has the ability to wait for `SIGTERM` with `iox::posix::waitForTerminationRequest()` or ask if `iox::posix::hasTerminationRequest()` - both registers a signal handler.

But when the application receives `SIGTERM` before the signal handler was registered implicitly in one of those calls then the resources are not cleaned up and maybe leak

[2022-06-23 19:02] elBoberido commented on #1414
@elfenpiff I think option 2 would be hidden to the user and might result in surprises. Option 1 might be something to consider but I don't have a clear preference.

[2022-06-23 19:06] elBoberido commented on #1413
@elfenpiff this goes into the direction @budrus and me once had in mind https://github.com/eclipse-iceoryx/iceoryx/issues/615#issuecomment-815636049

The big question would be how this is communicated. Via a flag in shared memory? Via an IPC channel? If the latter, then we need a maintenance thread, which we currently also have because of the keep alive and the unblocking of the potentially blocke

[2022-06-24 08:21] #751 closed

[2022-06-27 06:46] BH1SCW commented on #879
It seems that this bug still not be fixed yet?

/usr/bin/ld: /usr/local/lib/libiceoryx_binding_c.a(c_subscriber.cpp.o): relocation R_X86_64_PC32 against symbol `_ZN3iox12ErrorHandler7handlerE' can not be used when making a shared object; recompile with -fPIC
/usr/bin/ld: final link failed: bad value
collect2: error: ld returned 1 exit status
make[2]: *** [src/core/CMakeFiles/ddsc.dir/build.make:23

[2022-06-27 07:19] ZhenshengLee commented on #879
@BH1SCW  Actually this issue was closed as rejected.

No, the official tool rust-bindgen from rust is not supported by official iceoryx.

the issue you described is the fact that there are mangled and pure symbols mixed in `libiceoryx_binding_c.a`

As for now the publisher example works.

this patch e65780d2002beb5f79cabcd95278d5561988775b of iceoryx change all symbols become mangled in `libiceory

[2022-06-27 07:36] elfenpiff commented on #879
@BH1SCW

From the first look it seems like it is maybe a different issue
[code]

We compile every library and application with `-fPIC` since we require position independent code and it looks like this is missing here. Could you try to add this flag and retry again if it solves your issue.

But if you are looking for a nice rust API for iceoryx you can also look at https://github.com/eclipse-iceory

[2022-06-27 08:04] BH1SCW commented on #879
I am not sure if it is a good patch for submitting :)

[2022-06-27 08:17] ZhenshengLee commented on #879
OK, this should be another issue about compiling.

Agreed, so the problem is open for the iceoryx team.

[2022-06-27 09:17] elfenpiff opened #1419 "Slash in runtime names is interpreted as sub path"
## Required information

**Observed result or behaviour:**
It is impossible to create a runtime with an app name which has a slash since this is interpreted as path by some underlying constructs.

[code]

The problem is caused by multiple posix constructs:
* The `FileLock` which tries to create a file lock under `/tmp/aaargh/aaaaaargh/whoopsie.lock` but the sub folders are not existing
* The `Unix

[2022-06-27 10:01] elfenpiff commented on #879
@BH1SCW Thank you very much for finding the fix!

I created a PR, could you please take a look at #1420 and checkout if this fix solves your issue.

The reason I adjusted it myself instead of adding

was

1. We have CMake macros in place which setup all libraries and executables in a unified fashion and this would be the place for this setting, see `iox_add_library` and `iox_add_executable`
2. Whe

[2022-06-27 10:34] elBoberido commented on #1419
@elfenpiff is this really a breaking change? If I understand you correctly, this is already broken and we would now handle it more graceful

[2022-06-27 11:13] elBoberido commented on #879
@elfenpiff I'm still in favor of the wrapping :)

[2022-06-27 12:30] elBoberido opened #1421 "EXPECT_DEATH tests do noch check for the reason of death"
## Brief feature description

Most of the `EXPECT_DEATH` tests do not check for a specific error string but accept any error string.

## Detailed information

The `EXPECT_DEATH` tests should always check for a specific error string else the death could be caused by a separate reason and remains unnoticed.

After the error handler refactoring it might not be necessary to have death tests anymore. I

[2022-06-27 12:38] elBoberido opened #1422 "Runt the tests with "--gtest_death_test_style=threadsafe""
## Brief feature description

Some of our death tests run with the `RouDiEnvironment` which already spawned threads in the background. By default, gTest issues a warning when a death test with multiple threads is running.

## Detailed information

With the `--gtest_death_test_style=threadsafe` this is not the case anymore but some tests fail with `ICEORYX_ROUDI_MEMORY_MANAGER__ROUDI_STILL_RUNNING`

[2022-06-27 15:52] elBoberido opened #1425 "Create convenience macro for NewType"
## Brief feature description

The `NewType` class helps to avoid the [Primitive Obsession](https://refactoring.guru/smells/primitive-obsession) and saves you from crashing your [mars orbiter](https://en.wikipedia.org/wiki/Mars_Climate_Orbiter) into a planet. But there is some boilerplate needed which leads to use primitives instead of a new type. A convenience macro like

[code]

could boost the u

[2022-06-28 01:18] BH1SCW commented on #879
Patch verified, works like a charm.

Thanks for guiding me.

yeah~~~

[2022-06-28 09:38] elfenpiff opened #1428 "iceoryx apps may not run on all platforms"
## Brief feature description

The current idea of iceoryx is that we fully support Linux and QNX. Windows, MacOS and FreeBSD are handled as developer platforms, this means one can develop, compile and run iceoryx applications with a restricted functionality. So you can always establish a full communication on every platform but on some without certain safety or security insurances or tweaks like c

[2022-06-28 09:38] elfenpiff commented on #1428
cc @mossmaurice @dkroenke @budrus @elBoberido

Do you have any thoughts on that?

[2022-06-28 11:43] #1125 closed

[2022-06-28 11:51] #1425 closed

[2022-06-28 14:32] #1379 closed

[2022-06-28 14:42] mossmaurice commented on #873
@Indra5196 @hemalbavishi Closing this issue, feel free to re-open if you have further questions.

[2022-06-28 14:42] #873 closed

[2022-06-28 14:50] #963 closed

[2022-06-28 14:51] mossmaurice commented on #986
@Indra5196 @hemalbavishi Closing this issue, feel free to re-open if you have further questions.

[2022-06-28 14:51] #986 closed

[2022-06-28 14:53] mossmaurice commented on #1016
@yooouxin Closing this issue, feel free to re-open if you have further questions.

[2022-06-28 14:53] #1016 closed

[2022-06-28 14:57] mossmaurice commented on #1020
Implemented in [`pre-flight` check](https://github.com/eclipse-iceoryx/iceoryx/blob/master/.github/workflows/build-test.yml#L22-L27), closing.

[2022-06-28 14:57] #1020 closed

[2022-06-28 15:27] mossmaurice commented on #1305
@sgf201 Closing this issue, feel free to re-open if you have further questions.

[2022-06-28 15:27] #1305 closed

[2022-06-28 15:28] mossmaurice commented on #1306
@sgf201 Closing this issue, feel free to re-open if you have further questions.

[2022-06-28 15:28] #1306 closed

[2022-06-28 17:12] mossmaurice commented on #296
Closing, as superseded by #1345

[2022-06-28 17:12] #296 closed

[2022-06-28 17:58] elBoberido commented on #1020
Oh, there was an open issue for this? It was fixed with #1377 since there were some issues with the duplicate test IDs.

[2022-06-29 06:29] elfenpiff opened #1430 "Add helper functions to `cxx::filesystem`"
## Brief feature description

In unit tests we sometimes require platform independent helper functions to modify directories. We should add functions like:
### Required
* `create_directory`
* `temp_directory_path` (used for file lock and sockets)
* `remove` & `remove_all`

### Optionally also:
* `exists`
* `is_directory`
* `is_regular_file`
* `is_socket`

It is important that those functions are w

[2022-06-29 09:43] #831 closed

[2022-06-29 13:51] FerdinandSpitzschnueffler opened #1431 "Convenience functions for `cxx::string`"
## Brief feature description

This is an issue to collect convenience functions for the `cxx::string` which would be nice to have but are not urgently needed.

## Detailed information

- add c'tor that constructs the `iox::string` with count copies of a character
[code]
- remove characters from the `iox::string`
[code]

[2022-06-29 15:31] elfenpiff opened #1432 "Exchangable and customizable iceoryx platform"
## Brief feature description

It should be possible to support user defined iceoryx platforms. Furthermore, the iceoryx platform should unify the behavior of all platforms so that we can abstract them safely in hoofs.

To this end we need to move iceoryx platform outside of iceoryx hoofs and define them as lowest building block in iceoryx and the user shall be able to define a custom platform via

[2022-06-30 07:52] elfenpiff opened #1436 "App shouldn't send heartbeats when RouDi has turned monitoring off"
## Brief feature description

When roudi has disabled monitoring the app still sends heartbeats to roudi. This can cause jittering in the performance and is not at all required.

A solution would be to inform the application during the registration process that roudi does not require the heartbeat and skip it in the application background thread.

[2022-06-30 08:11] elBoberido commented on #1436
@elfenpiff can #1380 be closed in favor of this issue?

[2022-06-30 08:50] #1419 closed

[2022-06-30 09:27] hemalbavishi opened #1439 "Typo error in initalizeSocket() in Unix Domain Socket"
## Required information
I observed small typo error in cxx::expected<IpcChannelError> in**ita**lizeSocket() noexcept

**Operating system:**
NA
**Compiler version:**
NA

**Observed result or behaviour:**
Typo error

**Expected result or behaviour:**
It should be changed to cxx::expected<IpcChannelError> ini**tia**lizeSocket() noexcept;

**Conditions where it occurred / Performed steps:**
NA

[2022-06-30 09:31] elfenpiff commented on #1439
@hemalbavishi Would you like to adjust this? It is not public API so this should be an easy fix and we guide you also through our little more complex contribution process :smile:

[2022-06-30 09:48] #1380 closed

[2022-06-30 11:11] hemalbavishi commented on #1439
@elfenpiff : Sure, Please let me know the complex process to fix this;).

Cheers!

[2022-06-30 11:25] qclzdh opened #1440 "sometimes the app has FD leak, when the APP use fileLock"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

**Observed result or behaviour:**
There are some FD leakage, it could easily reach to the max opened FDs of a process in Linux platform.

**Expected result or behaviour:**
no FD leakage.

**Conditions where it occurred / Performed steps:**

APP_A
[code]

APP_B

[code]

and start APP_A first,

[2022-06-30 11:55] qclzdh commented on #1440
it seems this issue only can be seen in 2.0.x, master branch has fixed this.

[2022-06-30 13:50] elfenpiff commented on #1439
@hemalbavishi

1. You have to create an eclipse account and sign the ECA.
2. Create a branch with the prefix `iox-#1439-some-meaningful-name` where `iox-#1439` is this issue number
3. Then your commit message requires the prefix `iox-#1439 ` as well and has to be signed. So you commit with `git commit -sm "iox-#1439 my commit message"`.

[2022-06-30 13:55] elfenpiff commented on #1440
@qclzdh how is the `TEST_NAME` defined for APP_A, does it have the same value as APP_B?

[2022-06-30 14:03] qclzdh commented on #1440
@elfenpiff  Sorry for incomplete code,  TEST_NAME could be any string, as long as they are same in APP_A and APP_B. I do the test with following definition
[code]

[2022-06-30 14:16] qclzdh commented on #1440
@elfenpiff
Sorry, There is a TEST_NAME defined to  "TestProcessName0630", so please make sure they are defined to same one APP_A and APP_B.
Or, maybe you can modify in the test_posix_file_lock.cpp, it could easily reproduce the issue.

[code]

[2022-07-01 01:24] qclzdh commented on #1440
@elfenpiff  Thanks, master is fine~

[2022-07-04 03:34] JR-Rong opened #1444 "Memory fault (core dumped) on QNX using a large Capacity Vector or other container"
## Required information
**Test Env:**
RaspberryPi4B aarch64le
CPU：ARM Cortex-A72 1.5GHz
QNX：qnx710
Mem:2G

**Operating system:**
QNX 7.1.0

**Compiler version:**
QCC 8.3.0

**Observed result or behaviour:**

Process 13226012 (iox-test-pub) terminated SIGSEGV code=1 fltno=11 ip=00000057020678a0(/mnt1/iceoryx/bin_test/./iox-test-pub@isdigit+0x00000000000615e4) mapaddr=000000000007a8a0. ref=000000380

[2022-07-04 07:47] elfenpiff commented on #1444
@JR-Rong I suspect that the stack size of QNX is maybe insufficient (I think it is around 500kb and `imgdata` requires already 350kb).
Could you try to set the stack size to unlimited in qnx with `ulimit -s unlimited` and check if this solves your issue?

But in general I would suggest not storing such large data on the stack, especially in QNX. Do you have a copy or did you store the last receive

[2022-07-04 12:12] anunaykrishnamurthy opened #1446 "test issue. can be deleted"
## Brief feature description

Please describe in a few sentences what should be implemented

## Detailed information

E.g. a list of pros and cons of different considerations and how iceoryx and its user could benefit from it

[2022-07-04 12:12] anunaykrishnamurthy commented on #1446
dummy issue

[2022-07-04 12:23] JR-Rong commented on #1444
thanks for your answer
1.I tried to use` ulimit -s unlimited` but nothing change
2. I decided to use option 2, here is my code:
[code]
ImageData contains the BIG vector, and in ImageData, i added a timestamp.  When I try to run, roudi gived the log:

`[ Fatal ]: The following mempools are available:  MemPool [ ChunkSize = 168, ChunkPayloadSize = 128, ChunkCount = 10000 ]  MemPool [ ChunkSize = 106

[2022-07-04 12:47] elfenpiff commented on #1444
@JR-Rong

I think `GetNs()` is already using the stack and returns a copy of your image data which is then stored on the heap. When I take a look at your code it seems that your struct requires 35MB in size which is pretty huge.

So I would recommend the following adjustments:
1. Do not use `publishCopyOf`, this performs another copy which will cost a lot of runtime. Use `loan` instead. To do that

[2022-07-04 13:00] neillangmead41 opened #1447 "test issue- can be deleted"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

**Observed result or behaviour:**
A clear and precise description of the observed result.

**Expected result or behaviour:**
What do you expect to happen?

**Conditions where it occurred / Performed steps:**
Describe how one can reproduce the bug.

[2022-07-04 13:00] #1447 closed

[2022-07-04 14:39] ZhenshengLee commented on #911
@mossmaurice long time no see!

As my repo [ros2_shm_msgs](https://github.com/ZhenshengLee/ros2_shm_msgs) finished recently, I got stars and the feedback from https://github.com/eProsima/Fast-DDS/discussions/2773#discussioncomment-3078085

So, this feature will give a chance to resolve this.

[2022-07-05 01:45] JR-Rong commented on #1444
Thank you very much! Using the method you provided helped me solve the problem very well！

[2022-07-05 04:26] elfenpiff commented on #1444
@JR-Rong always happy to help :smile:

[2022-07-05 04:26] #1444 closed

[2022-07-05 05:05] JR-Rong opened #1449 "Using untyped publisher.release() caused error"
## Required information
**Test Env:**
RaspberryPi4B aarch64le
CPU：ARM Cortex-A72 1.5GHz
QNX：qnx710
Mem:2G

**Operating system:**
QNX 7.1.0

**Compiler version:**
QCC 8.3.0

**Observed result or behaviour:**
when using untpyed publisher and try to use publisher.release(), the chunk can't be released, and lead to a
`ICEORYX error! POPO__CHUNK_SENDER_INVALID_CHUNK_TO_FREE_FROM_USER`

**Expected resul

[2022-07-05 07:29] elfenpiff commented on #1449
@JR-Rong

1. I strongly recommend to use the typed publisher. In our experience the untyped publisher should only be used in the very rare use case when you want to send data types of dynamic size over the same service description or you would like to connect some kind of low level C API (e.g. system drivers). For instance if you just require a certain amount of memory you could use `iox::cxx::vec

[2022-07-05 09:11] elfenpiff commented on #1449
@JR-Rong no problem at all ... I am as always happy to help :smile:

[2022-07-05 09:11] #1449 closed

[2022-07-05 13:56] MatthiasKillat opened #1450 "`GenericRAII` stores only a reference to cleanup function and renamed to `ScopeGuard`"
## Refactoring

1. Pass a cleanup function as function_ref instead of function (but store as function as is).
2. Rename into ScopeGuard

cf. https://stackoverflow.com/questions/31365013/what-is-scopeguard-in-c

[2022-07-06 02:27] xixioba commented on #970
Is there a solution so far to complete this issue?🤔

[2022-07-06 07:26] #1393 closed

[2022-07-06 07:28] elfenpiff commented on #970
@xixioba This feature is definitely on our road map but I doubt that we are able to implement this in the upcoming weeks.

How urgent is this feature on your side?

[2022-07-06 09:29] elBoberido commented on #1450
@MatthiasKillat yes, the `ScopeGuard` terminology is already used by the C++ community

[2022-07-07 11:31] elfenpiff opened #1469 "stack issues with non trivially copyable types"
## Required information

The stack is movable and copyable by default. The raw data array is copied implicitly in the compiler generated function which does not take the copy or move operations into account as well as the destructor when the stack is destroyed or pop'ed elements are overridden with push.

This can be solved by explicitly implementing the copy and move operations as well as the des

[2022-07-07 11:31] elfenpiff commented on #1469
cc @elBoberido

[2022-07-07 12:21] sgf201 opened #1471 "Is it possible to using iceoryx in communication between two processes that are in different docker?"
## Brief feature description

two processes that are in different docker communicate by iceoryx

## Detailed information

how to do it

[2022-07-07 19:14] clalancette opened #1476 "Build error on certain versions of Windows/Visual Studio"
Originally reported at https://github.com/ros2/ros2/issues/1284 by @chample:

## Required information

**Operating system:**
E.g. Windows 10 Pro Version 21H2, OS build 19044.1766

**Compiler version:**
E.g. Visual Studio 2019

**Observed result or behaviour:**
Following step by step guide: https://docs.ros.org/en/humble/Installation/Alternatives/Windows-Development-Setup.html#build-the-ros-2-code

[2022-07-07 20:49] dkroenke commented on #1476
Hello @chample,
this issue comes up when the Windows locale settings doesn't support `UTF-8` properly.
It would be interesting to know which locale language is configured on Windows system level. You can check this opening the `Language settings` -> `Administrative language settings` -> `Language for non-Unicode programs`.

As a test you can set this to `English (United States)` and restart Window

[2022-07-11 08:10] dkroenke opened #1481 "empty PREFIX leads to wrong path in INTERFACE_INCLUDE_DIRECTORIES on CMake"
## Required information

**Operating system:**
E.g. Ubuntu 22.04

**CMake version:**
CMake 3.22.1

**Observed result or behaviour:**
The `INTERFACE_INCLUDE_DIRECTORIES` defined in the generated `iceoryx_poshTargets.cmake`
file contains invalid directory set to `${_IMPORT_PREFIX}/include//iceoryx/v2.90.0`.
This affects all iceoryx packages.

When an external application tries to use the `INTERFACE_

[2022-07-11 08:41] fengtuo58 opened #1482 "IpcInterfaceBase::openIpcChannel not show error"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

**Observed result or behaviour:**

bool IpcInterfaceBase::openIpcChannel(const posix::IpcChannelSide channelSide) noexcept
{
    m_ipcChannel.destroy().or_else(
        [this](auto) { LogWarn() << "unable to destroy previous ipc channel " << m_runtimeName; });

    m_channelSide = channelSid

[2022-07-11 11:15] elBoberido commented on #1482
@fengtuo58 good catch. Do you want to create a PR by yourself?

[2022-07-11 11:35] fengtuo58 commented on #1482
I can not be familiar with the submit procedure @elBoberido as follow
Signed the [Eclipse Contributor Agreement](http://www.eclipse.org/legal/ECA.php)
Created an issue before creating a branch, e.g. Super duper feature with issue number 123
All branches have the following naming format: iox-#[issue]-branch-name e.g. iox-#123-super-duper-feature
All commits have the following naming format: iox-#[i

[2022-07-11 14:25] elBoberido commented on #1196
@elfenpiff `convert` is not done yet. `clang-tidy` does not report warnings because the `hpp` is not included in the `inl`. I uncheck the checkbox

[2022-07-13 11:59] #1482 closed

[2022-07-13 14:50] mossmaurice opened #1498 "Create `iox_type_cast`"
## Brief feature description

`reinterpret_cast`s should only be used sparsely, hence introduce a helper function which cast pointers via `void*` to the appropriate `T*`

## Detailed information

* [ ] `iox_type_cast` is available in helplets
* [ ] `iox_type_cast` is used at appropriate places

[2022-07-13 21:12] elBoberido commented on #1498
Although I proposed the name, we should think if it carries the intended message or if we need to refine it. I like that it is not too long but maybe one has a wrong notion of what happens and we might need to be more explicit.

[2022-07-14 14:12] elBoberido opened #1504 "Release iceoryx v2.0.3"
## Brief feature description

Tracking branch for the iceoryx v2.0.3 release

- [x] create integration branch for all PRs which shall be part of v2.0.3
- [x] merge all relevant PRs to the integration branch
- [x] check if the integration branch runs in the ROS CI
- [x] merge integration branch and update relevant ROS repositiories
- [x] Create Git tag `v2.0.3`
- [x] Bloom release for ROS 2 `humble

[2022-07-14 22:33] MatthiasKillat opened #1512 "Remove AtomicRelocatablePointer"
## Brief feature description

AtomicRelocatablePointer is unused and can be removed.

## Detailed information

If needed again it will be reimplemented with the full functionality of `relocatable_ptr` and atomic synchronization properties.

[2022-07-14 22:37] MatthiasKillat commented on #1512
Note: `relocatable_ptr` has a purpose for near future features and optimization (some relative pointers can be downgraded to this more efficient version).

[2022-07-15 14:37] #1512 closed

[2022-07-18 11:07] elBoberido commented on #1405
@elfenpiff can we close this issue or rephrase it? With the current title it leaves the impression that we have a threading issue, which is not the case.

[2022-07-18 11:55] dkroenke opened #1516 "Support for `gtest_vendor` package"
## Brief feature description

When building tests in iceoryx, it checks if a `GTest` package was found and if not it will be build by our own via an ExternalProject in CMake. For a better support on ROS 2, we should add a support for vendor packages for GTest and GMock that are provided by frameworks like ROS 2.

See: https://github.com/ament/googletest/blob/rolling/googletest/package.xml

## Deta

[2022-07-18 12:35] elfenpiff opened #1517 "expected/optional should not enforce assignment in constructor"
## Required information

A class with move/copy constructor and deleted move/copy assignment it cannot be used within an `expected` or maybe `optional` since we forward in the ctor to the move/copy assignment with a statement like `*this = std::move(rhs);`
For those two it has to be implemented explicitly.

## Details

* [ ] Write unit tests for expected with an object which has only default ctor

[2022-07-18 12:40] #1405 closed, assigned to nobody

[2022-07-19 12:34] elBoberido opened #1528 "The testing libs are broken for in source tree usage."
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
Doing a `find_package(iceoryx_hoofs_testing)` in the CMakeLists.txt of posh leads to a cmake error.

**Expected result or behaviour:**
Package should be found.

**Conditions where it occurred / Performed steps:**
Invoking a `find_package(iceoryx_hoofs_testing)` or `find_package(iceoryx_

[2022-07-19 12:59] elBoberido opened #1530 "Remove hash from the branch names"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
Trying to use a branch with a hash in the name does not work with cmake FetchContent.

**Expected result or behaviour:**
Easy way to test iceoryx working branches with a FetchContent workflow.

**Conditions where it occurred / Performed steps:**
Try to use a branch with a hash, e.g. `io

[2022-07-19 14:34] elBoberido commented on #1530
@mossmaurice there is not task in the checklist of the PR template in `iceoryx-project-template`

[2022-07-19 21:25] #1528 closed, assigned to elBoberido

[2022-07-19 21:32] elBoberido opened #1532 "Leakin variables in cmake iox_add_executable and iox_add_library macros"
## Required information

With the introduction of the `iox_add_*` macros, variables like `IOX_STATIC` are leaked to the to the environment. This is problematic when more than one library is defined in a CMakeLists.txt or in a nested CMakeLists.txt if e.g. the first library has has set this flag, all other libraries will also use this variable.

It must be checked if the macros or at least some par

[2022-07-19 21:34] #1530 closed

[2022-07-20 07:59] dkroenke opened #1533 "Roudi Environment independent from Googletest"
## Brief feature description

Currently, the `iceoryx_posh_testing` library depends on `iceoryx_hoofs_testing` which depends itself on the GoogleTest library.
The RouDi environment is part of the posh testing library and offers a GTest "Binding" to make use of RouDi in GoogleTests: https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_posh/testing/include/iceoryx_posh/testing/roudi_gtest.

[2022-07-20 09:11] elBoberido commented on #1533
This will be helpful for the Rust bindings and potentially also for other language bindings

[2022-07-21 03:14] raizo27 opened #1535 "SharedMemo: Unable to get MAC address for iceoryx"
## Required information

**Operating system:**
Ubuntu 20.04.4 LTS

**Compiler version:**
 GCC 7.4.0

**Observed result or behaviour:**
I wrote a minimum example to use iceoryx shared memory with Cyclone DDS c++. It works fine sometimes, but I sometimes observe below issue. I'm not sure why. Please let me know if you have seem this issue before, or you know how to solve it. Thanks.

[2022-07-21 09:05] MatthiasKillat commented on #1535
@raizo27 I did not look into the details yet, but the problem originates from CycloneDDS somewhere. It uses the MAC address to define a locator, which is essentially responsible to determine how to send the data. For iceoryx  it is more or less like this: if iceoryx is used and the same MAC address is determined, it will use shared memory.

Now apparently it sometimes fails to determine the MAC ad

[2022-07-21 14:56] elBoberido commented on #1196
@elfenpiff I would exclude log and error handler from clang-tidy checks. These will be refactored anyway and there is no need to waste time on it right now.

[2022-07-22 07:42] eboasson commented on #1535
Neither have I, but it can really only be a failure to find the selected network interface among the `AF_PACKET` capable interfaces. It would be interesting to know a bit more ...

Does it reproduce well enough that trying to catch it in [`rr`](https://rr-project.org) is worth it? That would at least allow setting a breakpoint in `ddsrt_eth_get_mac_addr` and then seeing what happened.

[2022-07-22 09:53] elBoberido opened #1540 "Automate check for test cases to have UUIDs"
## Brief feature description

It's quite error prone to manually check if new test cases have unique UUIDs. The commit hooks and CI already check for unique UUIDs and the similarly it could be checked whether the count of `TEST`, `TYPED_TEST` and `TIMING_TEST` strings matches the count of `::testing::Test::RecordProperty` strings.

## Detailed information

It seems like the following simple grep c

[2022-07-22 09:54] elBoberido commented on #1540
@dkroenke @mossmaurice what do you think? This seems to work quite well and I could easily implement it. If it turn out to be  a bad idea we could still go back to the manual check.

[2022-07-24 10:18] byrnexu opened #1541 "When I delete the sleep statement of the publisher of the example iceoptions, I find that the subscriber will not receive some messages"
## Required information

**Operating system:**
E.g. Ubuntu 20.04.4 LTS

**Compiler version:**
E.g. gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)

**Observed result or behaviour:**
    When I delete the sleep statement of the publisher of the example iceoptions, I find that the subscriber will not receive some messages.
    The rule I found is that when the publisher sends messages very fast, f

[2022-07-25 02:31] byrnexu commented on #1541
The rule I found is that when the publisher sends messages very fast, for example, when there is no sleep statement or a small interval such as sleep 1 microsecond, the subscriber will lose some messages, even if you set both ConsumerTooSlowPolicy::WAIT_FOR_CONSUMER and QueueFullPolicy:: BLOCK_PRODUCER is also useless.
Because of the high performance of iceoxy ipc, I want to use iceoryx for inform

[2022-07-25 09:02] MatthiasKillat commented on #1390
@hemalbavishi This week I am almost completely unavailable. We can do this maybe on Friday this week or, preferable, sometime next week (e.g. Monday). If Monday or later I could prepare more information/code.

We should use a zoom meeting then which I would announce in https://github.com/eclipse-iceoryx/iceoryx/wiki/Deep-Dive-Sessions. I would need some preferred time frame to set this up (e.g. Mo

[2022-07-25 09:53] kwallner opened #1542 "Support Bazel build system (as alternative to CMake)"
## Brief feature description

Add support for building iceoryx with [Bazel](https://bazel.build/) build tool (as alternative build system to  [CMake](https://cmake.org/)).

## Detailed information

[Bazel](https://bazel.build/) provides advanced build features, supporting hermetic, reproducible and scalable builds.

[Bazel](https://bazel.build/) could be added additionally - without breaking exist

[2022-07-25 12:45] elfenpiff commented on #1541
@byrnexu I looked into the code and run the following setup:
1. remove the `std::this_thread::sleep_for(std::chrono::milliseconds(400));` in the publisher
2. start the subscriber in the first terminal
3. start the publisher after the subscriber is ready to receive

This lead to the loss of the first thousands samples but after the connection is fully established no more samples are lost. So I can

[2022-07-25 13:33] elfenpiff commented on #1541
@byrnexu I talked to @elBoberido and he hinted me that you also can set the `publisherOptions.offerOnCreate = true` so that the service is automatically offered when created.
When you start the subscriber first and then the publisher you wouldn't need in theory the `publisher.hasSubscribers()` loop - but just to be sure I would keep it.

But you still may have a caveat, what if you would like to h

[2022-07-25 15:17] elBoberido commented on #1104
reopen since `function` is still nullable

[2022-07-26 00:55] byrnexu commented on #1541
@elfenpiff  Thank you very much for providing such an excellent library and patient answers. I don't have such a demand for multiple subscribers for the time being, but I feel that this is also a very useful interface.

[2022-07-26 06:21] qclzdh opened #1546 "potential deadlock in roudi Mon+Discover and IPC-msg-process thread"
## Required information

**Operating system:**
E.g. Ubuntu 20.04 LTS

**Compiler version:**
E.g. GCC 9.x

**Observed result or behaviour:**
publisher send thread, roudi  Mon+Discover and IPC-msg-process threads are deadlock. And no more pub/sub/req/res can register to  roudi, all the register will fail, since IPC-msg-process is waiting lock.

**Expected result or behaviour:**
a. pub send process w

[2022-07-26 07:31] elBoberido commented on #1546
@qclzdh I have to look closer to this but it looked like a duplicate of #325. There is one last lock for registration of the application. When an app crashes at the wrong time, a deadlock can occur. It is on our radar but not easy to remove the last lock without sacrificing some features.

[2022-07-26 10:21] hemalbavishi commented on #1390
@MatthiasKillat : It sounds good. Let's have a call next week to discuss more in detail. My colleague has integrated code provided by you but we would like to understand race conditions to make it better.  Let's discuss more in detail on Monday - Aug. 01

[2022-07-26 10:39] MatthiasKillat commented on #1390
@hemalbavishi I will set up a zoom meeting and ping you again. Note that the existing code was not error free at all. The plan was to improve it and thoroughly test it. But we can discuss this in the call.
.

[2022-07-26 12:09] MatthiasKillat commented on #1390
@hemalbavishi After some discussion with my colleagues we considered that it would be better to discuss this in the next iceoryx developer meetup on August 4th (i.e. next Thursday). Would this still work?

At least for me this would be easier to rethink the issue again and prepare something.

[2022-07-26 14:17] qclzdh commented on #1546
@elBoberido  It seems this is different issue, instread of saying deadlock, it's more suitable to say Mon+Discover and IPC-msg-process threads' lock are starving，since the publisher is in a inifinite loop while it holds a lock.

[2022-07-26 16:32] elfenpiff commented on #1546
@qclzdh What version of iceoryx are you using?

Could you please tell us what do you mean when you say that the publisher is stuck in an infinite loop? Do you suspect him to be caught in the while loop in `ResizeableLockFreeQueue::pushImpl` or do you maybe have some more hints for us?

cc @MatthiasKillat

[2022-07-26 17:10] elfenpiff commented on #1541
@byrnexu I am always happy to help!

I would say this deserves an entry in the FAQ and then we close this issue.

[2022-07-27 03:15] qclzdh commented on #1546
@elfenpiff  I am using iox-2.0 release, Yes, i think publisher is in the while loop in ResizeableLockFreeQueue::pushImpl. From my analysis, the sequence how this issue happened is :
a. publisher already took the m_queues lock
b. the subscriber queue is full. and subscriber crashed during index pop in function LockFreeQueue<ElementType, Capacity>::pop(). So one index lost.
c. publisher has no chanc

[2022-07-27 07:26] mossmaurice commented on #1541
@elfenpiff I can take care about extending the FAQ.

[2022-07-27 09:27] mossmaurice commented on #1535
@raizo27 As this seems an issue inside Cyclone DDS, let's move the discussion to https://github.com/eclipse-cyclonedds/cyclonedds-cxx/issues/296. Feel free to re-open this issue if you have more questions.

[2022-07-27 09:27] #1535 closed

[2022-07-27 11:33] hemalbavishi commented on #1390
@MatthiasKillat : Okay. I will try to share some points with you before the call. It would be great if you can also do the same after your work over weekend.

[2022-07-27 13:16] MatthiasKillat commented on #1546
@qcIzdh Thanks for discovering this issue.

The short version is that I think a buffer cell in can be lost ResizeableLockFreeQueue in cases a publisher app crashes. A a consequence ResizeableLockFreeQueue::pushImpl calls in other publisher apps may run into a endless loop, but I need to check the details to explain why.

If true, this is actually very tricky to fix it properly. I will look into it

[2022-07-27 13:21] MatthiasKillat commented on #1390
@hemalbavishi Yes, I can provide more information in the iceoryx developer meetup.

[2022-07-28 13:23] dkroenke opened #1547 "Additional Bazel support"
## Brief feature description

some follow-up topics for Bazel support in iceoryx. Can be extended at request.

- [ ] Evaluate test failure of `Thread_test` on GitHub CI
- [ ] Code-coverage
- [ ] Address-Sanitizer and friends
- [ ] Cross-compilation?

[2022-07-29 07:10] #1542 closed

[2022-07-29 15:15] elfenpiff opened #1551 "smart_lock methods are not inlined"
## Required information

The methods of the `smart_lock` are not inlined which can lead do ambiguity.

[2022-08-01 08:43] #1551 closed

[2022-08-01 17:05] mossmaurice opened #1554 "Extend `NewType` pattern"
## Brief feature description

To be more wildly used the `NewType` pattern needs more functionality.

## Detailed information

* [x] `operator{+,-,*,/}` is added
* [x] {Pre,Post}-{in,de}crement operators are added
* [ ] Make `NewType` `constexpr`-able

[2022-08-02 13:35] #1540 closed

[2022-08-02 15:05] elBoberido opened #1556 "Remove the unused PosixRights struct"
## Brief feature description

The `PosixRights` struct is not used and should be removed.

[2022-08-02 16:15] dkroenke commented on #1471
@sgf201 Since there was no answer for more than three weeks, we will close this ticket now. Of course, you are invited to create other tickets if you have questions.

[2022-08-02 16:15] #1471 closed

[2022-08-02 16:23] dkroenke commented on #163
@elBoberido These warnings are fixed when Clang-Tidy was introduced, we have no exclusion in our test code. Closing this foiw now.

[2022-08-02 16:23] #163 closed

[2022-08-02 16:25] #1556 closed

[2022-08-02 16:31] dkroenke opened #1558 "Enable compiler warnings in tests"
## Brief feature description

Currently the test code in posh and hoofs has certain cases where int types with a wrong sign are compared.
By enabling the compiler warning we can get rid of them.

- [x] ~~Remove `set(TEST_CXX_FLAGS -Wno-sign-compare)` in CMakeLists.txt files from iceoryx posh and hoofs test folder~~
- [x] Remove all occurrences of `TEST_CXX_FLAGS` set by `target_compile_options` in

[2022-08-02 17:43] MatthiasKillat commented on #1546
@qclzdh I looked at the problem and you are right. While the problem occurs in the ResizeableLockFreeQueue, it is similar in the basic LockFreeQueue.

There is an invariant that each index is always either owned by the queue itself or by some application. The problem here is that applications can crash and the queue will not reclaim the index. However, since we cannot write arbitrarily large types

[2022-08-03 09:01] MatthiasKillat commented on #1546
I thought further about this and I think we need to distinguish two crash cases.

Assume we have publishers A and B on some topic and subscribers X and Y on the same topic. Note that the queues that can block as described above belong to/are associated with the subscribers.

**Subscriber crash**

If subscriber X crashes it may block publisher A and B as described, but the queue should be cleaned u

[2022-08-03 14:43] elBoberido opened #1560 "Cleanup helplets"
## Brief feature description

The `cxx/helplets.hpp` contains many unrelated or even unused code.

## Detailed information

The unused code should be removed and at least functions which can be grouped together could be moved to a separate file

## Tasks

- [x] remove functions which are unused or only used in one location
- [ ] move function groups to a separate file when it makes sense

[2022-08-04 09:47] MatthiasKillat commented on #1546
Another problem is that the queue cannot be cleaned up as the publish happens under mutex protection and cleanup needs the same mutex. Now cleanup cannot obtain the lock since publish does not return.

The mutex is only contested during cleanup or generally when queues are added or removed (i.e. rarely).

So we need some solution to leave the loop with reasonable semantics even in case of error (o

[2022-08-05 07:03] 1su1 commented on #1292
I fixed this bug by modified "iceoryx_posh_types.hpp : 254"
from `using BaseClock_t = std::chrono::steady_clock;` to `using BaseClock_t = std::chrono::system_clock;`

Will it affect other modules?

[2022-08-08 12:04] mossmaurice opened #1564 "Move Cyclone DDS Gateway to Separate Repository"
## Brief feature description

The Cyclone DDS Gateway is not a first-class citizen and therefore shall be moved to a [separate repository](https://github.com/eclipse-iceoryx/iceoryx-gateway-dds).

## Detailed information

* Pro:
  * Independently maintainable from iceoryx core
  * Leading to shorter release cycles of iceoryx core
    * DDS Gateway can stay at a older version if no one in the commu

[2022-08-08 15:47] mossmaurice opened #1566 "Replace exisiting QAC suppressions with Axivion suppressions"
## Brief feature description

In #409 the decision was made to switch from Perforce's QAC++ to Axivions Suite for static code analysis.

## Detailed information

* [ ] Replace `// PRQA` suppressions with `// AXIVION` if needed

[2022-08-08 17:42] elBoberido commented on #1292
@1su I don't think this is a viable solution. The system clock has the issue that it can be changed by the user while the steady clock should only monotonically increase

[2022-08-10 08:08] vinayakumarMurganoor commented on #970
@elBoberido I can have a look and tryout somethings as mentioned in the issue.

[2022-08-10 08:55] #1566 closed

[2022-08-10 16:38] elBoberido commented on #970
@vinayakumarMurganoor great. I assigned the issue to you. Don't hesitate to ask if you have questions.

[2022-08-11 11:32] 1su1 commented on #1292
But using this approach does solve the problem

[2022-08-11 11:48] elBoberido commented on #1292
@1su1 it may solve your specific problem but creates another one. The steady clock is not supposed to change and therefore that one is used. I'm not even sure why this problem happens on your side since you wrote that there is a system time rollback. Is this correct or is there be steady clock reset?

A proper fix for this would be to refactor the liveliness detection to not rely on any timestamps

[2022-08-12 11:47] mossmaurice opened #1571 "`cxx::unique_ptr::get()` does not check for `nullptr` before access"
## Required information

**Operating system:**
Ubuntu 20.04.3 LTS

**Compiler version:**
GCC 8.4.0

**Observed result or behaviour:**
Accessing an empty `unique_ptr` leads to a crash

**Expected result or behaviour:**
Accessing an empty `unique_ptr` shall lead to a fatal error (defined behaviour)

**Conditions where it occurred / Performed steps:**
Call `unique_ptr::get()` on empty object

[2022-08-12 13:14] elBoberido commented on #1571
@mossmaurice can we make this a check for debug builds only?

When we refactor the release method to a static method like `static T* release(unique_ptr<T>t&& p)` clang-tidy would essentially find every occurrence where `unique_ptr` contains a `nullptr`.

[2022-08-12 14:09] elBoberido commented on #1571
Okay, then this would qualify to an `IOX_DEBUG_ASSERT` which @MatthiasKillat wants to implement? Of course only after we can ensure that there actually won't be a `nullptr` except for moved-from objects

[2022-08-12 14:32] #1564 closed

[2022-08-12 14:35] elBoberido opened #1574 "Console is flooded with error message when roudi is not running"
## Required information

**Operating system:**
any

**Compiler version:**
any

**Observed result or behaviour:**
When an application is started and RouDi is not running error messages like this are printed every 100 ms

[code]

**Expected result or behaviour:**
Only one warning should be printed and every few seconds the remaining time until the application quits.

[code]

**Conditions where it oc

[2022-08-12 15:58] afrixs opened #1575 "RouDi crash in publishServiceRegistry when assigning to unzeroized allocated chunk"
## Required information

**Operating system:**
E.g. Ubuntu 22.04 LTS

**Compiler version:**
E.g. GCC 11.2.0

**Observed result or behaviour:**
[code]

The backtrace shows that `has_value()` of the ServiceRegistry optional entry being assigned to is neither `true` nor `false` but `49`. The reason is that the [`sample`](https://github.com/eclipse-iceoryx/iceoryx/blob/048bf7d9b44a1b170cb892e2c374b460

[2022-08-12 16:23] elBoberido commented on #1575
@mossmaurice can you have a look at this? I think the proper solution is to do a placement new on the chunk payload in `PortManager::publishServiceRegistry()` like
[code]

[2022-08-12 17:39] elBoberido opened #1576 "Use stable clang-tidy"
## Brief feature description

Currently the unstable clang-tidy 16 is used, which is often updated and leads to new warnings compared to previous scans. To prevent this, we should use clang-tidy 15.

[2022-08-12 17:53] #1576 closed

[2022-08-15 11:01] mossmaurice opened #1580 "Disabled monitoring feature in RouDi by default"
## Brief feature description

### Status Quo

* The monitoring feature is enabled by default, can be disabled with a RouDi command line option
* Based on a cyclic keep alive sent from a runtime thread to the RouDi daemon via a UNIX domain socket message
* RouDi monitors the liveliness of registered processes with these cyclic keep alives
* If RouDi detects that a process is no more there, it clean

[2022-08-15 11:02] mossmaurice commented on #1580
FYI @budrus @Schrolli91

[2022-08-15 13:50] mossmaurice commented on #1145
Moved to https://github.com/eclipse-iceoryx/iceoryx-gateway-dds/issues/2

[2022-08-15 13:50] #1145 closed

[2022-08-15 13:51] mossmaurice commented on #636
Moved to https://github.com/eclipse-iceoryx/iceoryx-gateway-dds/issues/3

[2022-08-15 13:51] #636 closed

[2022-08-15 13:56] mossmaurice commented on #212
Moved to https://github.com/eclipse-iceoryx/iceoryx-gateway-dds/issues/4

[2022-08-15 13:56] #212 closed

[2022-08-15 13:58] mossmaurice commented on #376
Moved to https://github.com/eclipse-iceoryx/iceoryx-gateway-dds/issues/5

[2022-08-15 13:58] #376 closed

[2022-08-16 06:19] afrixs commented on #1575
Confirming that
[code]
works without the crash

[2022-08-16 07:24] mossmaurice commented on #1575
@afrixs Great, thanks for testing! I will create a bugfix PR in the next days.

[2022-08-16 16:01] #1308 closed

[2022-08-17 11:37] SomnathHolkar commented on #1390
@MatthiasKillat : Please update the ticket with open issues for future and promise implementation.

[2022-08-17 12:03] mossmaurice commented on #1390
@SomnathHolkar Just a short FYI: @MatthiasKillat is currently on vacation and comes back in CW35.

[2022-08-18 13:54] MatthiasKillat commented on #1390
@mossmaurice @SomnathHolkar I updated the issue with the use and misuse cases and implementation considerations. This reflects the current state of implementation, which likely has subtle races (which can be fixed once understood). I will improve the implementation once I have time but I cannot commit on this in the next week.

[2022-08-19 09:15] #1580 closed

[2022-08-19 11:13] #1575 closed

[2022-08-22 06:54] #1571 closed

[2022-08-24 01:31] byrnexu opened #1591 "The time-consuming problem of loan"
Operating system:
E.g. Ubuntu 20.04.4 LTS

Compiler version:
E.g. gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)

Observed result or behaviour:
I found that the process of the loan below takes about 3-4 microseconds (Intel(R)cpu Xeon(R) Platinum 8369B CPU @ 2.70GHz), because iceorxy's code is more complicated for me, I didn't study it carefully, but I think this It should just copy some data to

[2022-08-24 10:17] elfenpiff commented on #1591
@byrnexu

1. One problem is that you write to the same memory position twice which doubles the runtime. It is safe to remove `memset(userPayload, 0, len);` since in the next line you already copy the data.
2. You can further improve the performance by writing the `data` directly into the `userPayload`. I assume you have some code like this:
[code]

But it would be much faster if you could get rid

[2022-08-24 22:43] #1450 closed

[2022-08-25 08:18] byrnexu commented on #1591
The machine and code I used as a test are all in the cloud, unfortunately my machine was released yesterday. Currently I have tested with a similar piece of code on my home pc, my home pc is not an intel processor, it is an AMD Ryzen 9 5950X 16-Core Processor, I found that the performance drops greatly, this drop is partly related to the processor relation. But from the code you provided, it doesn

[2022-08-25 10:57] elfenpiff commented on #1591
@byrnexu Those timing look a bit much. To get a better picture could you please answer:
1. How many processes (threads) do you have running in your system concurrently
2. How many subscribers does the publisher have?
3. Are those subscribers attached to a Waitset or a Listener?

[2022-08-25 11:04] elfenpiff commented on #1591
@byrnexu Could you please run the iceperf example? This is a benchmark which tests iceoryx, the iceoryx c api, message queues and unix domain sockets. I ran it on my system and got the following numbers for iceoryx.
[code]

When the latency for a 4kb sample is around 1.9 microseconds I would assume that the loan and publish in your case above should not be larger than 1.9 microseconds in sum. Othe

[2022-08-25 14:36] byrnexu commented on #1591
Thank you very much for your kind reply.

1. How many processes (threads) do you have running in your system concurrently?
1 process.
2. How many subscribers does the publisher have?
1 subscriber
3. Are those subscribers attached to a Waitset or a Listener?
attached to a Waitset

Below is the result of running ioxperf, it doesn't look slow

******      ICEORYX       ********
Waiting for: subscript

[2022-08-25 14:56] elfenpiff commented on #1591
@byrnexu Thank you for discovering some interesting issues :smile:

I have the suspicion that the Waitset is maybe the cause for the increase in the loan and publish runtime.

Could you use the subscriber without the waitset in a test run and send me the numbers of:
Time to loan, Time to write memory and Time to publish again.

In the end the publisher performs a post call on a posix semaphore to

[2022-08-26 13:41] mossmaurice opened #1593 "Create a flat include structure for `iceoryx_hoofs`"
## Brief feature description

Often headers are moved inside `iceoryx_hoofs` both in folder and namespaces. This burdens the user with unnecessary code changes, having to adapt the include path.

## Detailed information

The idea would be such a structure

[code]

with e.g. `vector` containing

[code]

On the user side it would look like

[code]

## Things to consider

### From the developer meetu

[2022-08-29 14:59] mossmaurice opened #1594 "`ScopeGuard` ignores user-defined `CleanupCapacity`"
## Required information

**Operating system:**
Ubuntu 20.04.3 LTS

**Compiler version:**
GCC 8.4.0

**Observed result or behaviour:**
On few occurrences `ScopeGuard` ignores the user-defined `CleanupCapacity`

**Expected result or behaviour:**
`CleanupCapacity` is passed to `cxx::function<void(), CleanupCapacity>` correctly

**Conditions where it occurred / Performed steps:**
Define `CleanupCapaci

[2022-08-29 15:20] mossmaurice opened #1596 "`rp::RelativePointer::get()` does not check for `nullptr` before access"
## Required information

**Operating system:**
 Ubuntu 20.04.3 LTS

**Compiler version:**
 GCC 8.4.0

**Observed result or behaviour:**
 Accessing an empty `RelativePointer` leads to a crash

**Expected result or behaviour:**
 Accessing an empty `RelativePointer` shall lead to a fatal error (defined behaviour)

**Conditions where it occurred / Performed steps:**
Call `RelativePointer::get()` on em

[2022-08-31 16:21] #1594 closed

[2022-09-01 15:15] dkroenke opened #1602 "iceoryx_posh_testing cannot find iceoryx_hoofs_testing in CMake"
## Required information

**Operating system:**
Ubuntu 20.04 LTS
CMake version 3.16.3

**Observed result or behaviour:**
the following warning comes up when building iceoryx with tests enabled:

[code]

With that, the `iceoryx_posh_testing` lib cannot find the hoofs testing lib properly and becomes unusable without it.

This can be mitigated by setting the following:

[code]

In the CMake file wher

[2022-09-05 14:07] elfenpiff commented on #1596
@mossmaurice @elBoberido @MatthiasKillat @FerdinandSpitzschnueffler sorry but I reopened it.

Please correct me if I am wrong but a relative pointer:
* is a low level abstraction for a C pointer
* should behave exactly like a C pointer
* `nullptr` is a valid value of a C pointer, it is like that the number 0 is a valid value for an `int`

The description is in my opinion also misleading:
`Accessin

[2022-09-05 14:11] FerdinandSpitzschnueffler commented on #1596
Agree. I think we merged the PR too hasty.

[2022-09-05 14:42] MatthiasKillat commented on #1546
@GerdHirsch Yes, a collection of SPSC queues is a solution but requires extensive redesign. @elBoberido is considering it but it has design implications.

If MPMC queues are to be used, I considered the questions.

1. Can the loss of memory cells be avoided for complex (non-atomic) types?
2. Can the loss of memory cells be detected?
3. Can memory cells be reclaimed if the loss is detected?

With s

[2022-09-05 15:01] elBoberido commented on #1546
@MatthiasKillat @GerdHirsch yes, a SPSC has some advantages but also some disadvantages. The biggest problem is that it might result in quite a big refactoring but it also opens the door for other simplifications like memory allocations. I think at some point we need to do some brainstorming and decide on how to proceed

cc @budrus

[2022-09-06 10:00] #1602 closed

[2022-09-06 13:51] dkroenke opened #1608 "failing nightly CI job should prevent Pull-Requests from merging"
## Brief feature description

To enforce the clang-tidy rules from https://github.com/eclipse-iceoryx/iceoryx/issues/1196 the CI needs to be more strict.
A full scan of all files from a list is done in the [nightly job](https://github.com/eclipse-iceoryx/iceoryx/actions/workflows/nightly.yml).

When this nightly job fails (due to violated clang-tidy rules), it should prevent all Pull-Requests from

[2022-09-06 18:24] elBoberido opened #1609 "locking_policy.cpp calls error handler without log message"
## Required information

The error handler in `locking_policy.cpp` does not provide any information for the user in case of a fatal error. To give the user a hint, an error message which describes possible causes should be printed with the logger.

[2022-09-06 18:40] elBoberido commented on #1608
How long does it take until the nightly job finishes its run?
And more important is the nightly job only triggered at night?

[2022-09-07 11:53] dkroenke commented on #1608
It takes around 1,5 - 2 hours for the clang-tidy scan.

The job is scheduled to run at 6 AM UTC on working days. Jobs start usually ~ 8.30 AM in Berlin (UTC +2) when the city still sleeps.

[2022-09-07 16:00] elfenpiff opened #1611 "Improve readability of brace initialization by adding spaces"
## Brief feature description

The readability of brace initialization could be improved by adding spaces. See:
[code]

Best solution would be a clang-format adjustment, let clang-format fix this issue by running it over all files.

Extracted from: #1196

[2022-09-07 16:33] elfenpiff opened #1612 "Replace `operator std::string()` with `toStdString()` method"
## Brief feature description

Replace `operator std::string()` with either `toStdString()` method to make it more verbose or a `toStdString()` free function.

See:
[code]

Another awesome approach would be to declare a free template function called `into` which can be specialized for any arbitrary types internally or used by users to perform conversions. This would be a way to support explicit con

[2022-09-07 16:44] elfenpiff opened #1613 "Remove `EXPECT_DEATH`"
## Required information

In our cases using `EXPECT_DEATH` come often with undefined behavior which is unacceptable for certified tests. Possible approaches are:

* Create thread and call `pthread_exit` inside the error handler, would require the implementation of that feature in #1365
* Throw an exception in the error handler, would require heavy refactoring and feature #1392
* Another nifty idea

[2022-09-07 16:51] elfenpiff opened #1614 "implement uninitialized array"
## Brief feature description

In containers like the `vector`, `list`, `optional`, `string` etc. we have a byte array which stores the actual type. This byte array, can be extracted and used in those containers. This would reduce bugs since we may forget to define alignment or size properties correctly.
Furthermore we would get rid of the axivion/clang-tidy exceptions which would lead to more read

[2022-09-07 16:59] elfenpiff opened #1615 "Cleanup superfluous `clang-tidy` suppressions"
## Brief feature description

In some parts of the code certain `clang-tidy` rules are suppressed which are also deactivated in the `.clang-tidy` file. Those suppression should be removed from the code.

Furthermore, a CI script shall be written which verifies that no new suppression's for rules which are deactived are introduced.
The CI shall fail and block the code when this happens.

Extracted

[2022-09-07 17:05] elfenpiff opened #1616 "Handle 'strerror_r' idiosyncrasies in the platform layer"
## Brief feature description

The function `strerror` which is used in the `posixCall` is not thread-safe, see `man strerror` attribute section. This can lead to undefined behavior, race condition and fatal crashes when the `posixCall` is used concurrently - which is a standard use case in iceoryx - and a underlying call fails.

There are `strerror_r` and `strerror_s` as thread-safe alternatives a

[2022-09-07 17:10] elfenpiff opened #1617 "`Seconds_t`/`Nanoseconds_t` in `duration` should use newtype pattern to solve parameter mixup"
## Brief feature description

One can easily mix up seconds and nanoseconds in function arguments since the underlying type is the same. This can be fixed at compile time by using the newtype pattern and create two distinct non convertable types with the same properties as before.

Extracted from: #1196

[2022-09-07 17:21] elfenpiff opened #1618 "Define naming rules for iceoryx and check them with `clang-tidy`"
## Brief feature description

Currently iceoryx has somehow inconsistent naming rules and naming conventions which are not verified by `clang-tidy`.

### rules which deviate from the iceoryx naming guidelines

In `iceoryx_binding_c`
* snake_case is used for function names
* every function has an `iox_` prefix and an additional prefix which names the corresponding c++ class and is named after the m

[2022-09-08 08:13] elfenpiff opened #1619 "Introduce cmake switch to set custom iceoryx platform"
## Brief feature description

At the moment the platform like windows/linux/mac etc. is autodetected by cmake. This prevents the user to add new custom platforms for instance setups like windows with gcc. A switch in cmake which overrides the platform autodetection and provides a path to a user platform would solve the issue.

Extracted from: #1432

[2022-09-08 11:00] elBoberido commented on #1612
@elfenpiff we already have `from` and `into` in `helplets.hpp`. The user just has to implement `from` and `into` is already defined for all types which have `from`. See #992. The reason to use this patter was mainly because `enums` do not have conversion operators.

If we don't do implicit conversion, the approach with the method might be the next best idiomatic solution. I think the specialized f

[2022-09-08 11:24] #1609 closed

[2022-09-09 10:38] byrnexu commented on #1591
I closed the subscription side and got the following result

Time to loan: 1980ns
Time to write memory: 70ns
Time to publish: 14800ns
Time to loan: 1570ns
Time to write memory: 70ns
Time to publish: 12890ns
Time to loan: 820ns
Time to write memory: 50ns
Time to publish: 11410ns
Time to loan: 1810ns
Time to write memory: 60ns
Time to publish: 14920ns

The result seems to be about the same，I suspect

[2022-09-11 10:20] elfenpiff opened #1622 "The posix call `unlink` is directly used in `UnixDomainSocket`"
## Required information

The posix call `unlink` can fail but is nevertheless directly used in the `UnixDomainSocket`. We need to handle the all `unlink` errors and wrap it into the `posixCall`.

[2022-09-11 11:40] elfenpiff opened #1623 "`iox_connect` in `UnixDomainSocket` is blocking"
## Brief feature description

When a `UnixDomainSocket` is created it calls `iox_connect` which is a blocking call when the underlying file descriptor is not set to `O_NONBLOCK`.

Right after creating the socket with `iox_socket` we should set the file descriptor to `O_NONBLOCK` to ensure always non blocking operations. We have to check if this is compatible with sending/receiving data with a time

[2022-09-12 03:06] deneschen opened #1624 "Fix typo"
![image](https://user-images.githubusercontent.com/8281561/189566627-40e988a2-094f-492d-b761-82042c5271fb.png)

[2022-09-12 03:09] 675816156 commented on #1624
@rotu @lygstate @clalancette @BH1SCW @

[2022-09-12 08:37] elfenpiff commented on #1624
@675816156 Thanks for finding the issue. If you like you can create a pull request and adjust the document.

[2022-09-12 08:37] 675816156 commented on #1624
谢谢来信！您的邮件,陈俊已经收到。

[2022-09-12 08:40] elfenpiff opened #1625 "FreeBSD CI script is out of data"
## Required information

The FreeBSD CI fails since the current workflow is out of data. Use the newly introduced `@v0` tag to solve this permanently.

[2022-09-12 11:23] elBoberido commented on #1612
@elfenpiff I'm fine with that

[2022-09-12 11:31] elBoberido commented on #1623
@elfenpiff AFAIK, this would result in non-blocking `timed_send`/`timed_received` calls. This was the case for TCP sockets but it is quite a long time since I worked on this and my memories might delude myself

[2022-09-12 11:37] elBoberido commented on #1613
@elfenpiff last week @MatthiasKillat tried the approach with returning from a running thread. This might be the solution to remove the `EXPECT_DEATH` once the error handler is merged.

[2022-09-12 12:30] #1625 closed

[2022-09-12 13:04] elfenpiff commented on #1624
@675816156 Could you please use english (or C++ ;) ) in all your contributions since we would like the whole community to be able to follow up on every issue.

[2022-09-12 13:07] elfenpiff commented on #1623
@elBoberido actually, the solution is to create the socket with the following call:
[code]
and everything should be fine. When we refactor the unix domain socket we can take care of this.

[2022-09-12 14:04] elBoberido commented on #1623
@elfenpiff like it said, this might result in `timed_send` immediately returning but the tests will tell us if this is the case

[2022-09-12 15:05] 675816156 commented on #1624
jun in ubuntu in iceoryx on  typo [⇡] took 2s
❯ git push origin typo:typo-1624
remote: Permission to eclipse-iceoryx/iceoryx.git denied to 675816156.
fatal: unable to access 'https://github.com/eclipse-iceoryx/iceoryx.git/': The requested URL returned error: 403

I'm not allowed to commit?what's wrong with my account?

[2022-09-12 15:05] 675816156 commented on #1624
@elfenpiff

[2022-09-12 15:39] elfenpiff commented on #1624
@675816156 This is correct. To contribute you have to fork iceoryx to your account, create a branch with `iox-ISSUE_NUMBER` as prefix like in your case `iox-1624-fix-typo` and create a pull request.

Furthermore, you have to sign the ECA. See this here: https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md#feature-request-and-bugs

We are looking forward to your pull request :smil

[2022-09-12 19:17] elfenpiff opened #1633 "Introduce `iceoryx_core` package below `iceoryx_platform`"
## Brief feature description

It may makes sense to introduce a package below platform. Here should reside packages with no dependencies at all. For instance a basic logger and the error handler.
Furthermore we could add here generic cmake building blocks which are used throughout the project.

See also this comment: https://github.com/eclipse-iceoryx/iceoryx/pull/1629#discussion_r968639242

[2022-09-12 19:17] elfenpiff commented on #1633
cc @elBoberido

[2022-09-13 11:23] dkroenke opened #1635 "Use `GTEST_SKIP` for disabled tests"
## Brief feature description

In iceoryx we currently disable google tests by setting `DISABLED_` as prefix in the name of the test case.
A better option is to use:
[code]

- [ ] Update all disabled test cases with the macro
- [ ] Update documentation for Contributors

[2022-09-13 12:00] elfenpiff commented on #1635
This is a great idea. This is also the perfect solution to skip tests for certain platforms. For instance we could introduce a platform enum in the iceoryx_platform and check without macros if we are on a certain platform and then disable the test with `GTEST_SKIP()`.

This would be so much cleaner than the ifdef macros.

[2022-09-13 12:04] #1619 closed

[2022-09-13 22:16] NNatarajan0717 commented on #1612
Hi I am thinking about contributing to this issue. So are you saying that I should create a separate method that converts variable to a string?

[2022-09-14 09:06] elfenpiff commented on #1612
@NNatarajan0717 that sounds great we are looking forward to it!

So now to the nasty details, in `helplets.hpp` we have already implemented:
[code]

The idea is that the user provides additional implementations for whatever types they would like to cast and if a fitting implementation is available `from` works otherwise we get a failure.

The problem now is that this is a free function and free fu

[2022-09-14 16:57] MatthiasKillat opened #1638 "Fix non-portable cast in optional"
## Required information

**Operating system:**
QNX strict build, potentially affects other platforms that implement array to pointer decay differently in the specific situation.
Hence we need to comply with the C++ convention and explicitly use the address of the `m_data` array or its first element (they should be the same, mandated by the standard).

**Observed result or behavior:**

No incorrect

[2022-09-15 08:26] #1638 closed

[2022-09-15 10:56] MatthiasKillat opened #1640 "Create a exchangeable singleton abstraction"
## Brief feature description

Exchangeable singleton abstraction to be used in error handling and logger

1. singleton value exists in static memory
2. lazy construction of value
3. always has a default value (default type can be specified)
4. value can be exchanged with another implementation with a common base class
5. thread-safe

## Detailed information

- prototype exists and can be cut out f

[2022-09-15 12:27] #1274 closed

[2022-09-15 15:25] FerdinandSpitzschnueffler opened #1643 "Revert element destruction order in cxx::vector"
## Required information

The elements in `cxx::vector` must be deleted in reverse construction order since the data is stored in an array, see the [C++ standard](https://isocpp.org/files/papers/N4860.pdf) (section 7.6.2.8, page 129):

``` In the case of an array, the elements will be destroyed in order of decreasing address (that is, in reverse order of the completion of their constructor; see 11.

[2022-09-15 16:57] MatthiasKillat commented on #1591
@byrnexu I am late here I guess but what I see is that there is (roughly) at most a factor of 10 difference in publish time between different platforms. But the values are still in the low microseconds, which is acceptable and in line with other measurements (if it would jump to 100s of microseconds or milliseconds it would be more suspicious.

Now I can only guess the reason, but the queues used

[2022-09-16 05:56] elfenpiff opened #1646 "`acl_entry_t` leak in posix wrapper `AccessController`"
## Required information

In method `AccessController::createACLEntry` an `acl_entry_t` is created with `acl_create_entry` but never free'd with `acl_free` like it is described in https://linux.die.net/man/3/acl_create_entry

This leads to a memory leak.

[2022-09-18 07:50] elfenpiff opened #1649 "Implement Posix System Configuration verificator"
## Brief feature description

Let's assume we deploy iceoryx on a POSIX certified system. It is still possible for that system to not support certain features, it is allowed to have different system limits or other restrictions which are system specific and independent of the POSIX certification.

Important open question:
Is it allowed to implement simple functions like `strncmp` and `strncpy` or

[2022-09-19 14:08] elBoberido commented on #1649
@elfenpiff you mean something like a platform conformity suite for iceoryx?

[2022-09-19 14:34] elfenpiff commented on #1649
@elBoberido no.

The platform conformity suite verifies that the actual platform behaves like the posix standard defines. But this is something we actually don't have to do when the platform is certified according to `POSIX PSE52`. Then the open group has already done this for us.

But still it is allowed to be certified according to this standard and do not provide semaphore, shared memory or thr

[2022-09-19 14:39] elBoberido commented on #1649
@elBoberido I said `platform conformity suite for iceoryx` not `platform conformity suite for POSIX` :)

What you described is exactly what I meant. We must ensure that the platform abstraction works according our assumptions. Which means that the posix calls must not only be implemented but work for our use cases.

[2022-09-19 17:29] elfenpiff opened #1650 "Refactor `iox_LogLevel` to be consistent with c binding enum names"
## Brief feature description

Refactor the `iox_LogLevel` in `iceoryx_binding_c/include/iceoryx_binding_c/log.h` so that it follows the unwritten but consistent naming conventions of enums inside the c binding.
1. enum name is identical to the c++ enum class name with an `iox_` prefix
2. enum values have the c++ enum class name as a prefix.

This would lead to:
[code]

without the `iceoryx_` prefi

[2022-09-19 18:03] elBoberido commented on #1650
@MatthiasKillat AFAIK this is only used in Cylone DDS. Probably only `Iceoryx_LogLevel_Off`. Can you confirm?

[2022-09-20 08:58] elfenpiff opened #1652 "Introduce paths according to XDG specification in `iceoryx_platform`"
## Brief feature description

Files required for unit tests, the iceoryx config file, shared memory file handles or other user defined files have no well defined place to be currently in iceoryx.
When we define constants like `constexpr const char* TEMP_DIR = "/tmp";` in the `platform_settings.hpp` file we could define custom paths for every platform and use them for storage of test files, to look

[2022-09-20 09:05] elfenpiff opened #1653 "Remove suppressions of `Wgnu-zero-variadic-macro-arguments`"
## Brief feature description

The typed test case code and mocks for methods without parameter are cluttered with suppressions like
[code]

The solution to suppress this error is rather simple for typed tests. Just add an additional comma like:
[code]
and the macros are completely gone.

For mock methods there is no workaround possible. The [bug is fixed](https://github.com/google/googletest/commi

[2022-09-20 09:34] elfenpiff opened #1654 "Remove nullability from all iceoryx constructs"
## Brief feature description

To reduce the likely-hood of bugs we should remove the null ability from constructs like:
- [ ] SmartChunk
- [ ] Sample
- [ ] Request
- [ ] Response
- [ ] SharedChunk

Furthermore, we should explicitly allow the relative and relocatable pointer to be nullable. Those are such low level constructs and on those layers `nullptr` maybe transports some information as well w

[2022-09-20 15:01] mossmaurice commented on #1593
## Sync with @elBoberido and @elfenpiff

How to proceeded further with the module structure?

1. Differentiation between user-view and iceoryx developer-view
   1. First step: #1391 iceoryx developer-view aka new folder structure (possibly without CMake changes)
   2. Second step: #1593 user-view to decouple the user from any future changes

## Action items

* Independently brainstorm for a iceory

[2022-09-20 15:47] elfenpiff opened #1655 "Easy misuse in `cxx::unique_ptr`"
## Required information

Since the deleter is part of the constructor argument but otherwise unchangeable it is extremely hard to track which deleter is currently in use.

Do you spot the bug:
[code]

The deleter changes silently when `b` is moved to `a` but the user may assumes that `a` is still a unique_ptr which calls delete on destruction. This can be mixed up extremely easily!

The solution w

[2022-09-20 19:20] elBoberido commented on #1593
@mossmaurice @elfenpiff what do you think about this

[code]
Everything not `concurrent` or `posix` would be part of `core` and each of these three pillars would have a folder structure with `container`, `memory`, etc.?

[2022-09-20 22:12] mossmaurice commented on #1593
@elBoberido It might be confusing for developers browsing the repository on the first sight and might seem verbose to some. No hard feelings here, though.

What do you think about?

[code]

Just to make sure to avoid misunderstanding, I'm only talking about the internal structure not the user-facing one.

[2022-09-20 22:35] mossmaurice commented on #1655
@elfenpiff I never understood why `cxx::unique_ptr` was implemented like it is today in the first place. IIRC @ithier wanted to store the same `cxx::unique_ptr`s with different deleters in a container, which wouldn't directly be possible with `std::unique_ptr` due to the different template instantiations. Not sure if that is still needed today.

[2022-09-21 01:39] byrnexu commented on #1591
@MatthiasKillat thanks a lot for your answer.

[2022-09-21 09:12] #1624 closed

[2022-09-21 09:33] elfenpiff commented on #1593
@mossmaurice I think your structure goes in the right direction but is to fine grained. I would merge `queues` and `containers`. If both would contain more than 10 classes than this would be a meaningful distinction but for now it is not required and YAGNI tells us not to do it.
Otherwise it is a good structure!

In the first step I would not create the same structure in `concurrent` and `posix`.

[2022-09-21 19:59] elBoberido commented on #1593
@elfenpiff a separate CMakeList.txt for each module would not work, at least not when it is more fine grained.

Example:
- container/vector uses the logger
- the logger uses the posix/posixCall
- posix uses the vector

And now we have the circular dependency

if we would have something like
[code]
Then it would again be possible to prevent circular dependencies

[2022-09-21 20:03] elBoberido commented on #1593
@mossmaurice I also thought about that and had a slight tendency to move everything into a common folder but your suggestion might make more sense. With my proposal we would walk the dependency tree like this `hoofs/core/log -> hoofs/core -> hoofs -> hoofs/posix -> hoofs/posix -> hoofs/posix/foo (contains posixCall)` with your suggestion there would be one layer less and it would feel better.

[2022-09-21 20:54] elBoberido commented on #1653
@elfenpiff there were two types of macros where this warning was suppressed. One was `TYPED_TEST_SUITE` and the second one is `MOCK_METHOD` for methods without a parameter. This is fixed upstream in [gTest](https://github.com/google/googletest/commit/a09ea700d32bab83325aff9ff34d0582e50e3997). We just need to figure out which gTest version it is

[2022-09-22 08:56] elfenpiff commented on #1653
@elBoberido but I fear that we won't use the latest gtest upstream version anytime soon. I would still add the extra comma when after the change the code compiles without errors with the latest gtest upstream version.

[2022-09-22 10:56] elBoberido commented on #1653
@elfenpiff that's the problem. In this case it does not compile and a `void` does also not help

[2022-09-22 11:06] elBoberido commented on #1653
@elfenpiff I removed this from the v3 project and decreased the priority to low. Do you think we should create an issue to upgrade to googletest v1.11 or v1.12? I seems there is a bug with `noexcept` mocks which is fixed in v1.11

[2022-09-22 11:24] #1469 closed

[2022-09-22 11:35] MatthiasKillat opened #1659 "Create singleton abstraction to avoid static destruction order problems"
## Brief feature description

The standard singleton implementation (static variable in function scope) does not allow multiple constructors and causes problems with destruction order if static variables depend on each other.

To avoid static destruction order problems a more general singleton abstraction can be created.

## Detailed information

- singleton abstraction shall allow destruction on

[2022-09-22 11:36] MatthiasKillat commented on #1659
This issue is not urgent and I will just move the ongoing PR to this issue (requires changing commits and branch names etc.)

@elBoberido We can also think about the singleton dependency graph here.

[2022-09-22 11:55] elBoberido commented on #1655
@elfenpiff @mossmaurice having the deleter as part of the `unique_ptr` does not fully solve the problem. In our case, one still could call the wrong subscriber to release a sample.
[code]

To make this safe, the reset method must require a deleter.

[2022-09-22 12:25] elfenpiff commented on #1440
Fixed on master with the new builder pattern and on release 2.0.3

[2022-09-22 12:25] #1440 closed

[2022-09-22 12:38] elfenpiff commented on #1653
I think upgrading to 1.11 or 1.12 could become a huge task. You know gtest deprecated `TYPED_TEST_CASES` and we use them excessively for testing generic types. I have no idea when this is being removed and we should check this first.

[2022-09-22 15:57] MatthiasKillat opened #1660 "Use runtime assert to check illegal use cases"
## Brief feature description

The runtime assert (preliminary name `IOX_DEBUG_ASSERT`) shall be used to check for illegal use cases (misuse) such as
- out of bounds access
- access of a smart nullptr
- ...

In the safe mode it should be enabled (and will incur a performance cost).

This requires the new error handling.

## Detailed information

- runtime assert
- can be deactivated at compile time

[2022-09-22 17:48] elBoberido commented on #1653
@elfenpiff don't worry, `TYPED_TEST_CASE` is already ported to `TYPED_TEST_SUITE`. I did it in January :)

[2022-09-23 02:27] Xcliu opened #1661 "How to configure the lock file path"
## Brief feature description
Are there some mechanisms which can be used to configure the lock file path (something like the toml file or callable API)?

## Detailed information
NONE

[2022-09-23 09:45] FerdinandSpitzschnueffler opened #1662 "Change the return type of vector::erase from iterator to bool"
## Brief feature description

Change the return type of `vector::erase` from iterator to bool indicating whether the erase operation was successful.

## Detailed information

In the current implementation a nullptr is returned when the provided position is invalid, i.e. out of bounds. When the last element is removed, `end()` is returned. Dereferencing these leads to undefined behavior. Even thoug

[2022-09-23 09:49] elfenpiff opened #1663 "Update gtest dependency to latest release"
## Brief feature description

Certain features of gtest are emitting warnings with our compiler setup which are fixed in later version. One example is: https://github.com/google/googletest/commit/a09ea700d32bab83325aff9ff34d0582e50e3997

Furthermore we would profit from new features so therefore we should update our gtest dependency to the latest release.

[2022-09-23 09:49] elfenpiff commented on #1653
@elBoberido then lets go for it. I created an issue: https://github.com/eclipse-iceoryx/iceoryx/issues/1663

[2022-09-23 09:59] elfenpiff commented on #1661
@Xcliu I do not know if you mean the lock file which roudi creates or the underlying `FileLock` construct in our posix wrappers so you get a answer for both :smile:

1. **RouDi lock file path** This can be configured platform specific in the file `iceoryx_platform/YOUR_PLATFORM/include/iceoryx_platform/platform_settings.hpp` by adjusting the variable `IOX_LOCK_FILE_PATH_PREFIX`.
Lets assume you ar

[2022-09-23 10:04] elfenpiff commented on #1661
@Xcliu I will transform this issue into discussion which closes the issue for now. If some work follows out of the discussion we can create another issue.

[2022-09-23 10:09] #1643 closed

[2022-09-23 16:11] mossmaurice commented on #1593
@elBoberido As this issue here is about the user-facing structure, let's move this discussion to #1391.

[2022-09-26 10:23] #1662 closed

[2022-09-26 10:32] mossmaurice commented on #1596
@elfenpiff

Good point :+1:  thanks! It's fixed on #1599

[2022-09-26 14:04] JakubSosnovec opened #1666 "GatewayGeneric sometimes terminates discovery and forward threads immediately"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
GCC 7.4.0

**Observed result or behaviour:**
When using the GatewayGeneric type to implement a new gateway, the discovery and forward thread sometimes terminate immediately, because the `m_isRunning` variable is only set to `true` after the threads are initialized. In other words, there is a race whether the wor

[2022-09-26 14:22] JakubSosnovec opened #1668 "originId for ChunkHeader sometimes missing"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
GCC 7.4.0

**Observed result or behaviour:**
The `m_originId` field of the `ChunkHeader` type is sometimes not set. This happens when the last unmanaged chunk can be reused in the `ChunkSender::tryAllocate` method.

**Expected result or behaviour:**
The `m_originId` field should always be set correctly.

**Condi

[2022-09-26 15:57] elfenpiff commented on #1593
@elBoberido @mossmaurice @elfenpiff

Agreed on the following final structure:
[code]

* the folder `legacy` is the migration path
* in the first step we can leave the tests under `iceoryx_hoofs/tests` but in a final solution we will
  * use `iceoryx_hoofs/container/unittests` for all unit tests
  * use `iceoryx_hoofs/integrationtests` for all integration tests which tests the composition of multi-

[2022-09-26 20:55] NNatarajan0717 commented on #1612
I will do my best!

[2022-09-27 09:13] mossmaurice opened #1672 "Refactor `static_storage` to return pointers wrapped in `cxx::optional`"
## Required information

**Operating system:**
Ubuntu 20.04.1

**Compiler version:**
GCC 8.4.0

**Observed result or behaviour:**
`static_storage::allocate()` does return `T*` so users have to check for `nullptr` which can easily be forgotten

**Expected result or behaviour:**
`static_storage::allocate()` shall return `cxx::optional<T*>` so users have to check for a valid pointer more explicitly

[2022-09-27 09:22] elfenpiff commented on #1672
@mossmaurice I am a big fan of the `optional` but an allocator is such a low level construct that I would keep the current syntax. Especially, since an `optional` would make this allocator incompatible with every other allocator existing in the whole C++ ecosystem.
Just think of `malloc`, `new`, the allocator concept from C++23: https://en.cppreference.com/w/cpp/memory/allocator , the type of allo

[2022-09-27 09:25] elfenpiff commented on #1672
@MatthiasKillat

[2022-09-27 09:29] elfenpiff commented on #1672
@mossmaurice Btw. your solution does not solve the problem.

See this rephrased sentence from your original observed behavior:
`static_storage::allocate()` does return `cxx::optional<T*>` so users have to check for `nullopt` which can easily be forgotten

[2022-09-27 09:30] mossmaurice commented on #1672
That's a good point. I was torn between from the beginning on this topic. Shall we document this somewhere that API closeness is preferred for low-level constructs?

[2022-09-27 09:30] #1672 closed

[2022-09-27 09:40] elfenpiff commented on #1672
No, I would not mention this anywhere and would not consider this a risk at all since the statement:
`X` does return `optional/expected` so users have to check for `value` which can easily be forgotten

Is valid for every method/function which returns this.

[2022-09-27 09:55] elfenpiff commented on #1612
@NNatarajan0717 do not hesitate to ask for support when you are stuck. Try out iceoryx on gitter, here you may get an answer even faster. https://gitter.im/eclipse/iceoryx

[2022-09-27 12:05] FerdinandSpitzschnueffler opened #1673 "Improve usability of cxx::Expects and cxx::Ensures"
## Brief feature description

To make it clear that an error message can be provided for `cxx::Expects` and `cxx::Ensures` we should introduce an additional `cxx::ExpectsWithMsg` and `cxx::EnsuresWithMsg`.

## Detailed information

With the current implementation one can pass an error message to Expects/Ensures as condition:

`cxx::Expects(someCondition && "error msg when codition is not true");`

[2022-09-27 17:21] #1596 closed

[2022-09-27 18:10] #1104 closed

[2022-09-27 18:43] dongilchang opened #1678 "Remove googletest patch and append an additional compile option"
## Required information

**Operating system:**
E.g. Ubuntu 20.04 LTS

**Compiler version:**
E.g. GCC 8.4.0

**Observed result or behaviour:**
The `colcon build` command to build `googletest-build` prints the following error after `cmake/googletest/COLCON_IGNORE` is removed.

[code]

Even though `colcon build` command is not often used, the patch of the googletest is not good.
It is hard to maintai

[2022-09-27 20:13] dongilchang commented on #1678
Closing, the patch cannot be removed. the additional compile option should be appended (not prepended). but the compile compile option is only prepended.

[2022-09-28 09:25] elfenpiff opened #1683 "QNX behavior for robust mutex differs from POSIX standard"
## Required information

**Operating system:**
QNX 7.1 (and maybe other versions)

**Compiler version:**
Compiler independent

**Observed result or behaviour:**
A mutex which was set to robust with `pthread_mutexattr_setrobust` fails in `pthread_mutex_lock` when the owning thread died before releasing the mutex.
For more details, see https://www.qnx.com/developers/docs/7.1/#com.qnx.doc.neutrino.li

[2022-09-28 09:26] elfenpiff commented on #1683
cc @elBoberido @dkroenke

[2022-09-28 10:42] mossmaurice opened #1686 "Consolidate mutual calls of move assign and move c'tor"
## Brief refactoring description

Throughout the code base, there different strategies are used to avoid code duplication when it comes to move assignment operator and move c'tor. This should be consolidated according to comment below.

## Detailed information

From @MatthiasKillat  [this comment](https://github.com/eclipse-iceoryx/iceoryx/pull/1603#discussion_r981451732):

[code]

[2022-09-28 11:43] FerdinandSpitzschnueffler commented on #1686
What about the copy c'tor/assignment operator? The argumentation from above is also true for copy.

[2022-09-28 13:18] elfenpiff commented on #1686
@mossmaurice @MatthiasKillat

First of all, we use the same approach also in the copy constructor and I would assume that Matthias argument applies to this as well.

The argument why we pursued this approach was:
* it is future proof, when we add new members we have to adjust two places (copy & move assignment) instead of four places. We had this bug in the past and this was our lessons learned.
*

[2022-09-28 16:49] elBoberido opened #1687 "Install generated header via `iox_add_library`"
## Brief feature description

Generated header like `iceoryx_version.hpp` or `iceoryx_hoofs_deployment.hpp` need to be installed via a separate `install` command in cmake. Since these files are already part of the `target_include_headers` it should be installed via this mechanism or alternatively an additional parameter should be added to `iox_add_library`

[2022-09-28 19:46] elBoberido commented on #1686
I also think this is not required to be in v3.0. This is a non-breaking change and can be done anytime.

@elfenpiff the issue is two fold. I think we all agree on removing the check for `this` in the ctor, e.g. by having a `copy(const T&)` and call this from the ctor and the assignment operator. The latter with the `this` check.

The more controversial part is to do copy/move via the initializer l

[2022-09-29 09:47] elfenpiff opened #1689 "Cleanup todo comments in `iceoryx_hoofs`"
## Brief feature description

Every todo entry, no matter cmake or cpp file, should start with `@todo iox-#???` with a valid ticket number and a short explanation what has to be additionally.

Furthermore we require a CI check that verifies that all todo comments follow the syntax.

[2022-09-29 09:58] elfenpiff opened #1690 "Internal public for internal build dependencies in hoofs testing"
## Brief feature description

Taken from comment in `iceoryx_hoofs/testing/CMakeLists.txt`:
[code]

[2022-09-29 12:00] elfenpiff opened #1692 "Wrap all C calls in `posixCall` in IntrospectionApp"
## Brief feature description

The introspection app uses C calls without using the `posixCall`. This should be adjusted to ensure a correct error handling.

[2022-09-29 12:06] elfenpiff opened #1693 "Use Zero-Copy receive in all IPC-Channel types and the posh IPC channel"
## Brief feature description

Instead of using an API with an additional copy like:
[code]

the user could provide a preallocated object like `iox::vector` or `iox::string` where the received message is directly written into to avoid the additional copy. Like
[code]

## Tasks

- [ ] add API for `iox::string`
- [ ] add API for `iox::vector`

[2022-09-29 12:19] elfenpiff opened #1694 "Broken MSVC compiler leads to ifdef in optional"
## Brief feature description

The compiler bug in the msvc described in here
https://developercommunity.visualstudio.com/content/problem/858688/stdforward-none-of-these-2-overloads-could-convert.html

is at the moment fixed with a `ifdef` platform macro in `optional<T>::operator=(U&& newValue) noexcept` in the `cxx::optional`.

We should check if the bug is now fixed and we can remove the platform

[2022-09-29 12:28] elfenpiff commented on #1694
cc @elBoberido please verify priority

[2022-09-29 12:32] elfenpiff opened #1695 "Decipher weird comment in SoFi"
## Required information

In the sofi implementation `sofi.inl` is a weird todo which states:
[code]

Unravel hidden meaning and write doc with example has hinted in to todo ... Or do nothing if it is not relevant anymore.

[2022-09-29 12:46] elfenpiff opened #1696 "All containers require exclusively `TYPED_TESTS`"
## Brief feature description

Since it is unknown to us which types containers like:
* `optional`
* `expected`
* `vector`
* `list`
* `forward_list`
* `stack`
* all queues
* `string` (here the capacity)

will contain we have to create typed tests so that in an ASIL D system for every instance a full test setup exists.

## ToDo

Check if the following constructs requires adjusted tests:
* [ ]  `opti

[2022-09-29 12:46] elfenpiff commented on #1696
@elBoberido please verify priority.

[2022-09-29 18:48] elBoberido commented on #1690
@elfenpiff I think this todo is already obsolete and could be removed. We already discussed a new folder structure

[2022-09-30 11:39] #1690 closed

[2022-09-30 11:54] elfenpiff opened #1701 "Verify that `PointerRepository` does not have to be thread-safe"
## Brief feature description

In a this discussion it was unraveled that the PointerRepository is not-thread-safe: https://github.com/eclipse-iceoryx/iceoryx/pull/1699#discussion_r984338244

@elBoberido drafted the following possible scenario:

* thread A is started
* thread B is started
* thread A registers a pointer
* thread B registers a pointer -> is this a valid use case
* thread B uses a rel

[2022-09-30 11:54] elfenpiff commented on #1701
cc @MatthiasKillat

[2022-10-02 07:50] sgf201 opened #1703 "roudi is running by user worker. program which is running by root can not connect it to loan sample"
## Required information

**Operating system:**
E.g. Ubuntu 16

**Compiler version:**

**Observed result or behaviour:**
program can not connect to roudi

**Expected result or behaviour:**
program running by root can work well

**Conditions where it occurred / Performed steps:**
roudi is running by worker   programe is running by root

![MigXxsY0pn](https://user-images.githubusercontent.com/5253415

[2022-10-03 09:38] budrus commented on #1703
@sgf201 Let me check if I understood it right
- you run RouDi with root
- the permission denied error is printed by the RouDi process
- the application that tries to register gets a timeout as RouDi doesn't respond. Which makes sense if RouDi cannot open a UDS
- So the question is why RouDi is not allowed to create a UDS
- Can you say more about what is meant by `roudi is running by user worker. p

[2022-10-03 10:24] neillangmead41 opened #1704 "Investigate whether includes can be optimized"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

**Observed result or behaviour:**
A clear and precise description of the observed result.

**Expected result or behaviour:**
What do you expect to happen?

**Conditions where it occurred / Performed steps:**
Describe how one can reproduce the bug.

[2022-10-03 10:25] neillangmead41 commented on #1704
Are all #includes in iceoryx required? Some preprocessing analysis suggests not. The goal of this ticket is to try to identify and reduce the number of includes if possible. This will also impact metrics such as coupling, connectedness, relevant for FUSA work.

[2022-10-03 15:27] sgf201 commented on #1703
I run RouDi with worker(a nomal user)
program(need to loan sample from RouDi) is run with root
and the first question is  RouDi is not allowed to creat a UDS

[2022-10-04 06:42] mossmaurice commented on #1703
@sgf201 It is recommend to have all users running the program in one common group `iceoryx`, [see the ice_access_control example](https://iceoryx.io/v2.0.2/examples/ice_access_control/#code-walkthrough) not using root. Just out of curiosity, why do you need to run something as root?

[2022-10-04 11:49] sgf201 commented on #1703
why do you need to run something as root ?
the program is a service and it is so old that no one knows whether it will work will as worker, so there is risk if I change it to worker

[2022-10-04 16:36] elfenpiff opened #1708 "Fix segfault in `iox_cheeky_app.cpp` in ice_access_control example"
## Required information

When a subscriber is created without any readable shared memory segment it segfaults. This should not segfault in the example since this could be a valid use case. We have to provide a sensible error code instead.

[2022-10-04 16:43] elfenpiff opened #1709 "Refactor `PortPoolMemoryBlock`"
## Brief feature description

From a todo inside of `port_pool_memory_block.hpp`: The PortPool needs to be refactored to use a typed MemPool once that is done, the cTor needs a configuration similar to MemPoolCollectionMemoryProvider

At the moment it seems that we can remove this also completely and replace it later with dynamic size types.

[2022-10-04 16:45] elfenpiff opened #1710 "make ChunkDistributor lock-free"
## Brief feature description

Taken from todo from `chunk_distributor_data.hpp`:
If we would make the ChunkDistributor lock-free, can we than extend the UsedChunkList to
be like a ring buffer and use this for the history? This would be needed to be able to safely cleanup.
Using ShmSafeUnmanagedChunk since RouDi must access this list to cleanup the chunks in case of an application
crash.

[2022-10-04 16:47] elfenpiff opened #1711 "Solve possible deadlock in ChunkDistributor"
## Required information

Taken from todo in `chunk_distributor.inl`:
currently we have a deadlock / mutex destroy vulnerability if the ThreadSafePolicy is used
and a sending application dies when having the lock for sending. If the RouDi daemon wants to
cleanup or does discovery changes we have a deadlock or an exception when destroying the mutex
As long as we don't have a multi-threaded lock-free

[2022-10-04 16:52] mossmaurice commented on #1708
@elfenpiff Isn't that a duplicate of #722?

[2022-10-04 17:01] elfenpiff opened #1712 "Implement `minVal` and `maxVal` without references to be usable by static constexpr members"
## Brief feature description

Currently even constexpr static members in C++ must be explicitly instantiated in a cpp file. With C++17 and inline constexpr this issue is fixed.
If one would like to use a constexpr static member in C++ in combination with the constexpr `algorithm::minVal/maxVal` one gets a linker error since it is not explicitly instantiated and those methods require a reference.

[2022-10-04 17:05] elfenpiff opened #1713 "Make history acquisition lock-free - A perfect job for our future selves"
## Brief feature description

To cite the grand master @budrus himself:

There are currently some challenge:
For the stored queues and the history, containers are used which are not thread safe. Therefore we use an
inter-process mutex. But this can lead to deadlocks if a user process gets terminated while one of its
threads is in the ChunkDistributor and holds a lock. An easier setup would be if c

[2022-10-04 17:16] elfenpiff opened #1714 "Investigate possible concurrency issues in mempool"
## Brief feature description

Some todos in `mem_pool.cpp` indicate that certain lockfree constructs needs to be introduced for the mempool. Furthermore, we have certain requirements for the used chunk lists were it is maybe unclear if the list actually fulfills them.

[2022-10-04 17:21] elfenpiff opened #1715 "Refactor service description and remove class hash, scope and interface"
## Brief feature description

In the capro service description are still 3 members were it is unclear if they are currently in use or if they are ever gonna be useful. Check their relevance and remove them if necessary.

[2022-10-04 17:24] FerdinandSpitzschnueffler commented on #1715
@elfenpiff This is a duplicate of #1141.

[2022-10-04 17:31] elfenpiff opened #1716 "Investigate Node behavior in runtime"
## Brief feature description

When creating a node in the runtime with a `nodeDeviceIdentifier` of value 1 and verifies that one gets a return of 0. Nodes are not really in production use - this issue was created to track a todo in the code.

[2022-10-04 17:40] elfenpiff commented on #1708
Yes it seems so

[2022-10-04 17:40] #1708 closed

[2022-10-04 17:42] elfenpiff commented on #1715
Yes it is!

[2022-10-04 17:42] #1715 closed

[2022-10-04 21:26] #1655 closed

[2022-10-05 11:38] elfenpiff opened #1718 "Implement modern C++ features"
## Brief feature description

Sadly most of the modern C++ features are not available to use since they either use C++17 or later or have undefined behavior, exceptions or heap behind the scenes. This issue shall track new useful language features from C++ or maybe even Rust and check if they can be implemented in C++14.

- [ ] `std::filesystem::exists()`

[2022-10-06 07:57] mossmaurice commented on #1038
Closing this issue. Feel free to re-open if there are further questions on this topic.

[2022-10-06 07:57] #1038 closed

[2022-10-06 09:32] #1689 closed

[2022-10-06 09:32] #1694 closed

[2022-10-06 13:47] sgf201 commented on #1703
Thank you very much, but there is a misunderstanding, I have been trying to clarify, currently it is not roudi running as the root user, it is a program that needs to use dds to communicate with the root user, and roudi is running as the worker user.
In this case, is there a simpler way to change this problem, such as when communication is required, judge the current permissions at runtime, and le

[2022-10-07 09:38] elfenpiff commented on #1703
@sgf201 We based our security concept on posix users and groups. The feature you are describing is exactly what we would like to ban since we require freedom of interference etc.
Just think what happens when an evil application can pretend to be someone else and then gains access to resources - even when it is root.

I think the best solution here is to either evaluate why your dds application has

[2022-10-07 14:46] mossmaurice opened #1723 "Implement `std::string_view` in C++14"
## Brief feature description

Backport a non-owing `std::string_view from C++17 to C++14. It can be useful for avoid to pass a `char*` where you can easily run into out-of-bounds problems, which is avoided using `string_view`:

[code]

## Detailed information

* [ ] Define API & possibly design document
* [ ] Implementation

[2022-10-10 09:29] nnmm opened #1725 "Nifty counter for PoshRuntimeImpl"
## Brief feature description

The `PoshRuntimeImpl` is a static variable (Meyer's singleton). When used with Cyclone DDS, sometimes (unfortunately) there are other static objects containing a DDS entity (e.g. domain participant), which on destruction uses the `PoshRuntime`. The destruction order of these static variables is impossible to predict, so it would be good to have a way to extend the lif

[2022-10-10 09:46] elfenpiff opened #1726 "Move macro code from `cxx/attributes.hpp` into `iceoryx_platform`"
## Brief feature description

Attributes like `IOX_NO_DISCARD` provide the same functionality even on platforms which do not support them natively or at least let the code compile without warning.
This functionality requires platform/compiler dependent macros and should be moved to `iceoryx_platform` to remove those macros.

[2022-10-10 12:07] elBoberido commented on #1725
@nnmm this seems to be somehow related to our `ScopedStatic`. Maybe it could be consolidated with the nifty couter idiom. AFAIK, for our use case the `Initializer` for the `PoshRuntime` must have a static lifetime else the `PoshRuntime` would be destroyed immediately after the `initRuntime` call. So there would be the static `PoshRuntime` initialized via placement new and the static `Initializer`.

[2022-10-10 12:13] elBoberido commented on #1726
We have to be careful with this. Ideally the platform could depend on the `primitives` module but then the platform must be in hoofs. Maybe we can have a `common` folder in platform and add an include trampoline for `attributes.hpp` in hoofs.

[2022-10-10 12:23] nnmm commented on #1725
@elBoberido Thanks for the pointer.

My understanding is that the standard nifty counter from the link above already has a static initializer. Every translation unit that includes `posh_runtime.hpp` would get a copy of that static initializer, and because it comes _before_  any static variable `X` from the cpp file that's currently compiled, the initializer and thus the `PoshRuntime` will only be

[2022-10-10 12:27] nnmm commented on #1725
We could also create a new header, `extend_posh_runtime_lifetime.hpp` to convey the intent more clearly.

[2022-10-10 12:37] sgf201 commented on #1703
Thank you very much. I have strongly requested that the  service must be started as worker.
I have no questions now. Thank you for your replies. I will close this issue

[2022-10-10 12:37] #1703 closed

[2022-10-10 13:12] nnmm commented on #1725
What's not clear to me yet is whether we can keep the `setRuntimeFactory()` functionality with the nifty counter, because the initialization of `PoshRuntime` will happen eagerly, not lazily like before. So the runtime will usually already be created by the time `setRuntimeFactory()` is called.

[2022-10-10 13:54] elBoberido commented on #1725
@nnmm I just skimmed over the page behind the link. Probably I didn't fully get it. Anyway, it would be great if it works. I'm just wondering if there are issues with shared libraries and of course also the problem with `setRuntimeFactory` which is used for testing purposes. Maybe the whole stuff needs to be refactored.

[2022-10-11 14:06] #1635 closed

[2022-10-12 05:19] qclzdh commented on #1042
@elfenpiff @mossmaurice
could you leave me one e-mail address for further communication about the funcational safe ISO26262 version?

[2022-10-12 12:42] mossmaurice commented on #1042
@qclzdh For questions on products offered by Apex.AI please write an email to products@apex.ai thanks!

[2022-10-12 13:54] nnmm commented on #1725
I think I found a way to do it. But `posh_runtime_single_process.cpp` puzzles me. It looks like you're derefencing a nullptr in `singleProcessRuntimeFactory()` – what is this supposed to do?

[2022-10-12 14:58] FerdinandSpitzschnueffler opened #1732 "Implement BumpAllocator"
## Brief feature description

Currently we have (at least) two classes to allocate memory: `posix::Allocator` and `cxx::static_storage`, where `cxx::static_storage` is basically `posix::Allocator` but with internal storage. To have a more generic and reusable allocator, we can remove the internal storage from `cxx::static_storage`, merge it with `posix::Allocator` and rename it to `BumpAllocator`

[2022-10-12 19:54] elBoberido commented on #1725
@elfenpiff `posh_runtime_single_process` is your little baby. Maybe you can help :)

cc @nnmm

[2022-10-13 10:22] elBoberido opened #1736 "CI uses outdated clang-format"
## Required information

We require clang-format-15 but the CI uses the default one from ubuntu 20.04. This results in pre-flight-check failures.

[2022-10-13 11:49] #1736 closed

[2022-10-13 22:06] ceccocats opened #1740 "Roudi SEGFAULT when a subscriber dies"
## Required information

**Operating system:**
Ubuntu 20.04 LTS

**Compiler version:**
GCC 9.4.0

**Observed result or behavior:**
All this behavior occured on the iceoryx version shipped with cyclone DDS on ros2 galactic.
I see similar behavior also with ros2 humble

Roudi do SEGFAULT when a subscriber dies.
It happens expecially when you have a publisher with high publish rate.
ROUDI segfault af

[2022-10-13 22:41] ceccocats commented on #1740
In this repo you can find the a replica of the bug:
https://github.com/ceccocats/iceoryx_bug

[2022-10-14 08:44] elfenpiff commented on #1740
@ceccocats this is an amazingly detailed bug report. Thanks a lot for the effort!

I will dig into it and let you know what I have found out.

[2022-10-14 09:24] elfenpiff commented on #1740
Just for the others, to reproduce the bug use the iceoryx environment and install some missing packages:
[code]
and then proceed as it is described in the iceoryx_bug repo.

What I find curious is that the listener receive the first couple of hundred messages and then suddenly stalls and is doing nothing anymore. It is then also impossible to kill it with CTRL+c or sending sigterm.

@MatthiasKilla

[2022-10-14 09:35] elfenpiff commented on #1740
Another interesting observation. When I start the setup with (in separate terminals)
[code]

And try to terminate roudi when the listener is stalled, roudi hangs. It seems there is some kind of deadlock in there.

[2022-10-14 09:45] #1704 closed

[2022-10-14 12:09] elfenpiff commented on #1740
@ceccocats I created an issue also on cyclone-dds side: https://github.com/eclipse-cyclonedds/cyclonedds/issues/1445 since I suspect maybe a couple of issues here. @MatthiasKillat maybe you have some insights.

[2022-10-14 12:51] FerdinandSpitzschnueffler opened #1742 "Fix variant alignment"
## Brief feature description

The `variant` has an array `m_storage` as member which has the maximal size of its alternative types and is aligned to the maximal alignment of its alternative types. What happens when the type with the biggest size is not the type with the biggest alignment? Can this lead to errors? Can we fix this if we align the array size to the maximal alignment?

## Tasks

- [x]

[2022-10-14 12:51] FerdinandSpitzschnueffler commented on #1742
^^ @elfenpiff @elBoberido

[2022-10-14 16:10] mossmaurice opened #1745 "Restructure `RelativePointer` units tests"
## Brief issue description

* [ ] Restructure the unit tests / add missing tests
* [ ] Replace `RelativePointer` by `RelocatablePointer` where applicable, e.g. `Semaphore` and `LoFFLi`

## References

* Comes from #605

[2022-10-14 16:11] mossmaurice commented on #605
Moved open tasks to #1745

[2022-10-14 16:11] #605 closed

[2022-10-17 08:01] MatthiasKillat commented on #1740
It does not look like it is a CycloneDDS problem or a usage problem. It looks more like a problem in resource cleanup. We need to trace why the wrong (?) pointer is used in the cleanup. I am not too familiar with the cleanup strategy, but the subscriber is marked to be dead and the chunks that it still owns cleaned up.

The problem appears to occur if some chunk is cleaned up that does hold an inv

[2022-10-17 12:13] JakubSosnovec opened #1747 "`vector::capacity()` should be `static constexpr`"
## Brief feature description

The type `iox::cxx::vector` has the method `capacity()` which could be `static constexpr`. This is completely analogous to the `iox::cxx::string` type, which already has `static constexpr` method `capacity()`.

## Detailed information

I think this only has benefits, no drawbacks :)

[2022-10-17 13:12] #1725 closed

[2022-10-17 16:15] elBoberido commented on #1704
@mossmaurice was this intentionally closed?

[2022-10-17 17:18] mossmaurice commented on #1704
@elBoberido It closed by merging #1738. If @neillangmead41 has more includes to optimize we can re-open this issue.

[2022-10-18 15:00] mossmaurice commented on #1747
Closing as it was implemented on #1729

[2022-10-18 15:00] #1747 closed

[2022-10-18 17:51] mossmaurice opened #1750 "Accessing `cxx::expected` which contains a value or error leads to UB if the contrary is accessed"
## Required information

**Operating system:**
Ubuntu 20.04.3 LTS

**Compiler version:**
GCC 8.4.0

**Observed result or behaviour:**
Accessing `cxx::expected` which contains a value or error leads to UB if the contrary is accessed.

**Expected result or behaviour:**
Defined behaviour aka call to error handler via `cxx::Expects`.

**Conditions where it occurred / Performed steps:**
[code]

[2022-10-19 15:03] mossmaurice opened #1751 "Add equality operators to `cxx::variant` and `cxx::expected`"
## Brief feature description

Add the equality operators `operator==()` and `operator!=()` to `cxx::variant` and `cxx::expected` outside of the class to follow AUTOSAR rule `A13-5-5`.

[2022-10-19 16:09] MatthiasKillat commented on #1742
We have to determine both, maximum size `MS` and maximum alignment `MA` at compile time. This can be done  with various techniques and is at least already done with the size otherwise it is already broken.

Assuming we have those we have two options:
1. align the buffer with any alignment but compensate by increasing the size `S = MS + MA` (worst case assumption with buffer alignment 1, can be red

[2022-10-19 17:37] elBoberido commented on #1742
@FerdinandSpitzschnueffler short answer: It is not a problem and does not need a fix

long answer: see https://github.com/eclipse-iceoryx/iceoryx/issues/1742#issuecomment-1284255200 :)

medium answer: alignment is only an issue if it is less than the required alignment for a type, i.e. a `uint64_t` must be placed at an address which is a multiple of 8 and an `uint32_t` to an address which is a mul

[2022-10-19 17:41] elBoberido commented on #1745
@mossmaurice I move the second task item ("Replace `RelativePointer` by `RelocatablePointer` where applicable, e.g. `Semaphore` and `LoFFLi`") to a separate issue since the issue description is misleading in this case

[2022-10-19 17:44] elBoberido opened #1753 "User RelocatablePointer where applicable"
## Brief feature description

At some places a where a `RelativePointer` is used a `RelocatablePointer` would be sufficient and more efficient.

Places where this might be the case is iceoryx_hoofs and especially the container.

[2022-10-20 07:46] FerdinandSpitzschnueffler commented on #1742
@MatthiasKillat @elBoberido Thanks for the clarification! I close this ticket since no fix is needed.

[2022-10-20 07:46] #1742 closed

[2022-10-20 11:57] elBoberido opened #1755 "Enhance Logger"
## Brief feature description

Enhance the basic logger implementation from #1345

## Detailed information

- [x] use distinct methods in `LogStream& operator<<` instead of the templated method with SFINEA for arithmetic types
    - the template method prevents the implicit conversion of types to an arithmetic type and the function overloading selects `LogStream& operator(const bool value)` for e.g

[2022-10-20 12:00] elBoberido opened #1756 "Use the logger instead of cout/clog/cerr in iceoryx_hoofs"
## Brief feature description

Currently `std::cout`, `std::clog` and `std::cerr` are used in iceoryx_hoofs. Since these calls can use a mutex, they should be replaced by `IOX_LOG` calls

[2022-10-23 18:02] dongilchang opened #1758 "Prevent building GoogleTest when GTest_DIR is defined"
## Brief feature description

Prevent building GoogleTest when `GTest_DIR` is defined.  If `GTest_DIR` is defined with cmake parameters by users,
It means that the external googletest version will be used. So, Downloading and building GoogleTest is not necessary.

Additionally, When `CMAKE_TOOLCHAIN_FILE` is defined, `GTest_DIR` is redefined with the default path of GoogleTest.
It should be preser

[2022-10-24 10:58] elfenpiff commented on #1751
Neither `expected` nor `variant` have implemented a comparison operator so why add them now? What kind of purpose/feature would we cover with it?

[2022-10-24 11:13] elfenpiff opened #1760 "Support `uninitialized_array` with capacity zero"
## Brief feature description

Supporting an `uninitialized_array` with a capacity of zero can be beneficial for some meta-programming corner cases. The array should provide the same interface as the `uninitialized_array` with a non-zero capacity but all methods should return either `nullptr` or dereference `nullptr`.

[2022-10-24 11:28] #1758 closed

[2022-10-24 13:22] elBoberido commented on #1760
@elfenpiff this would also fix #488 when the vector would use the `uninitialized_array`

cc @FerdinandSpitzschnueffler

[2022-10-24 15:31] sgf201 opened #1761 "return err when init a cyclonedds reader"
## Required information
iox-roudi:
**Operating system:**
Ubuntu 16.04 LTS

**Compiler version:**
E.g. GCC 5.4.0

app:
**Operating system:**
Ubuntu 16.04 LTS

**Compiler version:**
E.g. GCC 7.5.0

**Observed result or behaviour:**
failed to creat a cyclonedds reader (using iceoryx)

**Expected result or behaviour:**
creat reader successfully

![75e183c6-d457-4447-85b7-2368ac2e3d8c](https://user-ima

[2022-10-25 10:41] elfenpiff commented on #1761
@sgf201 it looks like that somehow roudi is not running since it would create exactly this shared memory segment. Otherwise if roudi does not run you would not be able to startup at all.

Is it possible that some process cleaned up files in `/dev/shm`?

[2022-10-25 14:28] sgf201 commented on #1761
"IPCRM -ALL "will causethis?

[2022-10-25 17:34] elfenpiff commented on #1761
@sgf201  > "IPCRM -ALL "will causethis?

I think you had a little caps lock incident there :smiley: .

You are right, the command `ipcrm -all` causes this. When you call this command before you start any iceoryx application or roudi you should be fine otherwise very weird things may happen.

[2022-10-26 11:12] #1750 closed

[2022-10-26 12:09] #1516 closed

[2022-10-26 12:56] afrixs commented on #1740
I've just tested the iceoryx_bug scenario with the latest iceoryx version in master branch and ros rolling. Long story short: the crash and stall still occurs, however, you need to terminate the listener before it stalls to reproduce the RouDi crash + there are some additional crashes happening

#### Versions/commits
Ubuntu 22.04.1 LTS
ros-rolling-rclcpp: 17.0.0-1jammy.20220914.143855
rmw_cycloned

[2022-10-26 13:14] #1751 closed

[2022-10-26 15:33] elfenpiff commented on #1740
@elBoberido you are most familiar with the used chunk list and since there is maybe an infinite loop in there I tagged you here.

@afrixs thank you for the very detailed report! I will look into it.

[2022-10-27 03:23] sgf201 opened #1763 "app crash OSH__SHM_APP_MAPP_ERR"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

**Observed result or behaviour:**
A clear and precise description of the observed result.

**Expected result or behaviour:**
What do you expect to happen?

/home/worker/sgf/iceoryx/iceoryx_utils/source/posix_wrapper/shared_memory_object/shared_memory.cpp:149 { bool iox::posix::SharedMemory::

[2022-10-27 08:32] afrixs commented on #1740
I've just tested the bug with versions used by ros2 packages (rmw_cyclonedds: 1.4.1, cyclonedds: 0.9.0, iceoryx: v2.0.2) and segfaults seem to happen on listener side occasionally too. So the only difference between master and v2.0.2 is that in master version iox-roudi seems not to remove unresponsive listeners (isn't this a bug too? or is this functionality somehow turned off for debugging purpos

[2022-10-27 09:25] elfenpiff commented on #1740
@afrixs @ceccocats Thank you for your support and help so far. I think the next step is to create an iceoryx only example to reproduce the bug (to ensure that this is really originating from iceoryx and we can exclude cyclone-dds and ros).

I would write one in the next days but if some of you would like to do this I would be more than happy to share the work - just let me know.

A good approach w

[2022-10-27 09:31] elfenpiff commented on #1763
@sgf201 Thanks for the report. The bug looks like the issue you already reported here: #1761 and I think they may have the same origin.

From the first look it seems that `iox-roudi` was started and then something deleted the shared memory resource `/dev/shm/iceoryx_mgmt` which we require for the zero copy inter process communication. Is it possible that you call `ipcrm -all` after `iox-roudi` was

[2022-10-27 10:18] afrixs commented on #1740
I can take it, thanks for pointing me to the next step

[2022-10-27 11:04] elfenpiff commented on #1740
@afrixs cool, thank you very much :smile:

[2022-10-27 11:35] elBoberido commented on #1761
@sgf201 can this issue be closed?

[2022-10-27 14:13] afrixs commented on #1740
The example can be found [here](https://github.com/robotechvision/iceoryx/tree/roudi-crash-replica).

Currently I'm failing to reproduce the crashes/stalls using pure iceoryx (icedelivery/iox-cpp-publisher + icedelivery/iox-cpp-subscriber). However, I've succeeded to reproduce them with a pure iceoryx publisher and ROS2 subscriber (icedelivery/iox-cpp-publisher + `ros2 run demo_nodes_cpp listener`

[2022-10-28 14:32] elBoberido commented on #1740
@elfenpiff @afrixs my gut tells me this is synchronization issue. After having a closer look, it seems there is a small window where the subscriber removed the sample from the `UsedChunkList` but the memory is not yet synchronized. When the subscriber is killed within this window and RouDi does the cleanup we have a double free. The problem can be solved, the question is just how expensive it will

[2022-10-28 15:06] mossmaurice opened #1766 "`iox::string` reads out-of-bounds if constructing from / assigning a non-null-terminated char array"
## Required information

**Operating system:**
Ubuntu 20.04.3 LTS

**Compiler version:**
GCC 8.4.0

**Observed result or behaviour:**
`iox::string` reads out-of-bounds if a non-null-terminated char array is passed to the following methods:

1. `string::string(TruncateToCapacity_t, const char* const str)`
2. `string::unsafe_assign(const char* const str)`

**Expected result or behaviour:**
Passing a

[2022-10-28 16:27] afrixs commented on #1740
I'm currently investigating the problem and you're right, there was a lock missing around calling `iox_sub_release_chunk` in cyclonedds (there is a lock but it locks a different mutex from the one used for `iox_sub_take_chunk`). In my tests, calling these two methods from different threads at the same time caused crashes very similar to the ones which were reported. However, the test application k

[2022-10-28 18:21] afrixs commented on #1740
Ok, the reason of "stalling" was just my debugging chatter, so things work now properly, no crashes, no hangs. So since I assume that there was no intention for `iox_sub_take_chunk` and `iox_sub_release_chunk` to be thread-safe, I think this issue can be closed here and I'll create a PR in cyclonedds.

Btw, there's missing `iox_sub_release_chunk(subscriber, userPayload);` in the [`ice_c_callbacks_

[2022-10-31 12:14] elfenpiff commented on #1740
@afrixs Great work and thank you for taking care of this!

[2022-10-31 13:10] elBoberido commented on #1740
@afrixs hahaha, I started my last comment with `my gut tells me the subscriber is accessed from multiple threads without synchronization` and then I had another look at the `UsedChunkList` to be sure we do not have an issue there. Your are right, the window is too small to reproduce it that reliable. Great that you found the the root cause of your problem but we need to also fix the synchronizatio

[2022-10-31 14:40] MatthiasKillat commented on #1740
@afrixs Great find. I am not sure I am the culprit for missing the lock or the code was changed in the meantime. In C it is not possible to consistently enforce locking by say using lock_guards and proper encapsulation (struct members are accessible).

In any case, as already mentioned, the subscriber is not thread-safe. In C++ this is trivial to solve in a default way with a wrapper class and a m

[2022-10-31 14:53] MatthiasKillat commented on #1740
@elBoberido One could argue to provide thread safe versions of publisher and subscriber in addition, but this is additional API to test in C++. But it might be worth it to have it as default in the C API to avoid these problems.

Say the C API subscriber uses a mutex protected C++ subscriber under the hood. Of course, this reduces performance if this is not needed ...

[2022-10-31 17:08] elBoberido opened #1771 "UsedChunkList may not synchonize memory when application aborts abnormally"
After having a closer look at the `UsedChunkList`, it seems there is a small window where the subscriber removed the sample from the `UsedChunkList` but the memory is not yet synchronized. When the subscriber is killed within this window and RouDi does the cleanup we have a double free. The problem can be solved, the question is just how expensive it will be.

_Originally posted by @elBoberido in

[2022-10-31 17:21] elBoberido commented on #1771
After having an even closer look at the `UsedChunkList` it turned out to not be an issue since the sample is not freed in the application but returned to the caller which means the memory is properly synchronized. It seems I confused the `releaseToSharedChunk` call in `remove` with the one in `cleanup`. The former one is called in the application and does not free the sample but returns it to the

[2022-10-31 17:23] elBoberido commented on #1740
@MatthiasKillat @elfenpiff after creating #1771 I had an even closer look to the `UsedChunkList` and came to the conclusion that we do not have any issue there. It was just me who was a little bit confused :smile:

cc @afrixs

[2022-11-01 15:12] #1196 closed

[2022-11-02 18:53] elfenpiff opened #1775 "Separate container logic from capacity template argument"
## Brief feature description

Currently the iceoryx_hoofs container like `vector`, `stack` etc. are fixed size with a capacity argument. To improve their test-ability we have to separate the implementation from the template capacity argument.

This means we introduce to every class a `myClass_implementation` where the whole logic is implemented and the actual `myClass` inherits from `myClass_imple

[2022-11-03 14:35] MatthiasKillat commented on #1766
@mossmaurice This is not a bug this is by design and all string APIs interfacing with char arrays will have to take care of it. At some point, we need to construct a string wrapper from a character array, and providing say an additional size arguments does not solve the problem (it could be inconsistent with the actual size).

There is no point restricting the API, it just needs to be used correct

[2022-11-03 15:07] mossmaurice commented on #1766
@MatthiasKillat Thanks for your comment. Let me reply inline.

I know what you mean. I still think such an API counts as a "buggy API" and should be avoided when we know that it can lead to problems. We are talking about the responsibility of the API caller. In case of the `(const char* str)` version which searches for a null-termination and the size is thereby passed implicitly. Then it's clearly

[2022-11-03 15:38] MatthiasKillat commented on #1766
@mossmaurice A bug is a behavior that is not according to specification. This is not the case here.

Whether one wants to keep the API is another matter, but this is the actual question. A `std::span` has to come from somewhere, as has a `std::string_view`. At one point one f them will be interfacing with raw strings and this includes zero dealing with zero termination (as per C++/C design). Hence

[2022-11-03 19:39] elBoberido commented on #1766
@mossmaurice I tend to agree with @MatthiasKillat here. Removing the ctor does not solve the problem but creates a new one since there are now two parameter which are logically connect but disjoint.

[code]

The user would essentially do exactly the same as the ctor would do but has to take care of using `strnlen` instead of `strlen` and to use the right parameter.

[2022-11-03 20:58] mossmaurice commented on #1766
@MatthiasKillat

I'm happy to discuss whether we need to create a new label for those kind of issues. You are right it's not a classical bug in the class itself but a bug induced by the user. As already stated, such induced bugs should be avoided whenever possible.

@elBoberido You are right that the problems gets shifted to a higher level. In my opinion this is the correct way as it's different i

[2022-11-04 08:13] patdhlk commented on #180
I'm working on the it, I hope a fist version is available beginning next week

[2022-11-07 15:40] FerdinandSpitzschnueffler opened #1778 "Fix warnings with `-Wcast-align=strict`"
## Brief feature description

When compiling with gcc and `-Wcast-align=strict` there are some warnings in the C binding and in the iceperf example. These should be fixed.

## Detailed information

For the warnings in the C binding @elBoberido proposes to replace
[code]
with
[code]

Additionally, see the following comments:
https://github.com/eclipse-iceoryx/iceoryx/pull/1774#discussion_r101544029

[2022-11-07 16:11] elBoberido commented on #1778
@FerdinandSpitzschnueffler the issue is uds.cpp and mq.cpp are related to using `char*` instead of `void*`. With that change, the problem is also solved there but we need to use `cxx::alignedAlloc`/`cxx::alignedFree` instead of `new`.

It also seems that some of the tests cause issues. My initial assessment does not hold.

[2022-11-08 10:09] #1614 closed

[2022-11-08 13:55] mossmaurice opened #1779 "Fix QNX build error"
## Required information

**Operating system:**
QNX 700-v0.9.0

**Compiler version:**
QCC 5.4.0

**Observed result or behaviour:**
The following build error:

[code]

**Expected result or behaviour:**
Build the code

**Conditions where it occurred / Performed steps:**
Build `master` with QCC 5.4

[2022-11-08 15:29] elBoberido opened #1781 "CI warnings on github actions"
## Required information

Currently our CI issues multiple warnings on github actions.

- `The 'set-output' command is deprecated and will be disabled soon`
    - [x] `lycheeverse/lychee-action`: fixed in v1.5.2
    - [x] `Ana06/get-changed-files`: there is an open [PR](https://github.com/Ana06/get-changed-files/pull/20)
    - [x] `egor-tensin/setup-gcc`: fixed with 1.3 which should automatically b

[2022-11-09 05:37] cloudjacky opened #1783 "iox-cpp-publisher-helloworld print error code 2"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
gcc version 7.5.0

**Observed result or behaviour:**
run program iox-cpp-publisher-helloworld in example icehello，
and print error information, as follows
"2022-11-09 13:33:28.445 [Error]: unable to create ipc channel with error code: 2
2022-11-09 13:33:28.198 [Warn ]: IPC channel still there, doing an unlink of

[2022-11-09 07:28] cloudjacky commented on #1783
run ./iox-roudi

[2022-11-09 07:28] #1783 closed

[2022-11-09 10:54] elfenpiff commented on #1783
Hi @cloudjacky . It seems you solved the issue yourself?

Could you please tell us what the problem was - maybe the documentation of the hello world example was not specific enough or confusing in some parts. If this was the reason that you encountered this issue I would like to adjust the example so that others are not struggling with it as you did.

[2022-11-09 11:14] #1345 closed

[2022-11-09 13:44] #1766 closed

[2022-11-10 09:37] cloudjacky commented on #1783
@elfenpiff
yes，problem had solved
After reading the code, both publisher example and subscriber example communicate as the client of roudi deamon,
I didn't look at the document. I don't know if there is any introduction in the document

[2022-11-14 13:28] wukongiii opened #1788 "Please put a notice in Windows platform section that header platform_correction.hpp might cause compile errors"
## Brief feature description

Please put a notice in Windows platform section of the overview page, that headersplatform_correction.hpp might cause compile errors

## Detailed information

I'm trying to use this great project on Windows platform,  I was tring to turn my design to real code, strange compile erros occur. If I remove all IOX headers, the errors disappear. I googled those errors, at t

[2022-11-14 13:42] elfenpiff commented on #1788
@wukongiii Thanks for the hint. I would add this also maybe to our FAQ section. Could you please post the compile failure you received? And how exactly did the error occur - under normal circumstances you shouldn't be in contact with the `platform_correction.hpp`?
Or did you have to include the windows headers manually for your project since you were using them for something else?

The thing with

[2022-11-15 03:27] wukongiii commented on #1788
@elfenpiff  Thank you for your quick response! Since it's not easy to show you those errors by using my project structure,  so I tried to reproduce this by using an empty project and some essential headers:

1. Visual Studio 2022
2. Create a console application
3.  C++ 17
4. Add  the include directory to the project
5.  add 2 headers :
    #include <Shlwapi.h>
    #include "iceoryx_posh/runtime/po

[2022-11-15 09:59] mossmaurice commented on #1726
Picking up this issue and start working on it.

[2022-11-15 13:30] elfenpiff commented on #1788
@wukongiii Thank you! This is actually very helpful. It originates in our iceoryx_platform where we provide structs for low level system constructs in a uniform manner.
In this case we provided `sockaddr_in` etc. since it was not present at that time or was defined differently.

We have this on our radar and the idea is to add to all those things an `iox_` prefix which should avoid such clashes. B

[2022-11-16 03:43] sgf201 opened #1790 "dds_write crash in ThreadSafePolice"
## Required information

**Operating system:**
E.g. Ubuntu 16.04

![image](https://user-images.githubusercontent.com/5253415/202078385-d6346df6-a8c0-46b2-b509-4a7860b3b51e.png)
crash when send chunk
cyclonedds link
https://github.com/eclipse-cyclonedds/cyclonedds/issues/1481

[2022-11-16 11:12] elfenpiff commented on #1790
@sgf201 thanks for the bug report. For the time being I would wait until the cyclone dds side has made some debugging and analysis before proceeding with this bug report. If it turns out that this originated really in iceoryx I would take it from there but in my opinion the best approach is to analyse it from top to bottom and start with cyclone dds.

If nothing is happening in the next week pleas

[2022-11-16 12:56] elBoberido commented on #1790
@sgf201 do you have the output from the terminal where RouDi runs? I think the application did not send the heartbeat in time and RouDi might have assumed that the application died and cleaned up the resources which invalidated a mutex. You can start RouDi with `-m off` to disable the monitoring. In this case the heartbeat signal is not evaluated and the cleanup only happens when RouDi shuts down

[2022-11-16 15:59] mossmaurice opened #1794 "Refactor `uniqueMergeSortedContainers`"
## Brief feature description

The templated function `uniqueMergeSortedContainers` in `algorithm.hpp` is only used in the `WaitSet`. While it's in general good to write generic and re-usable code, in this case it can lead to an issue when using it together with the static `iox::vector<T, N>`.

## Detailed information

Here

https://github.com/eclipse-iceoryx/iceoryx/blob/47feaef132ace0449bc84866a2

[2022-11-17 14:22] wukongiii opened #1795 "getopt_long is not implemented in windows"
## Brief feature description

getopt_long is not implemented in windows

## Detailed information

My project needs large buffers, and I followed the configuration document, fill the size it needed,  but when I was trying to start iox-roudi.exe with parameter "-c <configuration.location.toml>",   it says "getopt_long is not implemented in windows".
I have 2 solutions:
1) Hardcode the size of memory

[2022-11-17 14:56] elfenpiff commented on #1795
@wukongiii We are aware of this and this is why we implemented a modern c++ abstraction for command line parsing, see: #1102

We will merge it later this day and based on that I will refactor the command line parsing for the `iox-roudi` so you should get nice and shiny new command line parsing capabilities on windows.

I will ping you when it is available!

[2022-11-17 14:57] #1067 closed

[2022-11-17 15:03] wukongiii commented on #1795
That's really an exciting news, thank you  @elfenpiff ! You guys are awsome!

[2022-11-17 15:16] sgf201 commented on #1790
![image](https://user-images.githubusercontent.com/5253415/202484242-764d5868-394c-4bbb-97e0-871aae391af6.png)
writer app stderr print those sentence.
a little confuse about cleaned up the resources which invalidated a mutex
I think the mutex instance is init by writer ,how could roudi which is running seperatly cleaned up the mutex?

[2022-11-17 15:18] sgf201 commented on #1790
instead of disable the monitoring,can I change the heartbeat time required?

[2022-11-17 18:35] elBoberido commented on #1790
do you have a similar log message in the RouDi terminal
[code]
This would confirm my theory.

Unfortunately the heartbeat timeout cannot be changed via parameter and one would need to change the source code.

There is a mutex in the publisher itself. It is usually uncontested, only when new subscriber are added there is contention.

[2022-11-18 17:48] elfenpiff opened #1798 "Fix unit tests of command line parser for QNX"
## Required information

The following tests are failing in QNX and must be fixed:

CommandLineArgumentDefinition_test.OnlyRequiredValuesSetsRemainingValuesToDefault
CommandLineArgumentDefinition_test.AllValuesViaCommandLineArgumentDefinitionAreSetCorrectly
CommandLineArgumentDefinition_test.AllValuesViaCommandLineArgumentDefinitionAndShortcutAreSetCorrectly
CommandLineParser_test.SuccessfulConver

[2022-11-19 09:03] sgf201 commented on #1790
![image](https://user-images.githubusercontent.com/5253415/202843293-c8fe948b-b3db-4891-b838-ebdb270ac71b.png)
do you accept this judgment? I think there are two different sign between the two crash. 1.in 1643 it rease segment fault ,but in1790 it rease sigabort 2.in 1790 the writer is alive and do not plan to exit
![image](https://user-images.githubusercontent.com/5253415/202843280-0501eb87-85fe-

[2022-11-22 14:46] sgf201 opened #1801 "Is it possible to increase chunks dynamically"
## Brief feature description

chunks defined in iox.toml may be not enouth in some corner case, Is it possible to malloc some mem for new chunks in the corner case,

## Detailed information

chunks are planned to set enough,but process is stuck in loan sample is not a good action

[2022-11-22 17:23] elfenpiff commented on #1801
@sgf201 Could you please elaborate the use case a bit more in detail.

As far as I understand this.
* You configure a custom memory configuration
* You go out of chunks and cannot acquire anymore samples with `publisher.loan()`.
* The option to provide more chunks in the memory config is not an option? Why?

The reason for the `iox.toml` memory config is that with this we are able to guarantee tha

[2022-11-23 14:41] sgf201 commented on #1790
@elBoberido

[2022-11-24 12:34] elBoberido commented on #1790
@sgf201 I do not have enough knowledge about the Cyclone DDS codebase in order to make any assessment. I think it is best to wait till that PR is merged and see whether the bug still occurs.

[2022-11-25 09:39] JakubSosnovec opened #1803 "Increase configurability to allow smaller memory consumption"
## Brief feature description

Just like the user can now configure the options `IOX_MAX_PUBLISHERS`, `IOX_MAX_SUBSCRIBER`, etc., it should be possible to configure all other hard-coded constants that significantly influence the memory footprint of the applications.

## Detailed information

Based on this discussion: https://github.com/eclipse-iceoryx/iceoryx/discussions/1770

[2022-11-26 06:32] muddessir opened #1805 "Limiting dynamic memory usage"
## Brief feature description

**iox::runtime** uses std::string

## Detailed information

[code]

Is it possible to limit dynamic memory allocations in Eclipse-iceoryx?

[bytehound-allocation_ascii_tree.txt](https://github.com/eclipse-iceoryx/iceoryx/files/10095774/bytehound-allocation_ascii_tree.txt)

[2022-11-26 09:54] elfenpiff commented on #1805
@muddessir It is one of the remaining top items on our todo list to get rid of the `std::string` and replace it with the `cxx::string` which would get rid of dynamic memory allocations in this case.
At the moment we were concentrating on iceoryx_hoofs in particular so that this slipped our attention.

Do you have an urgent need for this or would it be alright that we postpone this until the beginn

[2022-11-28 06:54] muddessir commented on #1805
Hi @elfenpiff Thank you for your politeness.

We forbid use of dynamic memory and unable to use iceoryx for this reason.
So, is there a second chance?

Iceoryx is amazing, we are very willing to use.

[2022-11-28 10:46] mossmaurice commented on #1805
@muddessir

:heart:

Would you have time to contribute some of the `std::string` removal work? The issue #260 should be relatively straight forward. However, except the serialization, there things might get more complicated. You can find more about the serialization topic in #503.

[2022-11-28 11:39] muddessir commented on #1805
Sure.

[2022-11-28 11:39] #1805 closed

[2022-11-28 12:47] #1801 closed

[2022-11-28 12:48] #1761 closed