[2020-12-20 20:28] budrus commented on #408
I would make the typed C++ API even simpler

- For people who want to use iceoryx directly the typed API is normally the way to go
- The typed C++ is the first API we introduce in our docu and it should be as KISS as possible for having an easy start into iceoryx
- These people are often no interested in taking care of everything that can go wrong. Having an atomatic fail fast and clear strategy w

[2020-12-20 20:33] budrus commented on #408
In 90% of the use cases `offer()` is called directly after creating a publisher and `subscribe()` is called directly after creating a subscriber. For ara::com we have to start with a not offered publisher and a not subscribed subscriber. But it would be good to have a default offer-on-create for a publisher and subscribe-on-create for a subscriber. This could be controlled by our new introduced op

[2020-12-21 01:09] elfenpiff commented on #408
Some more minor things:
- `iox::popo::Sample` should have `operator bool() const` implemented and return true if it holds a pointer, otherwise false (similar to `std::unique_ptr`).
- `iox::popo::Sample` should have a dereferencing operator `T& operator*()` (similar to `std::unique_ptr`).
- `publisher.take().and_then([&](auto & sample){})` type deduction leads to `cxx::optional<iox::popo::Sample<So

[2020-12-21 06:45] shankar-bosch commented on #337
@elBoberido I have my changes ready. But I havent got the committer approval to open the PR yet. Yes you are right I can split the PR into two. shall I raise the PR for the deadline today by forking other repo? I shall also check this with my PO and update you.

[2020-12-21 07:54] chiranjeevimaddi opened #454 "Enhancing Tests in Roudi"
## Brief feature description
Introduce Module tests for RouDi component.

## Detailed information
Increase the code coverage.

Classes in RouDi components which needs test cases to be added.
In file roudi.cpp, class
- [ ] RouDi.

In file roudi_process.cpp class
- [x] RouDiProcess
- [x] PortManager
- [ ] ProcessManager
- [ ] RoudiMemoryManager

In file roudi_lock.cpp class
- [ ] RouDiLock

[2020-12-21 11:05] #283 closed

[2020-12-21 11:15] elBoberido commented on #337
@shankar-bosch yes, please. Would you mind if I create a small workaround for the keep-alive?

[2020-12-21 12:46] #453 closed

[2020-12-21 13:53] budrus opened #456 "Chunks are lost forever when having an overflow in a variant queue of type FIFO"
## Required information

**Operating system:**
Gentoo

**Compiler version:**
GCC 9.3.0

**Observed result or behaviour:**
When using a variant queue with type FIFO in a ChunkQueue, chunks are lost forever on overflow (memory leak)

**Expected result or behaviour:**
When a ChunkQueue has an overflow, the overflow is indicated with `hasOverflown()`. The chunks are lost for the subscriber but shouldn

[2020-12-21 14:58] prasannabhat opened #459 "Enable UndefinedBehaviorSanitizer"
## Brief feature description

Enable UndefinedBehaviorSanitizer for iceoryx core components.

## Detailed information

From their [site](https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html#introduction)

-    Using misaligned or null pointer

-   Signed integer overflow

-   Conversion to, from, or between floating-point types which would overflow the destination

With #141 we have introdu

[2020-12-21 15:01] #407 closed

[2020-12-21 16:10] elBoberido commented on #337
@shankar-bosch I've created a `PeriodicTask` class. Currently it wraps a semaphore. This semaphore could be replaced by a refactored posix::Timer. Ideally the timer doesn't spawn a thread, but does just block on wait. This would make the timer more flexible since it could also be used when we want to block on the current thread.

[2020-12-21 18:04] shankar-bosch commented on #337
@elBoberido Thank you for the changes. I shall adopt the change.

[2020-12-21 18:29] #456 closed

[2020-12-22 10:06] dkroenke commented on #454
@chiranjeevimaddi please use the templates (feature template) for this issue and make it a bit more descriptive. Also you can use checkboxes for having a list and track which file you are currently working on so that no one else begin to work on this.
For future we can extend this issue with other RouDi classes.

- [ ] checkbox

[2020-12-22 13:10] #433 closed

[2020-12-23 16:05] dkroenke commented on #424
With https://github.com/eclipse/iceoryx/pull/452 the sanitizer flags are passed to all libraries and all examples and tests.
But what i encountered was that the leaksanitizer does not work on the Github CI properly. This should be checked.

I added to the workflow file` ../tools/run_all_tests.sh` with the argument `asan-only` to use the asan flags only as workaround. But this should be checked wha

[2020-12-23 19:15] prasannabhat commented on #423
After enabling `UndefinedBehaviorSanitizer` for complete iceoryx , there is an addition to blacklist file
Its coming from [`test_posh_runtime.cpp`](https://github.com/eclipse/iceoryx/runs/1601282042?check_suite_focus=true)

[2020-12-23 19:56] prasannabhat commented on #424
@dkroenke I have enabled `leaksanitizer` in github CI in PR #461
This is working fine.
There is one known issue that leansanitizer wont run in mac (it runs in linux runner, so its basically covered)

[2020-12-29 08:33] dkroenke opened #467 "Move iceoryx from eclipse to iceoryx-eclipse organization"
@eclipse/technology-iceoryx-committers
Currently, iceoryx is directly in the eclipse organization. For the future we want to create more repos shich belong to iceoryx so it make sense to create an own organization for aggregating all iceoryx repositories.

For that purpose was the `iceoryx-eclipse` organization created. Now we need to move the iceoryx repo into that organization.
The request for t

[2020-12-29 08:58] dkroenke commented on #467
The new organization is still under the administration of eclipse and created by it. There are no new rights nor restrictions in comparison to the old location. Committer or Contributor rights are still the same and everybody should have access to it.

When moving the repo, the old links shall according to GitHub still work and they will be redirected.

[2020-12-29 09:03] dkroenke opened #468 "Refine and update documentation"
## Brief feature description
iceoryx needs to improve on documentation for the end-user and early adopters. Important is to have an up-to-date documentation which gives users or contributors the right way.

## Detailed information

- [ ] update iceoryx-utils Readme
- [ ] check all existing links
- [ ] extend doxygen documentation and create a consistent build structure for it

[2020-12-30 13:26] dkroenke opened #470 "roudi_lock should use UDS"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
GCC 7.5.0

**Observed result or behaviour:**
In the RouDiLock Class is a socket used to prevent the startup of multiple instances of RouDi. This socket is an `AF_INET` socket which binds to a TCP port. A second starting instance is trying to bind that port and fails with that.

**Expected result or behaviour:**

[2020-12-30 14:48] dkroenke opened #471 "Evaluation and restructuring of tools"
## Brief feature description
For making iceoryx more stable, we need to look for better tooling to do code analysis and support the developer.
We should also take a deeper look into the ROS side what there is used, e.g. ament_lint.
Proposals are welcome!

List of common tools from ROS2:
* `ament_cmake_copyright <https://github.com/ament/ament_lint/blob/master/ament_cmake_copyright/doc/index.rst>`_

[2020-12-31 09:08] muzili opened #472 "mq_timedsend/mq_timedreceive can not work with time changes"
## Required information
The mq_timedsend/mq_timedreceive use CLOCK_REALTIME,  there's unpredicated behaviour when the system time changes.   The message queue should use CLOCK_MONOTONIC to fix this.

**Operating system:**
Customized embedded linux

**Compiler version:**
arm-himix200-linux-gcc (HC&C V1R3C00SPC200B005_20190606) 6.3.0

**Observed result or behaviour:**
core/third_party/iceoryx-rs/ice

[2021-01-04 08:43] dkroenke commented on #472
Hello @muzili,
welcome to iceoryx and thanks for reporting. That's a valid point and i guess it happens in `timedSend` and `timedReceive` where `units::Duration` is used as timeout parameter. The timespec is there created based on `units::TimeSpecReference::Epoch` which is `CLOCK_REALTIME`. Changing that to `units::TimeSpecReference::Monotonic` could resolve the issue.

See `MessageQueue::timedSen

[2021-01-04 11:42] elBoberido commented on #470
Are you sure that Unix Domain Sockets are automatically cleaned up when an application crashes?

[2021-01-04 11:54] elBoberido commented on #471
I think we already have `ament_cmake_copyright` since #346.

Since we already use `clang-format` I'm not sure if we need `uncrustify`. A pre-commit hook for `clang-format` would be nice, though

[2021-01-04 12:13] elBoberido commented on #472
@muzili correct me if I'm wrong, but `mq_timedsend` requires an absolute timeout since `1970-01-01 00:00:00 +0000 (UTC)`. Doesn't this rule out `CLOCK_MONOTONIC`?

https://man7.org/linux/man-pages/man3/mq_send.3.html

[2021-01-05 08:46] dkroenke commented on #467
Moving Repository is done, documentation links needs to be updated. I will do it in the repo.
@budrus Can you update the links in the project website?

[2021-01-05 08:54] dkroenke opened #475 "Dummy issue"
no text

[2021-01-05 08:54] #475 closed

[2021-01-05 08:56] budrus commented on #467
@dkroenke. on the [Eclipse project website](https://projects.eclipse.org/projects/technology.iceoryx)?

[2021-01-05 13:19] muzili commented on #472
@dkroenke @elBoberido This is the limitation for posix message queue, there's a detail explanation from https://stackoverflow.com/questions/33873374/pthreads-mq-timedreceive-pthread-cond-timedwait-and-clock-realtime

For QNX system, there's an alternative function ```mq_timedreceive_monotonic()```. For Posix(Linux) system, it is better to change to unix domain socket.

[2021-01-05 13:21] budrus commented on #91
Will be addressed in #454

[2021-01-05 13:21] #91 closed

[2021-01-05 13:43] dkroenke commented on #472
@muzili
We have already planned to use UDS on in iceoryx: https://github.com/eclipse-iceoryx/iceoryx/issues/381. Hopefully in the next weeks it will come in.

[2021-01-05 17:44] dkroenke commented on #467
@mossmaurice *bump

[2021-01-05 18:01] MatthiasKillat commented on #136
Creating and extending the actual content and reworking the e.g. description of the utils (or to whatever it will be renamed) belong to a different issue in my opinion.
We are overloading this issue otherwise.  @budrus I can create such a 1.0 documentation issue if this is agreed on.

Also it is ice ensemble, as in an ensemble of iceoryx applications running together to demonstrate the complete ca

[2021-01-05 18:33] elBoberido commented on #136
@mossmaurice could you please move the tasks to the issue description. It's easier to find and will also be shown in the overview as `x of y` with a progress bar

[2021-01-05 19:28] elBoberido commented on #472
@muzili for QNX we also plan to use message passing, so in the end the message queue won't be used anymore.

[2021-01-05 19:48] dkroenke opened #480 "define pid_t for different platforms and use it for filedescriptors"
## Brief feature description
In iceoryx we are creating and using often filedescriptors. In POSIX standard the type for descriptors is defined as `pid_t` in <sys/types.h> on Unix.
In iceoryx we have `iceoryx_utils/platform/types.hpp` for the diferent platforms as header available. This should be consistently used instead of int for all filedescriptors in iceoryx.
Please be aware that windows doesn

[2021-01-06 08:04] MatthiasKillat opened #482 "Extend documentation for 1.0 release and website"
# Documentation epic

# Proposed outline
- index.md
- What is Eclipse iceoryx? (Explain the three pillars easy, safe, fast)
- getting-started
  - overview.md (Split?)
    - General intro (add overview pictures e.g. from [ROSCon slides](https://roscon.ros.org/2019/talks/roscon2019_truezerocopy.pdf), add section "limitations")
    - hello world/quick start: icedelivery c++ typed (without `and_then`?

[2021-01-06 12:19] dkroenke commented on #470
It seems not, the binding still persist when a crash occurs and the next time when you try to bind it throws `[ 98 ]  Address already in use`. So the UDS is not an option then anymore.

Maybe we create an internal port with latched topic which sets some value. The next RouDi connect to the Port and see that the value is set.

[2021-01-06 12:31] elBoberido commented on #470
You still have the race. How does RouDi know to register at another RouDi? When there is no RouDi and you start two of them, how do they decide which one creates the resources?

[2021-01-06 12:35] #240 closed

[2021-01-06 14:33] #467 closed

[2021-01-06 18:12] elBoberido commented on #482
I suggest `iceoryx_hoofs` because that's what oryx stands on ;)
My second suggestion is `zitzers` and my last one `roadScorpio`.

[2021-01-07 05:10] prasannabhat commented on #471
We currently have Address, Leak & Undefined Behaviour Sanitizers.
Clang has some more tools in their basket.

- https://clang.llvm.org/docs/ThreadSanitizer.html
- https://clang.llvm.org/docs/MemorySanitizer.html (all dependent libs including libc++ should be recompiled with special flags)

[2021-01-07 07:57] FerdinandSpitzschnueffler commented on #482
+1 for ``iceoryx_hoofs`` :D

[2021-01-07 08:02] mossmaurice commented on #482
I think it's a good idea to split the description in three [major pillars](https://github.com/eclipse-iceoryx/iceoryx-web/blob/testupload/index.html#L7321). This makes it easy for newbies to clear understand what the advantages are. The pillars could be reused for marketing. However, they are still up for discussion in #481 . Could we write the introduction divided into three chapters so we can li

[2021-01-07 11:06] MatthiasKillat commented on #482
All name suggestions are unprofessional and hard sells in my opinion but I mainly care about content, so whatever. Emphasizing safety as reason why we are implementing these (instead of just using STL in some cases) is important I think.

I other cases, i.e. lockfree constructs the reason is that it is/was not possible to find suitable implementations that work with shared memory and satisfy our s

[2021-01-07 15:45] elBoberido commented on #482
If we want to go the route, we could have a `iceoryx_cxx`, `iceoryx_posix` and `iceoryx_concurrent` repo. Everything that doesn't fit in those categories lands in the `iceoryx_hoofs` repo

[2021-01-07 16:33] ithier commented on #482
`iceoryx_hoofs` or `iceoryx_hooves` ?

I thought the plural was "hooves" but apparently both are acceptable.

Or, if we are just throwing names out there, `icicles` ?
I don't have any other arguments other than it sounds cool to me haha.

[2021-01-07 17:12] dkroenke opened #483 "Refactoring copyright headers"
## Brief feature description
Currently are contributing multiple parties into iceoryx who are creating/modifying sourcecode files. To ensure the copyrights of each contributing party there is a fileheader with a copyright statement like this:
[code]
This is based on the description in [CONTRIBUTING.md#](https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md#header)

Based on discus

[2021-01-07 17:13] dkroenke commented on #483
@elBoberido @ariexi @budrus

[2021-01-07 18:03] elBoberido commented on #483
I just found this for the copyright notice from a lawyer and open source developer at GitHub
https://ben.balter.com/2015/06/03/copyright-notices-for-websites-and-open-source-projects/

He suggests to use either a comma separated list or if there are many contributors to just the term `and contributors`
[code]
Since the code belongs to eclipse, this would become
[code]
I quite like this, since I do

[2021-01-08 08:21] budrus commented on #483
Thanks for the proposal @elBoberido. I think that needs to be checked by the contributing companies. Could you clarify @ariexi
Some would also say it is a nice advertisement to have the company name in the header....

[2021-01-08 10:12] #459 closed

[2021-01-08 11:19] #468 closed

[2021-01-08 12:50] ariexi commented on #483
@budrus fully agree, advertisement part is also nice ... ;-)
But the lean way as well ...
Discussion about our proposal started today. I will keep you informed.

[2021-01-08 13:08] dkroenke commented on #483
Maybe we can get rid at least from the year in the header, this is something very annoying shortly after new years eve...

[2021-01-08 18:07] elBoberido commented on #483
@ariexi @budrus if advertisement is the main concern, wouldn't it have a bigger effect if the main contributing companies are mentioned on the README.md. That's what most of the people see. I would guess hardly anyone looks at the header. That's why we also plan to put those companies at the footer of the new homepage.

[2021-01-09 10:59] ithier commented on #415
With the proposed change to the composition of a service description, we would be restricting services to a single topic. Is this something that we want ?
Furthermore, I don't think it makes sense to have "multiple instances of a topic", which is a characteristic introduced by the proposal. To me, it makes more sense to have a different topic per instance.

Considering the above, it seems that the

[2021-01-10 18:38] budrus commented on #376
@ithier I added some tasks to the list. I had a successful dds gateway running in a network with two raspberry pi. That's great! The tasks I added were the things I stumbled upon. I already have the changes for a PR for "The default config should include the icedelivery topic. This allows to have a first running example with icedelivery". For the other tasks we should have a chat

[2021-01-11 08:26] shankar-in opened #484 "Improve POSIX mutex test"
## Brief feature description

Using the While loop will consume CPU cycles and other threads will have to wait. Using the sleep_for will free up the CPU for the define time so that other threads can utilize.-

## Detailed information

The test_posix_mutex.cpp has DestructorFailsOnLockedMutex test case. It uses deadline timer with a While loop and this can be improved by replacing with sleep_for. H

[2021-01-11 12:06] budrus commented on #408
Result of discussions 2021/01/11 with @MatthiasKillat @elBoberido @elfenpiff @mossmaurice

TODO for iceoryx_1.0

** Untyped C++ API:
- Look & feel more like the C API and not like the typed C++ API
- Untyped API shall not use the `Sample` abstraction, we are working with chunks
- Untyped `takeChunk()` returns expected. When there is no chunk returned expected can have "NO_CHUNK_AVAILABLE" , "TOO_M

[2021-01-11 16:06] MatthiasKillat commented on #408
We can consider adding the possibility of getting the ChunkHeader or other metadata from the Sample via an appropriate function of the typed API. This is available in the C-API as well and might also be useful when we implement more QoS or just generally add more info to samples.

It is not necessary for 1.0 though.

[2021-01-11 17:37] budrus commented on #408
@MatthiasKillat the `Sample` class already has a [getHeader method](https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_posh/include/iceoryx_posh/popo/sample.hpp#L61)

[2021-01-11 17:58] dkroenke commented on #163
@elBoberido the basic job is done, do you want also to add the flag in the test code?

[2021-01-11 18:02] elBoberido commented on #163
@dkroenke if it currently compiles without warnings, sure

[2021-01-12 09:34] elfenpiff commented on #480
@dkroenke I would recommend to introduce `iox_pid_t` which is an alias for `pid_t` in linux/mac/qnx and something else in windows. I already did it with the semaphores, see: https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_utils/platform/linux/include/iceoryx_utils/platform/semaphore.hpp

[2021-01-12 09:39] elfenpiff commented on #482
@elBoberido as a first step I would not split this up in such fine granularity and would create only one separate repo for the utils. If later the need comes up to split it further we can do it but for now we should follow yagni (you aint gonna need it).

+1 for icicles. @ithier one question, the tests for the icicles would then be testicles? ;)

[2021-01-12 10:48] dkroenke commented on #480
@elfenpiff I'm not sure about the naming convention. I understand that for the semaphore we add the "iox_" prefix because we made a custom implementation for it on the different platforms.
But for a simple datatype like `pid_t` from <sys/types.h> i see no reason to add an iox_ prefix here because we do not make a custom implementation of it.

[2021-01-12 10:58] dkroenke opened #486 "Git Hooks on iceoryx"
## Brief feature description
On iceoryx apply several formal rules from [CONTRIBUTING.md)](https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md) which we need for traceability.

To assist the developer/contributors we should add git hooks to check several formal or technical aspects.

## Detailed information

- [x] prepare-commit-msg hook for adding `iox-#123` from the branchname

[2021-01-12 12:26] elfenpiff commented on #480
@dkroenke I hope you are right but sometimes Windows suprises you and then we have another iox_ prefix ... But for now you are right, we should not over complicate things!

[2021-01-13 15:29] mossmaurice commented on #409
@budrus @dkroenke and myself had a call with [Perforce](https://www.perforce.com/) today.

Major points:
* In 2020 QAC scan was only done locally and not uploaded to Perforce dashboad
* Perforce has two SCA tools
  * QAC is better for compliance (AUTOSAR/MISRA); however, it recently improved and finds defects Klocwork does not
  * Klocwork is better for defect analysis of C/C++
* License is requir

[2021-01-13 15:35] sschnitzer opened #488 "cxx::vector support of Capacity 0 and erase by index"
## Brief feature description

1. cxx::vector shall support "0" as Capacity
2. cxx::vector shall allow to erase an element identified by its index, i.e., new method `iterator erase(uint64_t index)`

## Detailed information

1. Support for Capacity 0 makes the cxx::vector implementation more generic. Typically, the capacity is given as configurable compile-time constants. Such a constant might poten

[2021-01-13 16:09] elfenpiff commented on #488
@sschnitzer

1. The `cxx::vector` already supports a capacity of 0 if your compiler supports zero length arrays like `int a[0]`. This extension is supported by clang and gcc.

2. You already can use erase in such a manner. Let's say you have an `index` you could delete an element at that index with `myVector.erase(myVector.begin() + index)`.

[2021-01-13 16:57] elBoberido commented on #488
@sschnitzer is there a use case for a vector with a capacity of 0? I'm just asking because it might add dead code.

[2021-01-13 17:58] elBoberido opened #489 "Replace introspection threads with PeriodicTask"
## Brief feature description

Use the `PeriodicTask` to remove the thread from the introspection classes.

## Detailed information

Currently the introspection classes spawn an own thread to periodically update their topics. The shutdown of the threads is done by polling a member every 100ms in the port and process introspection and by a condition variable in the mempool introspection.
By using th

[2021-01-13 21:37] sculpordwarf commented on #488
@elBoberido
[code]
0 is a valid number here.
Think about MAX_INTERFACE_NUMBER = 0 if you don't want to allow a gateway, you would see the same issue in iceoryx.
You will get the same problem in every class with preallocated memory with a cxx::vector:
[code]
It would also be possible to write for every class a template specialization and some proper 0 handling in e.g.  the interface ports vector, b

[2021-01-14 08:43] elfenpiff commented on #488
Whoever the capacity thing implements I would suggest the following idea to reduce code duplication to a minimum and it could then also be reused by our list implementations:

[code]

But be aware that you would always get a compile time error if you access a method which is using `m_data` when the capacity is 0. But in the end it would be exactly what you want since `push_back` etc. would make no

[2021-01-14 12:13] elBoberido commented on #488
Instead specializing the `cxx::vector` how about specializing only the storage? You are right, the C++ Standard doesn't allow a zero sized array, at least not on the stack, but we do not use just an array as storage type, but an array of byte arrays. This is also done at several places and I once had the idea to create a building block for all of this and abstract this away. So I propose to create

[2021-01-14 12:28] elBoberido commented on #488
Oh, and if you want to get rid of `m_size`, you can have
[code]
and specialize that one for 0. Then you have the exact same result as specializing the whole vector.

[2021-01-14 13:20] sschnitzer commented on #488
Thanks @elBoberido and @elfenpiff for your feedback, I like it!
I will update the PR accordingly, using uninitialized_array and probably also vector_storage.

[2021-01-15 02:25] BH1SCW opened #494 "popo/user_trigger.hpp:33:5: error: exception specification of explicitly defaulted default constructor does not match the calculated one"
## Required information

**Operating system:**
Mac OS Mojave

**Compiler version:**
Apple clang version 11.0.0 (clang-1100.0.33.12)
Target: x86_64-apple-darwin18.6.0

**Observed result or behaviour:**
iceoryx/iceoryx_posh/include/iceoryx_posh/popo/user_trigger.hpp:33:5: error: exception specification of explicitly defaulted default constructor does not match the calculated one
    UserTrigger() no

[2021-01-15 03:19] BH1SCW opened #495 "fail build on ubuntu 16.04 with g++ 5.4.0"
## Required information

**Operating system:**
PRETTY_NAME="Ubuntu 16.04.7 LTS"

**Compiler version:**
Target: x86_64-linux-gnu
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12)

**Observed result or behaviour:**
See attached log file [compiler_log_BH1SCW.txt](https://github.com/eclipse-iceoryx/iceoryx/files/6090535/compiler_log_BH1SCW.txt)

**Expected result or behaviour:**
build with n

[2021-01-15 08:14] nihalchari opened #496 "Add unit test for iceoryx-posh"
## For iceoryx is more testing needed to achieve good code coverage

add more unit/module tests for following files

- [x] capro/service_description.cpp
- [ ] mepoo/shared_chunk.cpp
- [ ] mepoo/ mem_pool.cpp
- [ ] mepoo/memory_manager.cpp
- [ ] mepoo/ mepoo_config.cpp
- [ ] runtime/shared_memory_user.cpp
- [ ] runtime/posh_runtime_single_process.cpp
- [ ] runtime/posh_runtime.cpp
- [x] runtime/nod

[2021-01-15 09:14] elfenpiff commented on #494
I did a first investigation and where unable to reproduce the bug on
  OS: Mac OS Big Sure
  Compiler: Apple clang version 12.0.0 (clang-1200.0.32.28)

@BH1SCW would it be possible for you to switch for now to the latest Mac OS Version with the latest clang compiler?

[2021-01-15 09:20] mossmaurice commented on #495
Hi @BH1SCW

Thanks, for reporting this issue! Unfortunately iceoryx does not supported GCC 5.4.0 (released on June 3, 2016). Same goes for the QNX compiler QCC. Here I'd advise to use QNX 7.1 with QCC 8.3.

Please update to a newer version of GCC/QCC. In the meantime I'll update our documentation.

[2021-01-15 11:11] marthtz opened #497 "Build with gcov is broken"
## Required information

**Operating system:**
Ubuntu 20.04 LTS

**Compiler version:**
GCC 7.5.0

**Observed result or behaviour:**
Build with coverage enabled fails.

**Expected result or behaviour:**
Build works with coverage.

**Conditions where it occurred / Performed steps:**
Build broke when PR #487 was merged.
Build command: `./tools/iceoryx_build_test.sh build-strict clean debug test -c al

[2021-01-15 12:18] elBoberido commented on #337
@shankar-bosch with you `DeadlineTimer` PR slowly merging, there is only one remaining part to refactor.
The old posix::Timer had three features:
- DeadlineTimer -> refactored out
- spawning a thread and execute a task -> moved to PeriodicTask
- periodically trigger an event -> currently also in PeriodicTask with the Semaphore

I'd like to have the last one in a new posix::Timer, but based on a Se

[2021-01-15 12:45] elBoberido commented on #497
That's weird. I had a look at the CMakeLists.txt and the target for that stress test has the same compiler and linker flags like the other tests ... okay, I ran the command locally and the other tests also have the same linker issues.
The mentioned PR should not cause this effect. Maybe it was the previous one and that one just made it visible?

[2021-01-15 13:20] dkroenke commented on #497
@elBoberido no, the flag `build-static` for linking gcov with static libs of iceoryx is missing. Then it will work fine.
Iceoryx is build per default as shared lib. But for tools like gcov or the adress-sanitizer we need to build static-libs.

The documentation needs to be adapted to make that more clear.

[2021-01-15 13:25] marthtz commented on #497
Ok, I figured it's not a bug in the code but more of missing documentation thing.
As iceoryx is dynamically linked by default this is not compatible with gcov. Hence, the build arg `build-static` to allow static build that works with gcov.

Beside updating the documentation, wouldn't it be good to automatically enable `build-static` when `--coverage` is used or at least check for it?

[2021-01-15 13:27] marthtz commented on #497
@dkroenke should I re-label it to documentation?

[2021-01-15 15:14] dkroenke opened #498 "deepcode.ai on iceoryx"
## Brief feature description

For better code quality we should scan on iceoryx our Pull-Requests and Master build with [https://www.deepcode.ai/](https://www.deepcode.ai/). It is a semantic code analysis based on an AI.

- [ ] add deepcode.ai badge
- [x] resolve current warnings
- [ ] add documentation

Update: Conclusion is that we do not take over the deepcode.ai solution because of several dra

[2021-01-15 15:21] mossmaurice commented on #409
@budrus @dkroenke and myself had a call with [Axivion](https://www.axivion.com/en) today.

* Axivion is happy to support iceoryx on creating a CI setup
* Limited number of contributors (e.g. Bosch, Apex.AI or externals) using Axivion through CI is fine
* Report might be not made as ~1k pages PDF in the pull requests report but as markdown?
* Docker + GitHub action shoulnd't be an issue

Next steps

[2021-01-15 16:29] elBoberido commented on #190
@dkroenke I think this related to the underlying `long double` of `units::Duration`. Should we rephrase this bug to fix the problem on its source?

@elfenpiff suggested in #337 to use
[code]
as base instead of `long double`

[2021-01-18 09:15] sculpordwarf commented on #494
@elfenpiff
I´ve seen this problem in Ubuntu 20.04 some time ago, too. Using the 'noexpect = default;' constructor seems to cause problems on different compilers. From my point of view, I would go for the compatible style in the code base. Maybe in some years it can be changed back.
'class MyClass { public: MyClass() noexcept {}}'

[2021-01-18 09:19] BH1SCW commented on #495
Thanks for your advice~

[2021-01-18 09:25] BH1SCW commented on #494
Our company's vpn software has compatibility issues with the latest mac os， that‘s the reason why I still not upgrade my OS.

[2021-01-18 10:03] elBoberido opened #502 "Extend PeriodicTask"
## Brief feature description

Currently the `PeriodicTask` class has just a minimal set of methods. This issue collects some helpful extensions.

## Detailed information

Potential helpful methods:
- [ ] add `uint64_t getExecutionCount() const noexcept` method

[2021-01-18 10:09] dkroenke commented on #495
@BH1SCW We will open this issue again because the errors are pointing to some Lambdas in `PortManager` where the capture clause should be cleaned up.

[2021-01-18 12:06] elBoberido opened #503 "Refactor Serialization"
## Brief feature description

The current `cxx::Serialization` massively uses `std::string`. This shall be solved by a refactoring.

## Detailed information

To get rid of `std::string` in our code base, the `cxx::Serialization` needs to be refactored. Additionally, it should be possible to serialize into a binary format to speed things up and potentially reduce the serialized data size.

This wil

[2021-01-18 15:50] #497 closed

[2021-01-19 12:02] shankar-in commented on #337
@elBoberido Sure. I am interested to take up. I have some points for clarifications. Shall i create a new story for this refactoring?

[2021-01-19 12:54] elBoberido commented on #337
@shankar-in from my point of view, this issue could just be renamed to `Refactor posix timer`. In the end, that's what we did all the time

[2021-01-19 14:25] elfenpiff opened #505 "eventdriven callbacks for iceoryx"
## Brief feature description

Iceoryx requires event driven callbacks for events like:
- a subscriber:
   - has a new sample received
   - has a sample lost
   - is subscribed
   - is unsubscribed
   - ...
- a publisher has a subscribers
- certain service is available
- ...

## Detailed information

- [ ] Write design proposal with an usage example
- [ ] Implement design proposal

[2021-01-19 18:17] elfenpiff commented on #341
At the moment this is not a use case and I would pursue this when the need arises.

[2021-01-19 18:17] #341 closed

[2021-01-19 18:27] elfenpiff commented on #204
@Karsten1987 @marthtz  I think this issue can be closed and it is fixed in master. Could you please verify?

[2021-01-19 18:52] Karsten1987 commented on #204
Do you have instructions for this? The current rmw_iceoryx master doesn't build with iceoryx. I don't really know how to run the ROS2 demo without the rmw.

[2021-01-19 19:19] dkroenke opened #509 "iceoryx libs should be build as static libs"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
GCC 7.5.0

**Observed result or behaviour:**
When building the iceroyx lib and install them into `build/install/prefix` the application cannot find the .so files because `LD_LIBRARY_PATH` does not point to the custom location.
iox-roudi then throws the error:
[code]
output from ldd:
[code]

**Expected result or

[2021-01-19 21:44] mossmaurice commented on #337
Thanks @shankar-in and @elBoberido I think we already made good progress.

Throughout this post I'm referring not to master but the current branch of #490

IMHO that's a great building block. I would keep the semaphore out of there. Could be renamed to `PeriodicThread` as it is just syntactic sugar as you already noted. The name "task" is probably the most über-undefined term every in automotive s

[2021-01-20 08:22] elfenpiff opened #511 "Support in rmw_iceoryx"
## Brief feature description

We should support the https://github.com/ros2/rmw_iceoryx project so that is always compatible with the latest iceoryx version.

## Detailed information

- 1. [x] fix rmw_iceoryx so that it is running with the latest stable version v0.17 (so that it is at least running again) https://github.com/ros2/rmw_iceoryx/issues/40
- 2. [ ] ~~prepare rmw_iceoryx for v1.0: use th

[2021-01-20 08:27] elfenpiff commented on #204
@Karsten1987 I created two issues in https://github.com/ros2/rmw_iceoryx/issues/41 and https://github.com/ros2/rmw_iceoryx/issues/40 . Additionally, I created a support issue on our side to track those two https://github.com/eclipse-iceoryx/iceoryx/issues/511. Therefore, I would close this issue for now and would continue working on rmw_iceoryx in the other one.

The reason is that I am pretty sur

[2021-01-20 08:27] #204 closed

[2021-01-20 08:43] #509 closed

[2021-01-20 10:25] elBoberido commented on #494
With the #490 PR this specific error should be fixed.

There are about 30 further usages of `Ctor()/Dtor() noexcept = default;`. The question is, shall we also implement the ctor/dtor for these or do we wait and do it on a case by case basis?

[2021-01-20 10:41] mossmaurice commented on #494
Are all those occurences leading to compile errors? I'm still struggeling to understand what causes the error. If a c'tor has `noexcept` in its signature, it can't be implicitly declared?

[2021-01-20 11:12] elBoberido commented on #494
From what I understand, some compiler have sometimes problems with it.

[2021-01-20 11:36] sculpordwarf commented on #494
@mossmaurice At least it was a problem on my side with the 20.04 some time ago. I just changed the compiled stuff only, but for the master it needs to be everywhere corrected (else somebody builds e.g. a test and it fails again).
[code]
If you remove the noexpect its gone or if you define the constructor empty.

[2021-01-20 11:48] elBoberido commented on #494
Okay, I did a small test. If you have a member of a class with `MemberCtor() noexcept(false) = default;` the `std::is_nothrow_default_constructible/std::is_nothrow_constructible` traits evaluate to false for the class with that member, so my assumption was correct and the ctor gets deleted.
I don't know it it makes sense to add this check to our tests, since it won't compile anyway if the ctor is

[2021-01-20 12:05] elfenpiff commented on #494
I vote for implementing an empty default ctor!

[2021-01-20 12:15] elBoberido commented on #494
on the other hand, this would also apply to defaulted copy/move ctors and we were not anymore able to do the rule of zero since a class without a ctor will implicitly be nothrowable except if it has a member which does throw, then it's implicitly throwable ... my head just banged on the table 🤕

[2021-01-20 12:44] mossmaurice commented on #494
Are you sure? Do you have a Godbolt snippet for that?

According to [here](https://stackoverflow.com/questions/29483120/program-with-noexcept-constructor-accepted-by-gcc-rejected-by-clang) and [here](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1286r2.html), they even went back and forth in the committee :unamused:

I suppose we should check if we can fix the clang build by changing th

[2021-01-20 12:57] elfenpiff commented on #494
Just a short recap.
1. We do not use or support exceptions anywhere (ensured through `noexcept`).
2. A `ctor() noexcept = default` gets deleted if a member has a default ctor `ctor() noexcept(false)` which should be never the case in our code.

Therefore, we should use `ctor() noexcept = default;`  and never implement it empty our selfs and when the problem arises we have an issue in a member whic

[2021-01-20 13:05] elBoberido commented on #494
I don't have a godbolt snippet, but you can run this locally
[code]

@elfenpiff I also came to the same conclusion, but what it the class is from the STL, e.g. `atomic`

[2021-01-20 17:19] elfenpiff commented on #494
@elBoberido you are right but then we would have to write our own atomic since we explicitly do not allow any kind of exception. But I think the atomic does throw nothing so we should be safe in this case.

[2021-01-20 17:36] elBoberido commented on #494
@elfenpiff the atomic was just an (maybe bad) example. The problem is that some types of the STL might cause the deletion of a defaulted noexcept ctor. That's out of reach for us to fix.

[2021-01-21 03:05] #505 closed

[2021-01-21 03:05] elfenpiff commented on #505
Addresses the same issue as #350

[2021-01-21 09:04] mossmaurice commented on #404
@budrus Proposal makes sense to me. I'll take up this issue and work on it in the coming weeks.

I plan the following pull requests (in no particular order):
1. Fix verbose output when `iox-roudi --help`
1. Extend timeout info in runtime if RouDi is not answering b/c keepalive limit was not yet reached
1. Send de-register message from runtime d'tor
1. Add APP_ALREADY_REGISTERED message and inform

[2021-01-21 15:40] sculpordwarf commented on #404
@budrus
I don´t get 'Checking will kill(0) (i.e. no signal) if the first application is still alive'
Kill(0)= kill own process, kill is also a signal, will = with?

From my point of view:

4. a, 5. a and 6. a.) RouDi knows the PID of the process. An "are you still there" function could be realized via signals. Maybe it would be a good idea to do a shutdown of a single process, like it is down for

[2021-01-21 17:13] elBoberido commented on #483
@ariexi this is how the apache foundation is handling the copyright notice https://www.apache.org/legal/src-headers.html

I would suggest to have just a `// SPDX-License-Identifier: Apache-2.0` at the top of the source files and the license text and copyright owner in `LICENSE.md` and `NOTICE.md`

[2021-01-21 18:26] elBoberido commented on #494
@elfenpiff I just found an example for an STL type which causes the deletion on a defaulted noexcept ctor when used as member
[code]

[2021-01-22 07:21] Indra5196 opened #517 "Sending/Receiving Complex Data Structures"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
GCC 7.5.0

**Iceoryx versioin:**
0.90.0.0

**Observed result or behaviour:**
I created a structure which is as follows:
struct MyStruct {
  std::vector<char> charArray;
};

I am using this in place of "RadarObject" struct in the untyped example

**Publisher code:**
        auto result = untypedPublisher.loan(siz

[2021-01-22 08:01] elfenpiff commented on #494
And with this `std::chrono` as duration alternative is gone ...

[2021-01-22 08:12] elfenpiff commented on #517
@Indra5196 to implement a zero copy data transfer we us a shared memory approach. This requires that every data structure needs to be stored in there and that they do not use the heap.
An `std::vector` uses the heap to acquire memory to store the elements in there. This leads to the following problem.
1. Your application send the data
2. The receiver receives a pointer to the data in the shared me

[2021-01-22 10:31] FerdinandSpitzschnueffler opened #518 "Refactoring of introspection"
## Brief feature description

The introspection needs a refactoring regarding:
- how is data internally stored and accessible for introspection
- how is this data sent to the client
- which information should be presented and how
- introspection overhead should be minimal when the introspection is not used

## Detailed information

When the introspection was implemented multiple pub/sub scenarios

[2021-01-22 12:29] dkroenke commented on #496
@nihalchari Could you please rework the description and write down the classes and files where you want to test. It is better for traceability to see which classes where already touched.

[2021-01-22 14:41] #489 closed

[2021-01-22 14:44] elBoberido commented on #494
@BH1SCW can you check if the current master works for you?

We need to find a proper solution to prevent this breakage in the future, so I would keep this issue open

[2021-01-22 15:13] BH1SCW commented on #494
I just checked, current master is ok.

[2021-01-24 16:36] budrus commented on #518
@FerdinandSpitzschnueffler . Is this because the intropspection processes the CaPro messages again to determine the connection state? And this "state machine" no does not fit to the mult-puhser one? I think we would have to change it in a way that state changes of subscribers are reported and not a redundant (and maybe other) processing of all CaPro messages is made

[2021-01-24 19:00] budrus commented on #404
@sculpordwarf

I think you can send the kill to the process but without providing the signal parameter. See [here](https://stackoverflow.com/questions/11012527/what-does-kill-0-pid-in-a-shell-script-do)
I thought this could be the content of the "are you still there" function.

If there is no monitoring and the PID was already reused we cannot differentiate 5 and 6.
If we respond with APP_ALREADY_

[2021-01-25 08:31] dkroenke commented on #518
From my point of view we can stick to ncurses for the terminal output, but we need a solution for writing the introspection data into a parseable logfile for debugging purpose.

[2021-01-25 09:10] FerdinandSpitzschnueffler commented on #518
@budrus Yes, when one publisher stops sending data then the connection state is set to disconnected without checking whether the subscriber is also subscribed to another publisher.

[2021-01-25 12:43] MatthiasKillat commented on #518
We need a proper state machine to track this, and in the right place. It also can neither be done by the subscriber or publisher alone, it requires additional information. I coined those entities connections back then with the assumption that each subscriber has at most one possible connection (to a publisher that may or may not exist). Depending on what we want to view as a connection, this assum

[2021-01-25 12:50] MatthiasKillat commented on #518
As for std::map replacement. Since the introspection does relatively frequent lookups, we need an efficient lookup mechanism, otherwise it is unacceptably  slow. I doubt a refactored lookup mechanism would work nicely without something like a map.

Now, to create a true map with efficent lookups with our constraints is not easy, but doable (essentially we need to implement red black trees without

[2021-01-25 15:03] dkroenke opened #521 "Improve Pull-Request Process"
## Brief feature description
In iceoryx are Pull-Requests often a long time open because of several inconsistencies:
- New contributors often don't know who is the committer with the best knowledge about the codebase where he is working on
- There are formal aspects expected from committer side which are not visible to the contributors (e.g. AAA Pattern in tests, which cases are needed to test? Ho

[2021-01-25 17:27] elBoberido commented on #521
@dkroenke how about phrasing this like `use only smart pointer in units tests and "new/delete" only if there is no other possibility`

[2021-01-25 17:31] elBoberido commented on #518
I'd suggest to have a minimal introspection client dumping everything to the console and a fancy one with Python, Qt, HTML5, whatever and get rid of ncurses

[2021-01-25 19:20] elBoberido commented on #337
@mossmaurice

I used `task` because it's also used in the STL https://en.cppreference.com/w/cpp/thread/packaged_task. I'm also not quite fond of `PeriodicThread` since that's not what it does. It's more like a `PeriodicExecutor`.

Well, it's just a building block. If you need the additional functionality use the `PeriodicTask`, which uses this building block. Fun fact, the `PeriodicTask` can store

[2021-01-25 21:41] Indra5196 opened #522 "Calling clear() on a deque of sample pointers gives error"
Hi,

I am trying to create a std::deque of sample pointers in order to combine my existing API with iceoryx. (working_set_ is a private class member of type std::deque<sample_pointer_type>)
`           const void* chunk = nullptr;
            m_subscriber.getChunk(&chunk);
            auto sample = static_cast<const sample_pointer_type>(chunk);
            sample_pointer_type ptr(const_cast<sample

[2021-01-25 21:45] Indra5196 commented on #517
Thank you very much. That helped a lot!

[2021-01-26 09:19] FerdinandSpitzschnueffler commented on #521
We could add following rule of thumb for the unit tests (probably in the contributing.md, not in the checklist):

Try to test following abstract cases:
- zero
- one
- many
- corner cases
- limits

[2021-01-26 09:38] elfenpiff commented on #522
@Indra5196 which iceoryx version are you using?

[2021-01-26 10:25] Indra5196 commented on #522
@elfenpiff Iceoryx version is 0.17.2.0
sample_pointer_type is a pointer of Struct sample_type which is as follows

struct sample_type {
bool flag;
iox::cxx::vector<char, 10> charvect;
}

[2021-01-26 10:51] dkroenke commented on #521
This reads somehow like that we always need to use smart pointers in tests, which we don't need for stack-objects.
Maybe something like this:
[code]

[2021-01-26 16:11] dkroenke commented on #521
Another question, there is the possibility to prevent Committers from merging PRs without having all checkboxes marked as resolved.
It also prevents merging when someone has commented a checkbox in the PR which is not resolved.
Would this help you?

[2021-01-26 16:33] mossmaurice commented on #521
Yeah, I think that would be great. If we see that this leads to problems at some point we can refine the check again.

[2021-01-27 08:51] dkroenke commented on #521
Request for additional PR check for all checkboxes marked: https://bugs.eclipse.org/bugs/show_bug.cgi?id=570680

[2021-01-27 10:38] ariexi commented on #483
@budrus, @elBoberido, @dkroenke

After clarification with our legal department we came to following conclusion for Bosch:
As Bosch, we claim following Copyright Header Line:

`// Copyright (c) 2019 - 2021 by Robert Bosch GmbH. All rights reserved.`

Some explanation:
The Eclipse Foundation (EF) was not involved in the development of the code, nor did Bosch transfer any intellectual property rights

[2021-01-27 10:39] elfenpiff commented on #522
@Indra5196 I try to draft your current use case with a hint where I think it goes south.
[code]
2 things are happening here (XX):
 1. free'ing non allocated memory (your bug report)
     Your `sample_pointer_type` goes out of scope and calls `free` since it assumes that the memory was created with `malloc`. But this is wrong, the memory was created in the shared memory with iceoryx. To fix this yo

[2021-01-27 10:57] Indra5196 commented on #522
As of now, I was able to solve this issue by creating the shared_ptr in sample_pointer_type with a blank deleter

I have to use sample_pointer_type in order to keep our current API intact. As of now, there is no way around that for me

And yes, I am calling releaseChunk after working_set_.push_back()

[2021-01-28 09:00] yannlabou opened #525 "Add maven and openjdk-14-jdk-headless as build prerequisites"
As a first time user, I intuitively build iceoryx with `./tools/iceoryx_build_test.sh debug build-all`. This unfortunately fails with
[code]
I agree that it's mentioned in [iceoryx/iceoryx_dds/README.md ](https://github.com/eclipse-iceoryx/iceoryx/blob/b3ae7a4255c252f11d01a4ef278c11647d47e4d6/iceoryx_dds/README.md) but it's not obvious for non CMake frequent users.

[2021-01-28 09:39] dkroenke commented on #525
Hi,
good point, we can test with `dpkg -s <packagename>` beforehand if the needed dependencies are installed on the system and can print a meaningful error message if not.

[2021-01-28 10:29] elfenpiff commented on #525
@dkroenke We should update the dds docu within this issue, since our DDS docu is still mentioning the build scripts but they should be used only by the internal CI and in our release process. Everyone else should use `iceoryx_meta`.

@yannlabou Could you please use in the future the following build commands till we updated our documentation:
[code]

[2021-01-28 10:42] yannlabou commented on #525
@elfenpiff Yes I did. My main issue here is that the build will fail since I'm on Ubuntu 18.04 with openjdk-11. DDS_GATEWAY requires openjdk-14. It might be good to document it in the main README.

[2021-01-28 11:02] dkroenke commented on #525
The error message is coming from the external dependency `idlpp-cxx` because they have there a CMake file which search for maven: `find_package(Maven 3.0 REQUIRED)`. This is generating this error message.
We could maybe add a dependency check in iceoryx_meta to have an early check if maven and openjdk are installed.

[2021-01-28 11:58] yannlabou commented on #525
**Note for my future self and others working in a corporate environment**
[code]
It turns out I had to configure the proxy settings for **maven** at `/etc/maven/settings.xml`.

[2021-01-28 13:01] elBoberido commented on #525
It seems they are working to remove the Java dependency https://github.com/eclipse-cyclonedds/cyclonedds/issues/539
I hope it doesn't take to long

[2021-01-28 13:16] elfenpiff commented on #525
@dkroenke I did take a look at `find_package(Maven 3.0 REQUIRED)` but as it seems maven does not offer a cmake find_package file. So I will just mention this in our docu.

[2021-01-28 17:07] dkroenke commented on #494
MacOS Mojave (10.14) is available as image from [GitHub CI](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.14-Readme.md).

Question is, do we need to support also the older versions of MacOS? I guess in future it can happen that the container is removed then. I would also vote against an additional build because the worker for MacOS are more limited than Ubuntu: ht

[2021-01-28 18:54] elBoberido commented on #494
@dkroenke I think we have to check what is needed to become Tier1 in ROS2 and align with that.

[2021-01-28 20:51] dkroenke commented on #494
According to the current https://www.ros.org/reps/rep-2000.html for ROS2 Foxy and Galactic is MacOS Mojave (10.14) needed.
I guess we can then tie the MacOS runners to that version. I can do it within this ticket here.

It can happen that in future MacOS support is downgraded to Tier3: https://github.com/ros-infrastructure/rep/pull/291/files But also there is Mojave mentioned.

[2021-01-29 07:24] Indra5196 opened #528 "Suport for register_availability_handler similar to GENIVI VSOME/IP"
In order to fully support ara::com with iceoryx, we need a method like register_availability_handler similar to GENIVI VSOME/IP, so that actions could be performed based on the availability of publishers

Wanted to know some things here:
Is it possible to have such functionality within iceoryx? If yes, can you give me a brief Idea how?
Is it practical to have it?

[2021-01-29 08:51] elfenpiff commented on #528
@Indra5196 I am currently working on the issue #350 . When the event driven callbacks are implemented (in the next weeks) you should be able to write code like:
[code]

You can read the current design draft here: https://github.com/eclipse-iceoryx/iceoryx/blob/master/doc/design/draft/eventdriven-callbacks.md
where you can find more usage examples.

Is this what you would like to have? Register a c

[2021-01-29 09:38] dkroenke commented on #518
Additional requirements:
- platform independent introspection
- introspection over DDS
- graphical interface (please make first a proposal for a GUI framework, maybe a webpage?)

[2021-01-29 09:50] dkroenke opened #529 "Remove #define private public from all tests"
## Required information
In some of the iceoryx tests are defines used for making private=public which is against our principle of white-box testing.
Additionally this doesn't compile on windows.

## Task
- [ ] remove `#define private public` and `#define protected public` from all testfiles
    - [x] test_gw_gateway_discovery.cpp (part of ##501)
    - [x] test_roudi_service_registry.cpp (trivial)

[2021-01-29 09:54] dkroenke commented on #66
This is linked to #488 where an uninitialized_array is used, please clarify first if the Objectpool is maybe obsolete.

[2021-01-29 10:28] Indra5196 commented on #528
@elfenpiff Yes, I was looking to register callbacks if some service is available

Currently, the subscriber application, using GENIVI VSOME/IP, calls a method "StartFindService" along with a callback method. Once a service is available, Callback is invoked and the corresponding proxy (subscriber) object is created.

I know this is not needed in case of Iceoryx, but its required for ara::com compat

[2021-01-29 10:57] elBoberido commented on #529
oh, I also added it to the Windows Issue.
Nevertheless, `test_gw_gateway_discovery.cpp` will be fixed with the Duration PR

[2021-01-29 11:03] elfenpiff commented on #350
@elBoberido your PR comment for later digestion

I constantly have to rethink the `hasTriggeredCallback` because I always think it's a boolean which tells that a callback has triggered and not a callback to check if the event has triggered.
What do you think about `triggerQueryCallback` (or maybe `queryCallback`)? This line would become
[code]
Doesn't need to be changed for this PR, just as food f

[2021-01-29 11:13] #498 closed

[2021-01-29 11:18] dkroenke commented on #529
@elBoberido yes right, this is for the new contributors to get familiar.

[2021-01-29 12:02] elfenpiff commented on #528
@Indra5196 then I will ping you as soon as the feature is merged!

[2021-01-29 12:23] elBoberido commented on #529
@dkroenke I had a look at it yesterday and at least one is not quite trivial to solve. Shall I tag the files from easy to difficult?

[2021-01-29 12:26] dkroenke commented on #529
@elBoberido Yes that definitely make sense

[2021-01-29 12:38] elBoberido commented on #529
@dkroenke done. I think mq_interface will be refactored in the near future and should maybe be done with that refactoring

[2021-01-29 15:18] mossmaurice commented on #404
After a chat with @sculpordwarf and @elBoberido we decided to switch to UNIX domain sockets first (#381), before addressing this bug report. The behaviour is implementation specific and therefore there is no need to fix the message queue behaviour as they will be deprecated before v1.0.

Current behaviour (3 & 6):
1. Start 1st Subscriber
2. Start 2nd Subscriber (same exec again): 2nd subscriber "s

[2021-01-29 17:33] #494 closed

[2021-01-29 18:45] budrus commented on #528
@elfenpiff @Indra5196 . This half of the way, the other half would be #415., When we have a built-in topic that gets updated when there is a change in the service registry and you combine this with #350 you could do the following:
1.  have a callback that is invoked when there is a new sample for your service registry subscriber
2. in this callback evaluate a data structure that is updated with St

[2021-02-01 03:52] BH1SCW opened #533 "Add how to install after build to guide."
I found there is lack of information on how to install after building.
so, this is just a small patch and the first PR for me to learn rules of how to contribute this project.
https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md

[2021-02-01 12:18] elBoberido commented on #404
This is the tricky part. Ideally the cleanup is not done by deleting and recreating the IPC channel since this opens the window for a race of a third start of the application which notices that there is no IPC channel and tries to open one.

I would suggest to have this sequece:
- create IPC channel with app name only if there is none -> happy path
- if there is one, create a unique IPC channel an

[2021-02-01 12:31] #525 closed

[2021-02-01 12:43] #190 closed

[2021-02-01 16:12] dkroenke commented on #483
@ariexi @elBoberido
To have separate lines for each contributor make sense to avoid confusion, so a possible copyright fileheader could look like this:
[code]

For the case that a contributor changes a file in a new year (e.g. Contributor1 modifies the file in 2022), he update the range to the new year (e.g. 2019 - 2022).

Based on that, the template in Contributing.md could look like this:
[code]

[2021-02-01 18:28] elBoberido opened #536 "Improving `units::Duration`"
## Brief feature description

The `units::Duration` class could have same additional features and improvements.

## Detailed information

- [x] rename the creation methods like `milliseconds` to `fromMilliseconds`
    - some getter methods should then be renamed, e.g. `milliSeconds` -> `milliseconds` or `toMilliseconds`
    - no final decision, please ask before starting with this
- [ ] conversion

[2021-02-02 10:24] #533 closed

[2021-02-02 23:17] ithier commented on #66
I use this in the gateway implementation as a place for the gateway to create publishers/subscribers/data readers/data writers when doing dynamic discovery.
See here: https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_posh/include/iceoryx_posh/gateway/channel.hpp#L82

We would either need another solution for this or to not support dynamic topic discovery if we wanted to remove the obj

[2021-02-03 07:15] ariexi commented on #483
@dkroenke, @budrus :

Exactly, Another option is to separate with "," (comma separated list) for the case, that contributorX did not modify in one year. It could look like:

`// Copyright (c) 2019 - 2020, 2022 by Contributor1. All rights reserved.`
`// Copyright (c) 2020 - 2022 by Contributor2. All rights reserved.`
`//`
`// Licensed under the Apache License, Version 2.0 (the "License");`
`// ...`

[2021-02-03 14:10] elBoberido commented on #66
I think something like the `ObjectPool` is needed. Maybe with some refactoring and consolidation what we created after the `ObjectPool`.

[2021-02-03 15:15] mossmaurice opened #539 "RouDi modularisation"
## Brief feature description

The current modules and classes in RouDi are entangled and sometimes depend on each other. For safety certification a clear structure and concept is needed.

## Detailed information

* [ ] Replace `m_run` in `CmdLineArgs_t`, also see [here](https://github.com/eclipse-iceoryx/iceoryx/pull/523#discussion_r569483881)

[2021-02-04 08:21] elfenpiff opened #542 "Fix resource leak caused by move ctor/assignment"
## Required information

All versions

**Observed result or behaviour:**
The classes:
 - [x] `unix_domain_socket` (fixed by https://github.com/eclipse-iceoryx/iceoryx/pull/550)
 - [x] `shared_memory`
 - [x] `memory_map`
 - [x] `GenericRAII`

are not cleaning up the resources while performing move. This could lead to a resource leak when for instance the following pseudo code is executed.

[code]

[2021-02-04 08:21] elfenpiff commented on #542
@sschnitzer Thank you for finding this!

[2021-02-04 08:22] shankar-in commented on #337
@elBoberido I am taking up refactoring of periodically trigger an event in this sprint. In case i have clarifications I will contact you in Gitter.

[2021-02-04 08:59] elfenpiff opened #543 "Testing Framework for Resource Tracking"
## Brief feature description

The issue #542 showed that we - despite a good test coverage and a abstraction - we still have resource leaks. Therefore, we require a testing platform/framework similar to the Windows, MacOS platform files in iceoryx utils.

It should be realized in the following way:
- Nowhere in the code (posix wrappers) we use posix calls or other resource handling calls directly

[2021-02-04 11:19] FerdinandSpitzschnueffler commented on #408
Please see also [#532](https://github.com/eclipse-iceoryx/iceoryx/pull/532/files#r567795431) for the introduction of the options struct in the C API.

[2021-02-04 14:42] dkroenke commented on #496
@nihalchari Could you please rework the issue and give more details on what you are currently working and in which classes you intent to work? It is hard to understand where in `iceoryx/iceoryx_posh/source/roudi/` you want to write tests.

Additionally the capro tests are mssing here.

[2021-02-04 18:00] enkeyz commented on #536
Could work on the renaming(first one), if it's still wanted.

[2021-02-05 09:05] elfenpiff commented on #536
@enkeyz It is still wanted and we would very much appreciate it!

I would assign the issue to you and if you run into troubles or other issues just contact us via https://gitter.im/eclipse/iceoryx

[2021-02-05 10:44] elBoberido commented on #536
@enkeyz sure, go ahead. If it's not too late, please rename the getter methods with a `to` prefix, so `toDays`, `toNanoseconds`. This makes it's less ambiguous than just `nonoseconds` which could also mean just to nanoseconds part of the duration.

[2021-02-05 12:12] elfenpiff commented on #536
@enkeyz nice!

I would recommend to use the iceoryx_meta approach for developing. Here you can compile and run the tests with the following commands:

[code]

[2021-02-08 10:25] nihalchari commented on #496
okay, ill do that

[2021-02-09 08:27] #484 closed

[2021-02-09 09:17] dkroenke commented on #483
This issue stays open until all fileheaders are reworked to the new format

[2021-02-10 10:05] Indra5196 opened #549 "Slow performance on yocto builds"
## Required information

**Operating system:**
Linux version 4.18.33-yocto-standard

**Compiler version:**
GCC 8.2.0

**iceoryx version**
0.17.0.2

**Observed result or behaviour:**
I ran Iceperf application in my yocto build. Performance of Iceoryx is very slow (~3ms) as compared to MQ or UDS (~0.2ms for max size data packets).
| Payload Size [kB] | Average Latency [µs] |
|------------------:|---

[2021-02-10 13:55] mossmaurice commented on #549
Thanks for opening the issue @Indra5196

You are writing _MACHINE = "qemux86"_. Does this mean it the yocto image and your setup was running virtualised inside qemu?

[2021-02-10 14:18] Indra5196 commented on #549
Yes

[2021-02-10 16:41] elfenpiff commented on #549
@Indra5196 this could have multiple reasons. First of all please be aware that we support 32 bit system but do not optimize for them!

1. When we acquire shared memory it is usually stored in the main memory but if the memory has insufficient size and a swap partition is enabled then the shared memory is allocated on your hard drive/sd card (wherever the swap partition is stored). Do you have swap

[2021-02-11 08:36] Indra5196 commented on #549
Here are the stats of `df -h` and `cat/proc/meminfo` of my QEMU instance BEFORE runninng RouDi:
![cat_proc_meminfo_before_roudi](https://user-images.githubusercontent.com/34583762/107609790-f736ea00-6c65-11eb-97dc-d3d1ba24950d.png)
![df_h_before_roudi](https://user-images.githubusercontent.com/34583762/107609791-f8681700-6c65-11eb-87aa-5fdf56e249b3.png)

Here are the stats of `df -h` and `cat/proc

[2021-02-11 08:50] mossmaurice commented on #549
Thanks for providing the numbers. I'd like to understand your use-case better. Is the QEMU environment your target system or you want to use it for development? Have you tried booting the Yocto imagine natively on your board and re-run iceperf?

[2021-02-11 09:17] Indra5196 commented on #549
@mossmaurice We want to run it on both QEMU and RaspberryPi 3

[2021-02-11 14:24] elfenpiff commented on #549
I got my old RaspberryPi 2 running with the current Raspberry Pi OS (January 11th 2021) and could not reproduce the numbers, meaning the iceoryx performance was much faster than the MQ and UDS performance.

@Indra5196 Could you please build everything first with
`cmake -Bbuild -Hiceoryx_meta -DCMAKE_BUILD_TYPE=Release` otherwise you enable the debug flags and then it is clear why it is so much slo

[2021-02-12 06:16] Indra5196 commented on #528
Hi @elfenpiff @budrus, One thing crossed my mind,

Why Set/UnsetReceiveHandler was removed in the later versions? Is there a new API which provides a similar functionality?

[2021-02-12 08:46] dkroenke opened #556 "iceoryx 1.0, Eclipse release preparation"
## Brief feature description

For the upcoming major release are some things to do to fulfill the formal eclipse release process.
Additionally we need to extend the documentation and tooling.

## Detailed information

- [ ] list of licenses for the dependencies and tools (e.g. gtest, libacl etc.) in NOTICE file
- [ ] add CHANGELOG.md with features, bugfixes, improvements
- [ ] list known limitatio

[2021-02-12 09:49] elfenpiff commented on #528
@Indra5196 we are currently working on that new API and it will be available in iceoryx v1.0.

[2021-02-12 13:08] Indra5196 commented on #549
Hi @elfenpiff,

Just FYI, I tried building a 64-bit Image in release mode (previously i was using debug mode). But I saw no performance improvement. Since you've already tested it on R-Pi, I hope its a QEMU only issue. Will soon test on R-Pi also

[2021-02-15 13:28] MatthiasKillat commented on #408
Open for discussion
1. add a function to iox::popo to convert payload ptr to header (currently done by ``iox::mepoo::ChunkHeader::fromPayload``)
2. SampleDeleter holds a reference to the port now, hence relies on its lieftime, it would be better to have it rely on PortData or even the runtime. This requires some thoughts and refactoring (PortData is inaccessible from a Port and it can be argued wh

[2021-02-15 13:57] marthtz opened #558 "Fuzzer Integration"
## Brief feature description

Integrate fuzzing capability to iceoryx.

## Detailed information
Possible fuzzing targets:
- Fuzz the configuration parser
- Fuzz the shared memory
- Fuzz the message parser
- Fuzz the DDS gateway
- Fuzz the utils library
- Iceoryx user API

[2021-02-15 15:41] pabloEnzes2 commented on #549
master debug PI(last updates installed):
[code]

debug PI tried again:
[code]

PI info:
[code]

master debug cubox:

[code]

cubox info:
[code]

[2021-02-16 12:03] MatthiasKillat opened #560 "Change sample deleter to not rely on port lifetime"
## Brief feature description

Currently the SampleDeleter relies on the lifetime of the underlying port object on user side, i.e. when the port is deleted any sample originating from this port cannot call the deleter in the destructor safely (but will do so anyway and likely crash).

This can be improved by having it rely on the lifetime of the associated PortData object in shared memory only, or

[2021-02-16 13:11] elfenpiff opened #562 "Possible double free of memory chunks"
## Required information

**Operating system:**
Raspberry Pi OS January 11th 2021 (32-bit)

**Compiler version:**
GCC 8.3

**Observed result or behaviour:**
[code]

When starting the iceperf example a double free fatal error occurs.

**Expected result or behaviour:**
No double free error

**Conditions where it occurred / Performed steps:**
Run the iceperf example on a Raspberry Pi (32-bit)

[2021-02-16 13:17] elfenpiff commented on #549
@pabloEnzes2 @Indra5196

It seems that the iceperf benchmark is not running on Raspberry Pi OS January 11th 2021 (32-bit). I verified this with an Raspberry Pi 3b+. To track this issue I created #562  but at the moment we do not support 32-bit systems and it looks like we will not support them in the near future.

But nevertheless the iceoryx examples are running and the code compiles with a lot o

[2021-02-16 13:36] elfenpiff commented on #562
Compiling the exact same example on a Raspberry Pi (64-bit) seems to always work.

[2021-02-16 14:00] elBoberido commented on #562
This might be a good excuse to consolidate on the `IndexQueue` from @MatthiasKillat

[2021-02-16 19:13] elBoberido opened #563 "Move all tests into an anonymous namespace"
## Brief feature description

All tests should be self contained in an anonymous namespace.

## Detailed information

Multiple tests files are linked together into one binary. If the tests are not put into an unique namespace, it is possible that multiple helper structs with the same name but different layout are in the same binary. With luck, the linker complains. With bad luck, the address sanit

[2021-02-18 00:22] pabloEnzes2 commented on #549
@elfenpiff What happened to:

[2021-02-18 10:17] elfenpiff commented on #549
@pabloEnzes2 I was mistaken and a colleague corrected me. I am sorry for the confusion! One year ago I implemented the 32-bit support and at the moment it seems like its working. If you encounter any problems please create an issue and we try to support you but we will not actively work on it those issues.

[2021-02-18 12:04] chiranjeevimaddi opened #566 "Enhancing Unit Tests in iceoryx_utils folder."
## Brief feature description
Introduce Module tests for all the folder in iceoryx_utils folder.

## Detailed information
Increase the code coverage.

- [ ] iceoryx/iceoryx_utils/source/concurrent/                 -   @JimmyBch
- [ ] iceoryx/iceoryx_utils/source/cxx/                             -   @manel94
- [ ] iceoryx/iceoryx_utils/source/file_reader/                 -    @manel94
- [ ] iceoryx/

[2021-02-19 10:44] elfenpiff opened #568 "`cxx::vector` wrong cleanup order"
## Required information

**Operating system:**
Everywhere

**Compiler version:**
All versions

**Problem:**
The `cxx::vector` destructor and `clear` should call the destructors of the elements in reverse order to be compliant with the STL.

[2021-02-19 13:34] elfenpiff opened #570 "`cxx::variant` move assignment invalidates sources"
## Required information

**Observed result or behaviour:**
The move assignment operator of the `cxx::variant` invalidates the source which is incorrect C++ idiomatic. The variant has to leave the contained object in a destructable state.

[2021-02-19 13:41] FerdinandSpitzschnueffler opened #571 "Replace timespec by Duration in semaphore"
## Brief feature description

Replace timespec struct by ``iox::units::Duration`` in ``timedWait()`` method of ``iox::posix::Semaphore``.

[2021-02-19 14:16] nihalchari commented on #496
done

[2021-02-19 14:42] #568 closed

[2021-02-19 17:07] #570 closed

[2021-02-19 18:33] #571 closed

[2021-02-22 06:28] shankar-in opened #574 "Duplicated service description entries within gateway config toml file should not result in duplication of service entries"
## Required information

**Operating system:**
Iceoryx Enviroments Linux / Ubuntu

**Compiler version:**
Normal Iceoryx build setup

**Observed result or behaviour:**
If the gateway config toml file has duplicated service descriptions the parser doesnt validates this and creates duplicated service description entries

**Expected result or behaviour:**
The parser should validate this and service en

[2021-02-22 10:18] elBoberido commented on #574
I'm not quite familiar with the gateway config but your example shows C++ code. Could you please clarify this a bit?

[2021-02-22 10:51] ithier commented on #574
Creating duplicate publishers/subscribers/data writers/data readers is probably the wrong behaviour. I can't think of any reason why they should be duplicated.
Possible solutions:
* skip over duplicate entries found in the configuration
* terminate application with error, prompting the user to fix the config

The fix should be relatively simple, relevant code is here:
* https://github.com/eclipse-

[2021-02-22 10:53] shankar-in commented on #574
@elBoberido Yes. its a code snippet to write the data into the toml file. This can be found within iceoryx_posh/test/moduletests/test_popo_toml_gateway_config_parser.cpp.

@ithier yes agreed with your solution

[2021-02-22 12:17] dkroenke commented on #574
@ithier
Maybe it make more sense to detect duplicate entries early in the parse() stage? I would make the solution not DDS-specific and apply this to the `TomlGatewayConfigParser` class which is intended used by all gateways. There is already a validate function available that can be extended to detect and handle the duplicate service entries:
https://github.com/eclipse-iceoryx/iceoryx/blob/master

[2021-02-23 06:00] RamakrishnanOSS opened #575 "example multi publisher, subscriber -> missing some data"
## Required information

**Operating system:**
Ubuntu 20.04 LTS

**Compiler version:**
E.g. GCC 9.3.0

**Observed result or behaviour:**
The multi-subscriber always miss the two "counter 0" data sent from the publisher.
Counter Instance sending: id 1 counter 0
Counter Instance sending: id 2 counter 0

**Expected result or behaviour:**
Multi-subscriber shall receive all the data sent by the publish

[2021-02-23 09:39] dkroenke commented on #359
@nihalchari
This issue was already resolved by https://github.com/eclipse-iceoryx/iceoryx/pull/342, therefore i close it.

[2021-02-23 09:39] #359 closed

[2021-02-23 09:58] dkroenke commented on #472
@muzili We have merged the UDS protocol in iceoryx and do not use the MessageQueue anymore. I tried to reproduce the issue locally on Ubuntu 20.04 and it does not come up. Can you confirm this?

[2021-02-23 10:10] elfenpiff commented on #574
@dkroenke I agree and I would not return an error when duplicate entries are found. This does in no way produce an unexpected outcome, destabilize our software or would somehow seem as a bug.
We just state in the readme of the Toml-Config - for every unique entry one publisher is created. Identical entries are ignored.
But it is maybe helpful for the user when we print a warning message since clea

[2021-02-23 10:26] elBoberido commented on #575
@RamakrishnanOSS the reason for this is the internal discovery loop which runs every 50ms. Soon, there will be an option to offer/subscribe on creation of the publisher/subscriber which will eliminate this latency. See the open task in #408

[2021-02-23 10:29] mossmaurice commented on #575
See also #301 for a detailed explanation.

[2021-02-24 10:55] #279 closed

[2021-02-25 10:09] jhx2002 opened #581 "missing data"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

One topic is published by one puber, and received by one subscriber.
Repeatedly send 500 msgs every 100ms.
Missing last messages more than 10.

[2021-02-25 10:28] elfenpiff commented on #581
From your description I guess the code looks somehow like the following example:
[code]

If this is roughly your use case could you check that the `subscriberOptions.queueCapacity` is large enough. If this is not the case older samples are thrown away when the queue is full.
The current default maximum is 256 but this can maybe be insufficient for you. To increase the size you have to generate the

[2021-02-25 10:29] elfenpiff commented on #581
There are even more options available if you encounter a similar problem in the future. At the moment they are not yet documented but you can see them here https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_posh/cmake/iceoryx_posh_deployment.cmake

[2021-02-25 11:07] elBoberido commented on #581
We need to be able to detect if non-default parameters are used because it might influence the ABI. Currently we only check for the same version, git commit or build date. The build date could be used as compatibility check here but that is more restricted than necessary. In order to get reproducible builds we also would have to remove that option.

[2021-02-25 14:01] elBoberido commented on #482
in a talk to @mossmaurice I mentioned `iceoryx foundation classes` in short `ifc` as possible name for the utils and he quite liked it

[2021-02-25 18:09] ithier commented on #482
I guess that looks better than ~testicles~ icicles.

[2021-02-25 18:50] elBoberido commented on #482
I still prefer `HOOFS` <- **H**ighly **O**ptimized **O**bjects (for) **F**unctional **S**afety ... kudos to @mossmaurice for the nice backcronym

[2021-02-25 21:28] ankitkk commented on #581
Thanks - I did run into a similar issue and was able to get around it by tweaking exactly what you mentioned.  On the subscriber side hasMissingData() triggers, which is nice. However I couldn't figure out a way to know if the publish is going to fail so the publisher can back off.

I was expecting the else to hit in the following code, but it doesn't. hasMissingData on subscriber side does flip t

[2021-02-25 21:59] budrus commented on #581
Thanks for your feedback @ankitkk. You are not the first one who asks for blocking the publisher, maybe we should think about an option to enable this. Running out of chunks or detecting a full queue on the subscriber side would be use cases to block the publisher and wait for subscribers to solve this issue.
For automotive guys blocking the publisher when a subscribe isn't fast enough is normally

[2021-02-25 22:07] budrus commented on #575
@RamakrishnanOSS With the latest 0.90 release or the current master you should also be able to solve it by enabling the history functionality. This will allow the subscriber to get historical data on subscribe. You can enable it with the `historyCapacity` in the PublisherOptions and `historyRequest` in the SubscriberOptions. If your publisher sends before the discovery loop does the connections th

[2021-02-26 06:02] marthtz opened #583 "Clean-up Doxygen for all methods in headers"
As discussed in the last iox dev meeting (2021-02-18) Doxygen comments for all methods in all headers need to be checked for completeness and cleaned-up if necessary.

It should look like this
[code]

Comment should have:
-  A brief description what's done
- Description of all incoming and return values
- Also check that the param[in] name matches the param name in declaration

Ex1:
[code]

Ex2:
[

[2021-02-26 08:14] dkroenke commented on #583
Here are the doxygen guidelines for iceoyx: https://github.com/eclipse-iceoryx/iceoryx/blob/master/doc/aspice_swe3_4/swe_docu_guidelines.md

[2021-02-26 08:59] MatthiasKillat commented on #581
Note: once the publisher has successfully loaned memory the publish itself should not fail (as long as RouDi is running). It will deliver the data to the internal subscriber queue.
If this queue is too small (which can be adjusted as shown via queueCapacity) the least recent samples will be discarded (LRU policy, like in a ring buffer) and cannot be taken from the subscriber.

This basically means

[2021-02-26 09:08] dkroenke commented on #574
According to service_description.hpp it is possible to have a "reduced" ServiceDescription without EventID. For example the service discovery protocol of SOME/IP needs only a service and event identifier. Currently the gateway config enforces to have the "three friends" available in the config. We should also allow the reduced variant here.

[2021-02-26 09:41] elfenpiff commented on #482
+1 for `HOOFS`

[2021-02-26 09:57] elfenpiff commented on #581
@ankitkk

Let's say we would implement the feature that the publisher informs you that the queue of the corresponding subscriber is full so that you can wait. How should it look like? One idea which came into my mind was something like:
[code]

Btw, this is one of my dreams and I hope I will have the time to realize this in the near future. Any help here would be more then welcome!

[2021-02-26 10:30] #542 closed

[2021-02-26 10:49] budrus commented on #581
@elfenpiff I wouldn't make things complicated. If people want to block the publisher thread if subscribers are not fast enough, we would just not return from `publish()` until the problem is solved. Sure  this can block forever but that's how it is.

[2021-02-26 14:43] ankitkk commented on #581
@budrus  Yes, blocking publisher gated on something like shouldBlock bool, would be awesome.

Although - more information about subscribers when they connect would be helpful - e.g queue size can give more hints to publisher on how to throttle themselves.  iox-roudi daemon knows about all this - maybe this information can also be disseminated on a "system" topic by the rox-roudi.

[2021-03-01 09:50] budrus commented on #575
@RamakrishnanOSS. On it's way lord commander #584

[2021-03-01 10:04] MatthiasKillat opened #585 "Chunk header usage in C"
## Brief feature description

The current chunk header is a C++ class and cannot be accessed safely purely with C.
We need an API (or C struct) to allow using the chunk header in C.

## Detailed information

The detailed approach needs to be discussed and depends on the desired level of functionality and configuration options the header shall provide to the user.

[2021-03-01 15:52] elfenpiff opened #588 "Implement Module-Tests for smart_lock"
## Brief feature description

The `concurrent/smart_lock` class does not have unit tests but requires some.

[2021-03-02 22:03] mossmaurice opened #590 "Improve modularity by creating architecure guidelines"
## Brief feature description

iceoryx is developed in several CMake packages that aim to be independent. Current state is there are cross dependencies between each of them and no architecture guidelines have been created so far.

## Detailed information

Analysed iceoryx repository with [Lattix Architect](https://www.lattix.com/products-architecture-issues/). [Attached](https://github.com/eclipse-

[2021-03-03 08:33] #549 closed

[2021-03-03 08:50] mossmaurice commented on #549
@Indra5196 I've documented the 64-bit requirement and added a warning on 32-bit systems. Have you tried to run iceperf inside a 64-bit QEMU image? Feel free to re-open this issue.

[2021-03-03 13:29] marthtz opened #591 "std::void_t used in code"
Found `std::void_t` is used in code (`expected.inl`). Unfortunately, this is a C++ 17 feature.

I"ll add it to our type traits set!

[2021-03-03 13:52] mossmaurice commented on #590
FYI @dlo-86
[Structure101](https://structure101.com) would be another option besides Lattix to analyse the architecture. However, I've had a detailed look at Lattix and found the DSM and its metrics quite helpful.

[2021-03-04 05:43] #591 closed

[2021-03-04 10:49] #381 closed

[2021-03-04 13:29] #349 closed

[2021-03-04 13:29] #408 closed

[2021-03-04 16:23] elfenpiff opened #594 "Sending dynamic data types"
## Brief feature description

Dynamic containers like a `std::vector`, `std::map`, and `std::list` should be transmittable via shared memory without data copy.

### Data type wish list
- `std::vector`
- `std::map`

### Requirements
- The data type should be able to grow dynamically and its size should not be determined on creation.

A partial solution for this issue will come with issue #911

At t

[2021-03-04 16:36] MatthiasKillat commented on #594
An important consideration data types to be send need to satisfy certain conditions:
1. They need to be entirely contained in Shared Memory - no pointers to outside memory, no dynamic allocators.
2. The lifetime of the Shared Memory needs to be ensured (the publish subscribe API does this)
3. The data structure cannot use pointers internally to reference its data (i.e. like naively implemented lis

[2021-03-05 10:19] mossmaurice commented on #482
Another idea: {**H**elpful, **H**andy} **O**bjects **O**ptimised **F**or **S**afety

[2021-03-05 10:35] mossmaurice commented on #517
Added an item in #482 that we need to document the limitations of what can be transmitted via shared memory. Closing this issue and we can continue the wishlist of data types and possible solutions in #594

[2021-03-05 10:35] #517 closed

[2021-03-05 10:35] #575 closed

[2021-03-05 10:37] budrus commented on #575
@RamakrishnanOSS PR was merged to master. You can give it another try

[2021-03-05 10:49] mossmaurice commented on #522
Closing this issue. @Indra5196 Feel free to re-open.

[2021-03-05 10:49] #522 closed

[2021-03-05 11:41] marthtz commented on #495
QNX 7 is using GCC 5.4.0 as well. So, I think we have to re-open the issue and resolve the issues!

[2021-03-05 12:13] elfenpiff commented on #495
@marthtz  Oh please no! :( ...
To fix this then we require a pipeline with an old gcc-5.4.0 compiler! And we may have an even bigger problem, we use C++14 in our project and gcc-5.4.0 does it support only partially but I hope we are lucky here.

[2021-03-05 12:50] mossmaurice commented on #495
I agree! Talked to @dkroenke last week and all companies contributing to iceoryx are currently using QNX7 with QCC 5.4.0. It [fully supports](https://github.com/eclipse-iceoryx/iceoryx/issues/220#issuecomment-668683249) C++14.

However, I'd strongly disagree to release v1.0 without any QNX support. In case it's more work than anticipated we have our April fool fallback ;-)

[2021-03-05 13:20] FerdinandSpitzschnueffler commented on #482
update Readme of icedelivery_in_c (https://github.com/eclipse-iceoryx/iceoryx/pull/584#issuecomment-791340840)

[2021-03-05 15:24] budrus commented on #495
QNX support can also mean we support QNX > 7.1. Some weeks ago we made the decision to switch to C++14. As far as I understood, the problem here is related to  a C++14 problem of gcc 5.4. So if it is fine with QNX 7.1,  I would not try to solve problems related to outdated compiler versions

[2021-03-10 08:56] elfenpiff opened #599 "expected and_then/or_else calling callable without checking"
## Required information

The methods of `cxx::expected` `and_then`/`or_else` are calling callables without verifying if they contain a callable object.

[2021-03-10 10:01] elfenpiff opened #600 "Update Clang-Tidy with newest rule set"
## Required information

- U suffixes are not checked by clang tidy.
- one clang-tidy file in iceoryx root directory besides clang-format

[2021-03-10 14:17] #600 closed

[2021-03-10 16:05] #599 closed

[2021-03-11 12:19] chiranjeevimaddi opened #604 "Refactoring according to CONTRIBUTING.md naming convention"
## Brief feature description
1. remove all f_* .
2. Rest of the naming conventions in  https://github.com/eclipse-iceoryx/iceoryx/blob/master/CONTRIBUTING.md

## Detailed information
In the complete ICEORYX repo, naming convention has to be modified as per CONTRIBUTING.md file & remove all f_* prefixes in functions.

[2021-03-11 15:26] elfenpiff opened #605 "Refactor Relocatable Pointer and Relative Pointer"
## Brief feature description

The relocatable pointer (`iceoryx_utils/internal/relocatable_pointer`) implementation needs to be cleaned up:

 1. [x] add noexcept, const, replace `size_t` with `uint64_t` (done in #618 except making parameters const)
 2. [x] separate implementation and declaration for all classes (#618)
 3. [x] one class per header file (#618)
 4. [x] add subnamespace `iox::rp` wher

[2021-03-11 16:19] #378 closed

[2021-03-12 13:37] marthtz opened #607 "Conditional behavior in debug/release mode for cxx::Expects and cxx::Ensures"
## Brief feature description

Add conditional behavior on debug/release mode for `cxx::Expects` and `cxx::Ensures`.

## Detailed information

Current state is that `cxx::Expects` and `cxx::Ensures` terminate if the condition is not met.
Suggestion to add conditional behavior on debug/release mode for both functions, like in debug mode you will be terminated with a detailed error message and in rel

[2021-03-15 10:32] marthtz commented on #495
@dkroenke did you manage set up a CI build for 16.04? That's probably the final step to close this issue after my PR is merged.

[2021-03-15 12:47] elBoberido commented on #495
GCC5.4 has some quirks which might make the code ugly when fixing. From my point of view I wouldn't invest much time on GCC5.4 but require QNX7.1 which was released in July last year.

[2021-03-15 12:52] elBoberido commented on #604
@chiranjeevimaddi when you do this, please don't do it in one go because this will result in many merge conflicts which either you or other developer will have, depending on who can merge first. Please take a few files, create the PR and repeat until done.

[2021-03-15 12:59] elBoberido commented on #607
I don't think this is the right path forward. In your example you don't need the `Expects` because you already decided you can handle the error. `Expects` is for invariants which should never be broken but your inner chicken is appeased by this extra check. Please don't use constructs for problems they are not designed for.

[2021-03-15 13:03] JimmyBch commented on #604
@elBoberido We will create PRs for different folders. For sure, we won't create only one PRs.

[2021-03-15 14:03] marthtz opened #609 "Add generic QNX toolchain files"
As mentioned in the `installation.md` the easiest way to build iceoryx on QNX is to use the build script and providing a toolchain file.

Question is if we want to add some kind of generic toolchain file(s) for QNX to get people started.  See example file in associated PR.

Edit 2021-03-19:  In yesterday's dev meeting ([minutes](https://github.com/eclipse-iceoryx/iceoryx/wiki/2021-03-18-Eclipse-ic

[2021-03-15 14:06] #495 closed

[2021-03-15 14:09] elBoberido commented on #609
This might be a good source to create a toolchain file
https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-qnx
https://cristianadam.eu/20181202/a-better-qnx-cmake-toolchain-file/

[2021-03-15 14:44] mossmaurice opened #611 "Refactor Shared Memory Object Creation"
## Brief feature description

Both `PoshRuntime` and `ProcessManager` don't follow our main design principles (RAII, clear responsibilty, etc.). Hence, a refactoring is necessary.

## Detailed information

- [ ] Create design document
- [ ] Agree on design
- [ ] Implement design

[2021-03-15 15:11] mossmaurice opened #613 "Ensure all objects using Creation are constructed via Creation"
## Brief feature description

As iceoryx aims to be fully `noexcept` the `DesignPattern::Creation` creates object that would throw an exception in the constructor. However, it doesn't require objects not to be default construct-able.

* [ ] Add type trait
* [ ] Refactor code accordingly

[2021-03-15 15:13] mossmaurice commented on #613
UDS done: https://github.com/eclipse-iceoryx/iceoryx/compare/master...ApexAI:iox-%23613-remove-param-less-ctor-because-of-creation-pattern

[2021-03-16 08:12] dkroenke commented on #574
A question came up in this thread: https://github.com/eclipse-iceoryx/iceoryx/pull/579#discussion_r586646938
Is it ok to print only a logmessage if the filepath for the config is not found or empty? Or should we maybe return a cxx::error here?

[2021-03-16 10:48] elBoberido commented on #611
Renaming `ProcessName_t` to `PoshRuntimeName_t` will be an API breaking change after 1.0. If you want to do it, you need to do it before the release.

[2021-03-17 07:11] shankar-in commented on #337
@elBoberido the `abstimeout` calculation for the semaphore is present within the `semaphore.cpp`. this makes the choice of clock unavailable for the the periodic timer. currently the semaphore always makes use of the system clock. For periodic timer I believe monotonic would be a right choice? In that case we have to move the calculation of the `abstimeout` outside the semaphore ? pls feedback

[2021-03-17 08:36] elfenpiff commented on #337
@shankar-in The implementation is absolutely correct here! We do not want to do this outside since it is error prone especially when the developer does not read the documentation of the posix semaphore. Here the part from the `sem_timedwait` manpage:

 sem_timedwait() is the same as sem_wait(), except that abs_timeout specifies  a  limit  on
       the  amount of time that the call should block if

[2021-03-17 08:54] shankar-in commented on #337
@elfenpiff  Thanks.

I do believe the time since Epoch depends on the current system time. The system time can be adjusted and if its adjusted the time since Epoch can deliver different results. However the monotonic clock is not affected by the system time. Isnt monotonic a better option? Pls feedback

[2021-03-17 09:04] shankar-in commented on #337
@elfenpiff  Thanks.

CLOCK_REALTIME returns the Epoch based on the system time clock. So I think this can be modified which can lead to change in the time since epoch.

CLOCK_MONOTONIC doesnt depend on the system clock and cannot be set. So this value cannot be modified.

So isnt the Monotonic optimal for our periodic timer use case? pls feedback.

[2021-03-17 09:07] budrus opened #615 "Possibility to block the publisher when subscriber queue is full"
## Brief feature description

Today our default is to use an "overflowing queue" for the subscribers. If the subscriber does not consume fast enough we start loosing samples.  An option would be nice to block the publisher in this case for ensuring that no samples are lost.

## Detailed information

The overflowing queue starts to drop the oldest sample in case of an overflow, so technically it be

[2021-03-17 09:12] budrus commented on #615
### Proposed solution
1. Introduce a publisher option that allows subscribers to block this publisher if they have a queue overflow. Publisher can only be blocked if this is enabled
2. Introduce a subscriber option that indicates that this subscriber does not want to use any samples.

[2021-03-17 09:21] budrus commented on #581
@ankitkk I created an issue for this as we came to the conclusion that this option should be supported #615

[2021-03-17 11:16] elBoberido commented on #615
@budrus iceperf already does it more or less this way. One appliacation only sends data after it received data from the other, so we already have a blocking wait for the publisher.

[2021-03-17 11:25] budrus commented on #615
@elBoberido That's somehow right. But only because we have the ping-pong back channel. For a throughput measurement  I think other middleware doing a `sent as fast as possible and check if everything was received and how much in a fixed time`.  So I would prefer to also have a setup close to what people do when testing iceoryx. This is send like crazy as fast as possible and see if there is any da

[2021-03-17 11:31] elBoberido commented on #337
@shankar-in that depends. If you use the semaphore for the blocking wait then you have no choice and must use `CLOCK_REALTIME`. We cannot always decide which clock to use, sometimes the API we use takes this decision for us. So every time you use a POSIX API which takes a `timespec` or `timeval` you have to check which clock the API expects like elfenpiff already mentioned with https://linux.die.n

[2021-03-17 11:46] elBoberido commented on #615
@budrus okay, with this approach there will almost certainly be a data loss when the publisher is not blocked since the queue sizes are way to small to hold enough samples even if the OS stops the subscriber only for a few milliseconds.

[2021-03-17 12:22] shankar-in commented on #337
@elBoberido Okay. I am making use of the api `sem_timedwait` and let the API decide which would be the best clock for the purpose. :)

[2021-03-18 08:43] elfenpiff commented on #615
I would suggest the following approach.
1. adjust the trigger queue
    * add a template parameter to select the queue type (SoFi, FiFo etc.)
    * add a template policy to select the waiting strategy (e.g. semaphore, busy wait, condition variable)
    * implement the easiest policy for the trigger queue (more sophisticated waiting policies can come later)
    * integrate the trigger queue into th

[2021-03-18 17:12] dkroenke opened #621 "Integrationtests for iceoryx_posh"
## Brief feature description
We need to enhance the existing integrationtests under `iceoryx_posh/test/integrationtest` with more testcases.
Tests can use the RouDi Environment and and GTest verify the functionality of integrating the different posh software modules (e.g. verifying that the mempool config works.)

***Note:
This ticket shall not enhance the testcases in iceoryx_integrationtest beca

[2021-03-18 17:12] dkroenke commented on #621
@marthtz

[2021-03-19 10:47] marthtz opened #622 "TOML parser exceptions will crash RouDi"
## Required information

**Operating system:**
Ubuntu 18.04 LTS

**Compiler version:**
GCC 7.5.0

**Observed result or behaviour:**
RouDi can be crashed if malformed TOML Files are sent

**Expected result or behaviour:**
RouDi is gracefully shutdown if TOML parser throws an exception

**Conditions where it occurred / Performed steps:**
Sent malformed TOML (attached) to RouDi and it'll crash.

**De

[2021-03-19 17:02] FerdinandSpitzschnueffler opened #623 "Refactoring of UsedChunkList"
## Brief feature description

This whole list is error prone, uses the STL even though it does not have to use it (we should use here a ``cxx::vector``) and it is not tested.

## Detailed information

- [x] separate declaration and implementation
- [x] add unit tests
- [ ] use ``cxx::vector`` instead of ``std::array``
- [ ] store sharedChunks? (see https://github.com/eclipse-iceoryx/iceoryx/pull/6

[2021-03-20 00:09] ankitkk commented on #615
This is great. Anything which doesn’t force or imply a threading model on clients is awesome.

[2021-03-21 09:58] budrus commented on #63
Closing this as we do not officially support 32 bit

[2021-03-21 09:58] #63 closed

[2021-03-21 10:02] #252 closed

[2021-03-21 10:05] budrus commented on #332
@mossmaurice @elBoberido. Do we still have this issue with the latest changes in #404 ?

[2021-03-21 10:07] #369 closed

[2021-03-21 10:11] budrus commented on #413
WIth #584 it is possible to connect matching publisher and subscribers without the need for discovery. So closing this issue

[2021-03-21 10:11] #413 closed

[2021-03-21 10:18] budrus commented on #483
@dkroenke We adapt files when changing them only, or? So can we close this issue?

[2021-03-21 10:21] budrus commented on #472
Closing this as we use UDS now

[2021-03-21 10:21] #472 closed

[2021-03-22 08:37] dkroenke commented on #483
@budrus yes correct, there are only a few files left -> closed

[2021-03-22 08:37] #483 closed

[2021-03-22 11:21] elBoberido commented on #623
It seems we desperately need a design document before this refactoring since there are some constraints which renders some of your point invalid. First and foremost, RouDi always needs to be able to access the used chunks in order to release them after an applications terminates. Since the application could terminate at any instruction, a container like a `cxx::vector` might be in a corrupted stat

[2021-03-22 11:32] elBoberido commented on #332
@budrus this issue only persists if there is an additional thread accessing the IPC channel. We had that once in a RouDi extension.

This issue contains a proposal how to overhaul the IPC communication. This could be done as part of #611, though. @mossmaurice what do you think?

[2021-03-22 12:37] #609 closed

[2021-03-22 16:12] elfenpiff opened #624 "add [[nodiscard]] keyword to cxx::expected class"
## Brief feature description

When a method is returning a `cxx::expected` it should never be ignored. The `[[nodiscard]]` keyword ensures that the user performs at least some kind of error handling.

[2021-03-22 16:19] mossmaurice commented on #624
As `[[nodiscard]]` is only available from C++17 we might want to use GCC's [` __attribute__((warn_unused_result))`](https://stackoverflow.com/questions/45190740/ways-to-specify-nodiscard-before-c17). However, we need to check the QNX manual if that is supported as well.

[2021-03-22 16:21] elfenpiff commented on #624
here i would suggest wrapping this is an IOX_NODISCARD which then selects [[nodiscard]] for mac os and windows, and the attribute for gcc

[2021-03-22 19:29] elfenpiff opened #625 "FileLock requires write access to root owned directory /var/lock/"
## Required information

**Operating system:**
Gentoo, Archlinux

**Observed result or behaviour:**
`/var/lock/` is only accessible by root but the `FileLock` requires access to it. We should switch the `FileLock` directory to `/tmp` since everyone is allowed to write data here.

[2021-03-22 19:45] elBoberido commented on #625
I don't know if that's possible for QNX. We have limited write access on those images

[2021-03-24 08:32] #404 closed

[2021-03-24 10:17] #624 closed

[2021-03-24 16:09] elfenpiff opened #634 "Additional CI targets for the major linux distribution families."
## Brief feature description

At the moment our Linux support is only validated with Ubuntu targets. Since every distributions differs a little bit in the details we should aim for a CI target for every major linux distribution family.

## Detailed information

I suggest the following  linux distributions in our CI pipeline:

- Ubuntu (for Debian based like Mint)
- ArchLinux (for pacman based dist

[2021-03-24 16:12] elfenpiff opened #636 "Propagate and handle errors in dds gateway"
## Brief feature description

In `iox_to_dds.inl` and `dds_to_iox.inl` methods which are returning an `cxx::expected` are called but the error case is dismissed with `IOX_DISCARD_RESULT`. Either the `cxx::expected` is propagated to the user so that they can handle it or it has to be handled internally.

When this issue is closed the `IOX_DISCARD_RESULT` has to be gone and whenever the gateway is u

[2021-03-24 16:17] elfenpiff opened #637 "Failing register/unregisterProcess in roudi.cpp not handled"
## Brief feature description

In `roudi.cpp` the methods `registerProcess`/`unregisterProcess` are called but the `cxx::expected` which contains any possible error is dismissed with `IOX_DISCARD_RESULT`. This means it is possible that a process cannot be registered in roudi but this is no where handled and the user is never informed!

When this issue is closed `IOX_DISCARD_RESULT` has to be remove

[2021-03-24 16:19] elfenpiff opened #638 "Setting IOX_NO_DISCARD in QNX"
## Brief feature description

At the moment the `IOX_NO_DISCARD` macro is only set when the compiler is either gcc>=5 or clang>=4 or the operating system is windows. In QNX it is a NOOP.
Since the qcc compiler should also support `[[nodiscard]]` and `[[__attribute__((warn_unused))]]` we should test it and activate it on QNX.

[2021-03-24 16:36] elBoberido commented on #637
Well, this is not quite correct. While the return value of `registerProcess` is not checked, the application is informed if it cannot be registered with two exceptions:
- the process list is full
- the application was build with an incompatible version
In both cases the error is at least logged to the console. But it would be better to also send a response via the message queue.

[2021-03-24 16:47] mossmaurice commented on #637
I'd vote for adding this point to #611 and close this issue here.

[2021-03-24 17:55] ankitkk opened #640 "Sparse access control documentation."
Its not entirely clear how to setup such that iceoryx clients can be under different unix users/groups.  A brief introduction would be helpful. Thanks.

[2021-03-24 18:07] elBoberido commented on #605
I just thought about the refactoring. Currently there are two classes, `BaseRelativPointer` and `RelativPointer`. The former one is untyped and the latter one typed with a template parameter. Neither of those is trivially copyable, which requires de-structuring (e.g. with the `ChunkTuple` in `ChunkQueuePusher`) when put into a queue for shm communication. Additionally, its 16 bytes and can therefo

[2021-03-24 18:42] elfenpiff commented on #640
@mossmaurice you are currently working on the docu side, do you have time for this topic?

[2021-03-24 18:44] elfenpiff commented on #640
I would suggest a short icedelivery based example where we have two publishers A, B and two subscribers X, Y with some groups so that A & X and B & Y are separated and cannot read the data of the non corresponding ports.

[2021-03-24 18:51] ankitkk commented on #640
Looking through existing pull requests - Pull request in progress  #630  adds some color to it.

[2021-03-24 19:59] elBoberido commented on #640
@ankitkk have a look at this https://github.com/eclipse-iceoryx/iceoryx/blob/master/doc/website/advanced/usage-guide.md

It shows how to configure RouDi for multiple user. It's quite long since I tried it, but theoretically you just need to start the application as different user and it should work if there is a segment for that user configured.

[2021-03-25 08:54] mossmaurice commented on #640
Thanks @ankitkk for the feedback! We should definitely improve the documentation regarding users and groups.

I've add this point to #482 and will close this issue here. If you think other topics are not covered, please raise them in #482, thanks!

[2021-03-25 08:54] #640 closed

[2021-03-25 12:05] budrus commented on #615
Hackathon:
1. extension of iceperf -> @elBoberido
2. extension of publisher and subscriber options C++, extension of runtime and RouDi processMessage() -> @FerdinandSpitzschnueffler
3. extension of publisher and subscriber options C, needs 2.
4. Extension of trigger queue, blocking behavior -> @elfenpiff
5. Extension of constructSubscriber(), needs 4.,  2.
6. Discovery. Store reliable/best effort

[2021-03-25 15:53] MatthiasKillat opened #644 "Set log level of the iceoryx runtime in the C API"
add a function to change the log level in the C-API
will currently only work before the runtime is initialized

optionally:
add a C-API header which encompasses the whole C-API

[2021-03-25 17:38] ithier commented on #615
@budrus  with an impossible task

[2021-03-25 17:47] budrus commented on #615
@ithier at least you realized that I got the hardest job

[2021-03-25 19:09] mossmaurice commented on #637
Added the point to #611

[2021-03-25 19:09] #637 closed

[2021-03-25 21:32] Indra5196 commented on #594
@elfenpiff @MatthiasKillat Had a doubt, will the size of a dynamic vector implementation be confined to the allocated chunk size? or can it be like allocating a larger chunk in case the vector grows more than chunk size?

[2021-03-26 08:19] elfenpiff commented on #594
We could implement the shared memory allocator in a way that we acquire a new chunk whenever the container requires more space. The chunk size would be then the smallest amount the vector grows.

I think that the STL containers are using a strategy in which the size increases with a power of two and we would then have a static size - but this could also become dynamic.

In the end, we have a lot o

[2021-03-26 08:22] elfenpiff commented on #594
@Indra5196 I added a requirement in this issue for the datatypes so that your request/question is on record.

[2021-03-26 08:53] Indra5196 commented on #594
@elfenpiff  Storing vector in consecutive chunks..........can't even imagine how difficult/expensive it would be to manage such a vector

[2021-03-26 09:30] elfenpiff commented on #594
@Indra5196 it is also possible that we follow a different approach and write a shared memory allocator. The consecutive chunks thing was just one quick idea.
But you are right, this will be a difficult challenge but in the end, it shouldn't be more expensive than an STL vector.

[2021-03-26 11:35] #622 closed

[2021-03-26 14:08] Indra5196 commented on #594
@elfenpiff So in order to do that, we might need to modify the ChunkHeader or make the SharedChunk take multiple resources

[2021-03-26 15:23] elfenpiff commented on #594
@Indra5196 would you like to work on that feature?

Maybe the cleanest way for handling this would be to write a shared memory allocator to which the publisher has access to. Then you would create your `std::vector` with this allocator and send it.
[code]

This is how an example could look like. The `SharedMemoryAllocator` would be defined in a separate header and the line
`g_sharedMemoryManager =

[2021-03-26 15:57] elBoberido commented on #594
@elfenpiff it's me, the party pooper ;). You cannot reliably send STL container by the shared memory. Even if you have this custom allocator the usage is quite restricted and the only possible use case would be a publisher specialized for a given container like `Publisher<std::vector>` but not a `struct TopicData { std::vector };` as data type since the container might use pointer internally which

[2021-03-26 16:39] elfenpiff commented on #594
@elBoberido bad party pooper! But you are right I totally forgot the relocatability! So we can throw the previous idea right out of the window.

[2021-03-29 09:15] elBoberido opened #650 "The iceoryx_posh tests are generating a file within the source folder"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
When iceoryx is build with the tests, a file is generated in the source folder of the tests. This should not happen since it's quite easy to accidentally check in that file.

**Expected result or behaviour:**
The file should be generated in the build folder

**Conditions where it occurr

[2021-03-29 10:24] elBoberido opened #653 "Restarting an application can kill RouDi"
## Required information

**Operating system:**
Ubuntu based

**Compiler version:**
all

**Observed result or behaviour:**
If an application is terminated and restarted before RouDi does the cleanup, RouDi crashes when doing the cleanup.

**Expected result or behaviour:**
RouDi should not crash

**Conditions where it occurred / Performed steps:**
Open two terminals and run `iox-roudi` in one of the

[2021-03-29 10:35] elBoberido opened #654 "Starting an application after RouDi was terminated floods the cmd line with error messages"
## Required information

**Operating system:**
Ubuntu based

**Compiler version:**
all

**Observed result or behaviour:**
Wenn RouDi is terminated and therefore couldn't cleanup the unix domain socket and an application is started, the cmd line gets flooded with
[code]

**Expected result or behaviour:**
The application should gracefully handle the situation and wait till RouDi is started

**Condit

[2021-03-29 11:25] #625 closed

[2021-03-29 11:33] shankar-in commented on #337
@elBoberido I have a clarification.

Pls find the impl of wait of the periodic / keep alive timer below,

`cxx::expected<iox::cxx::TimerEvent, posix::SemaphoreError> PeriodicTimer::wait() noexcept
{
    if (*(m_stop.getValue()) == static_cast<int>(posix::SemaphoreWaitState::TIMEOUT))
    {
        auto waitResult = m_stop.timedWait(m_interval, true);

        if (waitResult.has_error())
        {

[2021-03-29 12:10] #644 closed

[2021-03-29 12:56] #650 closed

[2021-03-30 06:13] shankar-in commented on #337
@elBoberido Trying a work around. If the `sem_ timedwait()` didnt complete the wait duration then we can conveniently assume that semaphore is obtained [`sem_post()` happened in backgorund]. In that case we can release the semaphore and return back STOP. Hope this works.

[2021-03-30 07:54] jhx2002 opened #656 "If subscriber's queue is full"
What happen,  If subscriber's queue is full, and the publisher  continues to publish

[2021-03-30 08:34] Indra5196 commented on #594
@elfenpiff I would love to contribute to this :-). We can surely have a discussion on this whenever feasable. If you are asking for a free will, I wish for today ;-), but realistically, it will be great if we are able to do it within April.

[2021-03-30 08:45] elfenpiff commented on #656
The subscriber queue is actually a circular buffer and whenever it is full the publisher will override the oldest sample with the newest.

Let's say you have the samples [1, 2, 3] in your subscriber queue of capacity 3. After the publisher delivered sample 4 the subscriber queue contains [2, 3, 4].

Currently, we are also working on issue #615 to extend this behavior so that the publisher is block

[2021-03-30 08:57] elfenpiff commented on #594
@Indra5196 this sounds great and we should coordinate this on this week's developer meet-up. But implementing this in April seems unrealistic I think we need a lot more time for this since there is a lot of infrastructure to build behind the scenes.

But as a short term solution, you could use the iceoryx alternative `cxx::vector`, `cxx::string`, `cxx::list` and to ease the handling we could provi

[2021-03-30 09:36] elBoberido commented on #337
@shankar-in it's hard to tell without all the code. Please create a draft PR for further discussion. Basically you have to store the stop state in an atomic and always return with `STOP` if the flag is set.

Also, could you please name the class just `Timer`? This makes it easier to extend it with methods like `singleShot` which wouldn't be periodic but needs manual restarting.

[2021-03-30 10:11] shankar-in commented on #337
@elBoberido Okay I will raise the draft PR

[2021-03-30 10:31] elBoberido commented on #337
@shankar-in just for information, since we are targeting Thursday for our 1.0RC1 release. It might take some time until non release critical PRs are reviewed.

[2021-03-31 04:34] jhx2002 opened #659 "getSubscriptionState() seems abnormal"
Node1 has two publisher.
Node2 has one publisher and two subscriber.

The subscribers and publishers are alive.

getSubscriptionState()  sometimes return SUBSCRIBED, and sometimes return NOT_SUBSCRIBED.

and as a result, lots of messages are lost.

[2021-03-31 06:55] mossmaurice commented on #659
@jhx2002 Thanks for raising this question. Could you post the code snippet here in the issue? Did you use `iox::popo::SubscriberOptions::subscribeOnCreate` and `iox::popo::PublisherOptions::offerOnCreate` to configure the publisher and the subscriber?

[2021-03-31 07:00] jhx2002 commented on #659
I use version 0.90,  the code refer to examples/icedevery

[2021-03-31 07:01] jhx2002 commented on #659
void Sync::subdata(){
  {
  iox::popo::SubscriberOptions sub_option;
  sub_option.queueCapacity = 10U;
  depth_suber_ = std::unique_ptr<iox::popo::TypedSubscriber<DepthMsg> >
    (new iox::popo::TypedSubscriber<DepthMsg>({"stamp", "img", "empty"}, sub_option) );
  depth_suber_->subscribe();
  fmt::print("DepthMsg getSubscriptionState {}\n", depth_suber_->getSubscriptionState());
  }

  {
  iox::po

[2021-03-31 08:53] elfenpiff commented on #659
@jhx2002 To comprehend it fully here some questions.

1. Are the 3 publishers in your setup publishing on 3 different services or do some of them share a service and you have a multi publisher setup?
2. When does the SUBSCRIBE / NOT_SUBSCRIBE switch occur. In the middle of the communication or when you start one of the nodes? Does this occur when you restart Node1 for instance?
3. Could you retry

[2021-03-31 08:53] budrus commented on #659
@jhx2002 When we introduced getSubscriptionState() we only supported one publisher for a topic. The SubscriptionState clearly indicated whether you are connected or not to this single publisher. This is still the case if you compile iceoryx with the option that only one publisher is allowed per topic. If there can be multiple publishers on a topic, the subscription state is no more 100% clear. We

[2021-03-31 11:11] #556 closed

[2021-03-31 21:36] #653 closed

[2021-04-01 16:39] elBoberido commented on #14
@rex-schilasky finally you should be able to use this feature. There are still a few internal cleanups and some extensions needed to make things like record&replay more robust but nothing on the public API.

[2021-04-01 17:39] elfenpiff opened #666 "False positive in leak sanitizer (caused by type duplications in tests)"
## Required information

**Observed result or behaviour:**

When the two tests in the PR https://github.com/eclipse-iceoryx/iceoryx/pull/663  (`test_concurrent_trigger_queue.cpp:143ff`) are commented in the clang-sanitize check for the utils moduletests fails.

[2021-04-01 18:36] rex-schilasky commented on #14
@elBoberido thank you so much for all the effort you invest in that feature. We (eCAL) are waiting for the final release 1.0 and then we reintegrate the new API into our middleware. What do you mean with features that will make record&replay more robust ?

[2021-04-01 19:46] elBoberido commented on #666
it seems #667 fixes the issue

[2021-04-02 05:55] jhx2002 commented on #659
Test with version 0.99.
The problem still exists.  some messages are lost.

[2021-04-02 06:11] jhx2002 commented on #659
// publish options
iox::popo::PublisherOptions pub_options;
  // the publishers stores the last 10 samples for possible late joiners
  pub_options.historyCapacity = 100U;
  pub_options.offerOnCreate = true;
  static iox::popo::Publisher<PoseMsg> puber({"stamp", "posi", "quater"}, pub_options);

// subscribe options
  void Sync::subdata(){
    {
      iox::popo::SubscriberOptions sub_option;

[2021-04-02 09:44] jhx2002 opened #668 "It seems lost data with high frequence"
Test version 0.99.0
I have set the subscriber.queueCapacity > total send count
Some messages  are lost when publish every 10ms.

[2021-04-02 11:10] nihalchari opened #669 "std:: converter methods to cxx::converter from utils"
## Brief feature description

- [ ] replace std::to_string() with cxx::covert::toString()
- [ ] replace std::stoull() with cxx::convert::fromString()

[2021-04-02 19:11] budrus commented on #668
@jhx2002 We need more info.
1. There is a compile time max queue capacity of 256. What value have you set? If you set a value larger than 256 it will be limited and a warning is printed. The max capacity can be configured, this is because we have static memory and have to do a compromise between footprint and flexibility
2. Can you check if the subscriber detected a queue overflow? The subscriber

[2021-04-02 20:19] budrus commented on #668
@jhx2002 just made some tests
1. I took the icedelivery examples for untyped publisher and subscriber
2. If the sleep on subscriber side is larger than on publisher side I loose a lot sample. That's what I expect
3. If if have the same 1ms sleep on both sides with queue capacity 10 I loose from time to time a sample. I check a counter and `hasMissedData()`. Every time when I loose a sample both pr

[2021-04-03 02:47] jhx2002 commented on #668
what is the difference of waitset and queue of subscriber?

[2021-04-03 06:40] dkroenke opened #670 "Prepare package release for iceoryx 1.0"
## Brief feature description

For iceoryx 1.0 we need to adapt the package release in cmake and colcon.

## Detailed information

- [x] add libacl1-dev to package.xml of iceoryx_utils
- [x] hardcode the version numbers in CMake of cpptoml_vendor, iceoryx_utils_ iceoryx_posh and iceoryx_binding_c

[2021-04-03 07:49] jhx2002 commented on #668
I test with multiple publisher and subscriber. Can you test with this situation?

[2021-04-03 15:49] budrus commented on #668
@jhx2002 see [here](https://github.com/eclipse-iceoryx/iceoryx/issues/656#issuecomment-810037293) what @elfenpiff already answered for what happens if the queue is full.
The waitset (and the listener) are the alternatives to polling. I.e. your waitset gets woken up, when a new sample is pushed to the queue. This ensures that your subscriber starts consuming as fast as possible.

The simplest waits

[2021-04-03 15:53] budrus commented on #668
@elBoberido @FerdinandSpitzschnueffler @mossmaurice . I feel we need a waitset example almost as simple as the one above

[2021-04-03 16:08] elBoberido commented on #668
@budrus I agree with one notable exception. This must be
[code]
🤓

[2021-04-06 09:56] MatthiasKillat opened #679 "Create introductory example of the waitset"
Create and describe the basic case of one subscriber waiting for data with the waitset (all existing examples are more advanced). This should serve as "hello world" example of the waitset.

[2021-04-06 10:02] #666 closed

[2021-04-06 10:50] elBoberido commented on #669
@nihalchari could you please write at least on sentence in the feature description to make it clear why this is done. Just for documentation purposes.

Btw. could this be put into #260?

[2021-04-06 11:05] elBoberido commented on #14
@rex-schilasky depending on what you put on the user-header, it might be necessary to update the content on replay, e.g. if there are some timestamps. With the chunk-header we know the layout and can put everything in place as necessary, but the user-header is opaque. The idea was to have a similar approach to the ICANN and have a known list of user-header. So 0x0000 to 0xC000 would be reserved an

[2021-04-06 11:46] budrus opened #680 "Consolidate index queue and loffli"
## Brief feature description

We have some modules with similar functionality [loffli](https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_utils/include/iceoryx_utils/internal/concurrent/loffli.hpp) and [index queue](https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_utils/include/iceoryx_utils/internal/concurrent/lockfree_queue/index_queue.hpp). We should investigate if the

[2021-04-06 12:29] elBoberido commented on #680
To be able to fully replace `loffli`, the `index_queue` needs a small refactoring to be able to have the storage of the indices outside of the queue. This is necessary to have mempools configurable at runtime. Shouldn't be a big problem to implement, though

[2021-04-07 10:30] elBoberido commented on #656
@jhx2002 is your question sufficiently answered? If yes, please close the issue

[2021-04-07 10:34] elBoberido commented on #659
@jhx2002 is your question regarding the subscription state sufficiently answered? If yes, please close the issue.

The question regarding data loss is discussed in #668

[2021-04-07 12:21] MatthiasKillat commented on #668
Note that the using the waitset with infrequent data and a ``while(true)`` loop is a bad idea. How could we ever leave this loop? This unfortunately requires attaching an additional trigger to modify the termination condition. But then it is not that simple to use anymore, we need to look at the reason we woke up, i.e. the result of the `wake()` call.

Currently this result is ignored, but it is s

[2021-04-07 16:19] elBoberido commented on #615
@budrus regarding the issue with stopping an application with a blocked publisher. I think there are two options
- option 1
  - use a flag in the runtime set by the signal handler
  - use that flag in the keep alive thread to send a IPC message to RouDi
  - RouDi disconnects the publisher ports
- option 2
  - store a list with all the publisher in the runtime (guarded by a mutex)
  - use a flag in

[2021-04-07 16:48] mossmaurice commented on #615
I think I prefer option 1 as we should avoid to duplicate the publisher list. However, I have mixed feelings about this topic. It feels very hacky in a way. Would it be possible to only do this fix it on the `release_1.0` branch and solve it on `master` altogether in #611 with our new concept for object creation in shared memory?

[2021-04-07 17:25] elBoberido commented on #615
Yes, it's kind of hacky but I wouldn't do it in only in the `release_1.0` branch in order to keep the branches in sync for as long as possible and also to not keep this regression in master.

[2021-04-07 19:01] budrus commented on #615
@elBoberido @mossmaurice. I would also vote for option 1. I fear that ugly things could happen if we do another bookkeeping. having a `runtime.shutdown()` that sends a command over UDS and ends up in doing the things on RouDi side you made to solve the challenge their is maybe the best for now. So we have a bit of reuse. Setting something in an individual publisher to release it feels even more ug

[2021-04-08 09:16] elBoberido commented on #615
@elBoberido @mossmaurice @MatthiasKillat @elfenpiff I think this `runtime.shutdown()` could also be used once we extend the `WaitSet`/`Listener` to be used without an explicit shutdown trigger. The runtime could then automatically register a signal handler for this and if the user wants a custom signal handler she must also call `runtime.shutdown()`. I think this could also be used to simplify our

[2021-04-08 09:24] elBoberido opened #692 "ThreadSanitizer for iceoryx"
## Brief feature description

Integrate the ThreadSanitizer in iceoryx to detect data races.

## Detailed information

It seems Mozilla had good experience finding data races with the ThreadSanitizer https://hacks.mozilla.org/2021/04/eliminating-data-races-in-firefox-a-technical-report/.

I suggest to also integrate it into iceoryx since we are heavily using multi-threaded code.

[2021-04-08 10:09] budrus commented on #615
@elBoberido it's getting closer to `while(ros::ok())` ;-) I like the idea. As you wrote, it should be optional if our runtime does the signal handling. E.g. if iceoryx is used in ROS we would not have the signal handler on our side but do a `runtime.shutdown()` in a place like `rmw_shutdown()`
Go for it!

[2021-04-08 10:10] budrus commented on #615
@elBoberido So would you propose to leave it for now for Almond and we create a new issue and close this one?

[2021-04-08 13:21] elBoberido commented on #615
@budrus I would create the `runtime.shutdown()` method with option 1 for unblocking the application at shutdown and an issue for the other stuff like `runtime.registerShutdownSignalHandler()`, `runtime.ok()`, `runtime.sleep()` and `runtime.wait()`.

I'd like to have the unblocking of the blocked publisher in 1.0 and all the other stuff is nice to have and can be implemented later on. This could al

[2021-04-09 12:19] nihalchari commented on #669
@elBoberido  yes this can be put into #260 , hence i will close this issue

[2021-04-09 12:19] #669 closed

[2021-04-12 08:04] ZhenshengLee opened #707 "Help Wanted: Compiling issue when using listener with untypedSubscriber."
## Required information

**Operating system:**
E.g. Ubuntu 20.04 LTS

**Compiler version:**
E.g. GCC 9.3.0

**Observed result or behaviour:**
according to example in `iceoryx_examples/callbacks/ice_callbacks_subscriber.cpp`
I wrote the code using listener with untyppedSubscriber
[code]
but the gcc never compiles successfully
[code]
**Expected result or behaviour:**
the code can be compiled

**Cond

[2021-04-12 08:13] #679 closed

[2021-04-12 10:34] elfenpiff commented on #707
@ZhenshengLee  You have to be the owner of the callback since the callback is called sometime later in the background thread of the listener and the listener does not take ownership! If you construct a closure (lambda) in the call you implicitly assume that the listener takes ownership of the lambda since it goes out of scope right after the call.

With our restrictions (no heap usage), it is curr

[2021-04-12 12:22] ZhenshengLee commented on #707
@elfenpiff thank you for your quick reply!
Actually I am trying to get rmw_iceoryx worked with iceoryx 1.0.0
I am not familiar with fuction programming even with cpp, and I found your callback solution and lambda solution both do not work in the situation when the callback is a class member function.
Could you please write a little more? Much appreciation.

the compiler output shows below errors:

[2021-04-12 12:31] ZhenshengLee opened #709 "CMake file duplicate option in build_options.cmake"
## Required information

**Operating system:**
E.g. Ubuntu 18.04 LTS

**Compiler version:**
E.g. GCC 7.4.0

**Observed result or behaviour:**
Code debt should be paied, and duplicate cmake option should be cleared.
https://github.com/eclipse-iceoryx/iceoryx/blob/94d0ea6b1db76164ae165f55447cc6577b755ed3/iceoryx_meta/build_options.cmake#L42
https://github.com/eclipse-iceoryx/iceoryx/blob/94d0ea6b1db

[2021-04-12 15:55] elfenpiff commented on #707
@ZhenshengLee you discovered a real bad issue on our side. At the moment this is not realizable with our current Listener implementation (except when you use really dirty hacks) but since 1.0 is not released yet I'll try to fix this until Wednesday.

Please be patient until then and hopefully, I can present you with a solution in two days.

The problem is when you would like to change a nonglobal

[2021-04-12 20:12] clalancette opened #712 "New tag for the release_1.0 branch for ROS 2 Rolling"
It looks like there is one fix on the release_1.0 branch for iceoryx since the last tag (0.99.7). Could we please have a new tag so we can get those fixes released into the binary Debian packages for Rolling? Thanks.

[2021-04-12 20:48] elBoberido commented on #712
@clalancette we plan to have our 1.0 release on Thursday. Would that be sufficient for you or do you need it earlier?

[2021-04-12 20:54] elBoberido opened #713 "SharedChunk should internally store an absolute pointer"
## Brief feature description

The `SharedChunk` should store an absolute pointer to the respective `ChunkManagement` instead of a `iox::rp::RelativePointer`.

## Detailed information

The `SharedChunk` stores internally a `iox::rp::RelativePointer` to the respective `ChunkManagement`. This is not needed since the `SharedChunk` is not used from the shared memory. With the `iox::rp::RelativePointer`

[2021-04-13 00:19] elfenpiff opened #714 "Runtime Error in SubscriberImpl"
## Required information

**Observed result or behaviour:**
When a to a listener/waitset attached Subscriber (`SubscriberImpl<T>`) goes out of scope it detaches itself in the BaseSubscriber destructor.
1. SubscriberImpl dtor is called and since it inherited from BaseSubscriber it is not a SubscriberImpl anymore after this step
2. BaseSubscriber dtor is called which calls reset an all attached trigg

[2021-04-13 01:49] ZhenshengLee commented on #707
Thanks a lot! I will test it later when all commits are merge into master or release1.0.0 branch.

[2021-04-13 08:37] elfenpiff opened #717 "Replace cxx::not_null with reference wherever possible"
## Brief feature description

`cxx::not_null` and a reference are making sure that not some variation of `nullptr` is provided as argument but `cxx::not_null` has some implementation and performance overhead.
Therefore, we should use `cxx::not_null` only for void pointer variations.

[2021-04-13 16:16] mossmaurice opened #722 "Defined behaviour when creating subscriber without read access"
## Brief feature description

If a user app does not have read access to any shared memory segment and a subscriber object is created, which `takes()` in case of a publisher is sending data, the current behaviour is a segfault.

## Detailed information

* Expected behaviour is that no data will ever be received from subscribers if the user has no read access to the shared memory segment to which t

[2021-04-14 18:35] elBoberido opened #729 "loanPreviousChunk is broken"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
loanPreviousChunk can currently not be used since it does not compile

**Expected result or behaviour:**
Should either compile or be removed from the API.

**Conditions where it occurred / Performed steps:**
Call `loanPreviousChunk` on a publisher.

The decision was to remove the API an

[2021-04-15 01:03] #713 closed

[2021-04-15 01:03] #729 closed

[2021-04-15 09:24] shankar-in commented on #243
@elfenpiff could you pls let me know if this seg fault issue is fixed? Still the test looks disabled `DISABLED_SelfTriggeringTimerWorksAndDoesNotCauseSegFault`

[2021-04-15 10:43] elfenpiff commented on #707
@ZhenshengLee the feature is implemented and you can find an [example here](https://github.com/eclipse-iceoryx/iceoryx/blob/master/iceoryx_examples/callbacks/ice_callbacks_listener_as_class_member.cpp) in master and release_1.0.

 Here is how you would have to modify your example from this issue:
[code]

Could you please try it out - if this is working for you I would close the issue.

[2021-04-15 12:29] elfenpiff opened #736 "Unable to build cyclone dds idlpp-cxx"
## Required information

**Operating system:**
ArchLinux, Gentoo

**Compiler version:**
GCC 10.2.0, clang-11.1.0,

**Observed result or behaviour:**
Generating the cmake files with
[code]
Leads to multiple definition linker erros in `idlpp`. Here an extract of the failures
[code]

On Mac OS 11.2.3 with compiler: clang-11.0.1 it is linking successfully!

**Expected result or behaviour:**
No linker

[2021-04-15 14:16] elfenpiff commented on #243
@shankar-in the issue seems to be solved.

[2021-04-15 14:49] #714 closed

[2021-04-15 18:40] elBoberido commented on #482
Reopened due to open tasks

[2021-04-15 19:12] elBoberido commented on #14
@budrus I will create a an example next week, then this issue could be closed.

I have two enhancement for what I'd like to create separate issues
- option to add hooks to the publisher/subscriber like `allocateHook`, `deliveryHook` or `receiveHook` which can be used to populate/evaluate the user-header; I'm not quite sure about this, so we might to discuss this further
- create some kind of regis

[2021-04-15 21:32] mossmaurice opened #743 "Improve documentation and website for v2.0"
# Brief feature description

## 2.0 Release

### Website/Markdown settings

* [x] Open Bugzilla issue to "enforce https"
* [x] Create favicon for website
* [x] Switch to `mike` v1.0 to avoid duplication for aliases
* [x] ~~Add `.markdownlint.yaml` file~~ Moved to #1295

### Common

* [x] Improve utils documentation (in the long run: find more suitable name for utils, e.g. safe building blocks), se

[2021-04-15 21:33] #482 closed

[2021-04-15 21:34] #136 closed

[2021-04-15 22:07] #670 closed

[2021-04-16 01:24] ZhenshengLee commented on #707
It can be compiled. I will give it more tests.

Thank you very much!

[2021-04-16 06:25] rex-schilasky commented on #14
Congratulation to Almond !! eCAL will integrate the new API soon.

[2021-04-16 07:48] shankar-in commented on #243
@shankar-in Okay I will enable the test again.

[2021-04-16 09:04] elfenpiff opened #745 "Hide API docu for private/internal constructs on website"
## Brief feature description

At the moment the website shows the full API documentation of constructs which are filed under the directory "internal", are private/protected nested classes or methods.

The website should only contain the public user API documentation.

## Detailed information

Adjust the doxygen configuration files so that it is not generated when:
- the class is a protected/privat

[2021-04-16 09:38] mossmaurice commented on #707
Closing this issue. @ZhenshengLee Feel free to re-open in case of other questions around that topic.

[2021-04-16 09:38] #707 closed

[2021-04-19 11:17] elBoberido commented on #325
I've had an idea how this could be solved in an elegant way without a mutex but an atomic and semaphore instead.
Let's assume we have the following class
[code]
So basically a futex but just for two threads. If the application terminates abnormally, the semaphore can be cleaned up contrary to the mutex which cannot be unlocked from an other thread than the one which acquired the lock.

This would

[2021-04-19 11:32] elBoberido commented on #656
@jhx2002 I assume that the question was sufficiently answered and close this PR. Feel free to open it again if this is not the case.

[2021-04-19 11:32] #656 closed

[2021-04-19 11:32] elBoberido commented on #659
@jhx2002 I assume that the question was sufficiently answered and close this PR. Feel free to open it again if this is not the case.

[2021-04-19 11:32] #659 closed

[2021-04-19 11:38] elBoberido commented on #668
@jhx2002 could you provide more information like requested? With __Almond__ there is the option to let a slow subscriber block a publisher in order to not lose any sample.

If we don't get any response, we assume the problem is solved and close the issue in two weeks.

[2021-04-19 11:55] budrus commented on #325
@elBoberido so like a mutex that can be unlocked by someone else if this one is sure that the locking one walked the plank. But we could still have corrupted data structures which we maybe are not allowed to access

[2021-04-19 12:04] elBoberido commented on #325
@budrus yes, the history vector might be corrupted. The simple approach would indeed be to leak chunks and print a warning if RouDi detects that the lock was hold by the application. A more sophisticated solution would be a `HistoryRingBuffer` with the same mechanism like the `UsedChunkList`. In my view, extending the `UsedChunkList` makes no sense since it has a totally different API. I'd rather

[2021-04-19 13:15] elBoberido commented on #712
@clalancette done with the release of 1.0.0 aka Almond

[2021-04-19 13:15] #712 closed

[2021-04-20 12:42] #709 closed

[2021-04-20 15:54] dkroenke commented on #736
@elfenpiff the current idlpp generator is quite out-of-date and will be not maintained anymore. The solution here is to switch to the idlcxx generator for cyclonedds. I will take care of that in the next days.

[2021-04-20 16:49] elfenpiff commented on #736
@dkroenke thanks a lot - when this is fixed I can hopefully remove gcc-7 from my system.

[2021-04-21 14:31] #588 closed

[2021-04-22 10:24] rex-schilasky commented on #14
@elBoberido I started to prepare everything for integrating the 1.0.0 into eCAL but it would make things easier if you could share a simple example like mentioned. I have a Custom Header structure with fixed size but flexible content for sure (timestamps, counters ..) and I have a binary payload blob with flexible size. These two information I would like to publish using a low level C++ interface.

[2021-04-22 10:49] elBoberido commented on #14
@rex-schilasky I'll prepare a simple example this week. Basically its
[code]
or with the untyped API
[code]

[2021-04-22 10:58] rex-schilasky commented on #14
Thank you ! I will wait for the example. Looking forward to make new performance [tests](https://continental.github.io/ecal/advanced/performance.html), the machine is well prepared now. Building Iceoryx was working perfectly, the new documentation is great (except a simple low level pub/sub sample ;-)).

[2021-04-22 11:06] elfenpiff opened #751 "The semaphore posix wrapper should not be movable."
## Required information

**Observed result or behaviour:**
According to the documentations:
https://pubs.opengroup.org/onlinepubs/9699919799/functions/V2_chap02.html#tag_15_09_09
https://pubs.opengroup.org/onlinepubs/009695399/functions/sem_open.html

The effect of referring to a copy of the object when locking, unlocking, or destroying it is undefined.

The move operations are copying the underly

[2021-04-23 10:53] elBoberido commented on #14
@rex-schilasky which API do you use? I'll start the example with that one and create a draft PR so that you have an early access to to code which is relevant to you.

[2021-04-23 11:04] rex-schilasky commented on #14
Hi none of both API's exists, in my current iceoryx integration. See

[eCAL iceoryx writer](https://github.com/continental/ecal/blob/master/ecal/core/src/readwrite/ecal_writer_iceoryx.cpp)
[eCAL iceoryx reader](https://github.com/continental/ecal/blob/master/ecal/core/src/readwrite/ecal_reader_iceoryx.cpp)

I would like to use the typed API but I'm open for recommendations. My goal is to avoid the

[2021-04-23 12:03] elBoberido commented on #14
Okay, then I start with the typed C++ API. From the code you posted it seems the untyped C++ API would make more sense, but maybe there is something in the upper layers which makes the typed C++ API more suitable.

[2021-04-23 12:28] rex-schilasky commented on #14
Like I mentioned, I will trust in your experience here. I do not prefer one of these variants, but the typed one seemed to me more compact / better readable.

[2021-04-23 13:25] elBoberido commented on #14
If you use the typed API, you would need to add a template parameter for the type you want to send to `CDataWriterSHM`. If that's okay, then you can use the typed API, if not, you need to use the untyped API.

[2021-04-23 13:59] rex-schilasky commented on #14
Then I would go for typed :-). Thank you in advance !

[2021-04-23 17:22] elBoberido commented on #14
I did a small mistake with the typed API. We have a `Publisher` and `Subscriber` alias for `PublisherImpl` and `SubscriberImpl`. The latter have an additional template parameter for testing so the former ones should help prevent doing mistakes. Unfortunately I forgot to add the template parameter for the user-header to the `Publisher` and `Subscriber` alias. It's not a big problem, but you have to

[2021-04-26 08:26] elfenpiff commented on #751
Actually, it is movable without moving the underlying `sem_t` management construct when it is not used concurrently while being moved.
The idea would be to set the semaphore value (acquired with `sem_getvalue`) to the value of the origin in the move operation. The move operation never destroys the semaphore with `sem_close`/`sem_destroy` only the dtor does and and then move should be possible.

Si

[2021-04-26 10:57] elBoberido commented on #751
This might work for move assignment but you still have the problem with the move ctor since the move-to `sem_t` would never be initialized.

[2021-04-27 10:07] dkroenke commented on #736
Update: the idlcxx builds successful but i get a segmentation fault in the dds2iceoryx gateway application. I addressed the bug here: https://github.com/eclipse-cyclonedds/cyclonedds-cxx/issues/64 and will wait for the response.

[2021-04-27 12:40] mossmaurice commented on #581
Closing this issue as the blocking publisher was implemented for Almond v1.0. Feel free to reopen.

[2021-04-27 12:40] #581 closed

[2021-04-27 12:45] mossmaurice commented on #470
Closing this issue as the `RouDiLock` was removed with #687

[2021-04-27 12:45] #470 closed

[2021-04-27 15:45] elfenpiff commented on #751
I disagree, in the move ctor it is even easier. Here you just call `sem_init` or `sem_open` and both functions offer a parameter where you can set the value of the semaphore.

[2021-04-27 18:06] elBoberido commented on #751
I think copy is even more dangerous than a move. I would remove both of them like in the STL

[2021-04-27 18:46] elfenpiff commented on #751
I agree with you but I really fear the smell of the mowed meadow. Maybe we need to tweak the creation pattern with this a bit. I am thinking of something like:
[code]
Here we do not require move and the semaphore is initialized in place. What do you think @elBoberido

[2021-04-28 09:15] toniglandy1 opened #755 "Adding support for Helix QAC 2021.1"
## Adding files to add or improve Helix QAC analysis on iceoryx

adding help specific for Helix QAC analysis

## Detailed information

This folder would contain a README with steps to follow so any contributor that has access to Helix QAC can easily get results for this project. this folder could also contain different scripts to automate project creation following specific rulesets depending on r

[2021-04-28 13:17] #496 closed

[2021-04-28 15:00] elfenpiff commented on #755
@toniglandy1 do you mean to create a folder under `tools` named something like `helix_qac` which then look something like:
[code]

[2021-04-28 15:48] toniglandy1 opened #759 "improve Helix QAC parsing coverage"
## Brief feature description

some files are not parsing correctly with Helix QAC. All files should parse without errors.

## Detailed information

Here will be maintained a list of files that fail parsing either because of limitations of Helix QAC or non-compliant code.

[2021-04-29 08:48] MatthiasKillat opened #761 "Option to retain samples on publisher side after publishing"
## Brief feature description

Currently after loaning a sample (memory chunk) on publisher side we have two options
1. publish it
2. return it to the publisher without publishing

After publishing the lifetime of the sample is not ensured anymore, once it was consumed by any subscriber or a new sample is loaned on this publisher.
In some cases (here in particular for a zero-copy optimization in cy

[2021-04-29 09:40] #261 closed

[2021-04-29 15:28] christophebedard opened #762 "Write "ROS 2" with a space between "ROS" and "2""
## Required information

Doc-related "bug"

See the ROS 2 documentation and the ROS brand guidelines

* https://docs.ros.org/en/rolling/index.html
* https://www.ros.org/press-kit/

[2021-04-29 16:08] #762 closed

[2021-04-29 19:19] dotChris90 opened #764 "Interested in conanfile.py ?"
Hello iceoryx group,

great work! never saw such impressive performance powered project.
I am currently working on a conanfile.py (https://github.com/dotChris90/iceoryx/blob/master/conanfile.py) for iceoryx so that cross compilation and dependency management works better "out of the box" (plus was thinking that depending projects like eclipse DDS would get benefit from it).

Today was first "try o

[2021-04-30 08:24] elfenpiff opened #765 "Shell script which list the dependencies / uses of the STL"
## Brief feature description

We require a simple script which list all uses of the STL inside the production code (not the tests).

[2021-04-30 08:46] elfenpiff commented on #764
@dotChris90 I think this is a great idea!

@dkroenke but then I think we need a conan target in our CI.

[2021-04-30 10:05] #759 closed

[2021-05-01 13:09] dotChris90 commented on #764
@elfenpiff  thanks for the positive feedback. I think I now created a proper conanfile that automatically takes the VERSION file for for proper versioning, adapting the CMakeFiles on package creation (so we add conan based CMAKE commands to the CMakeFiles without touching them in repo - so other people still can use the CMakeFiles without conan), the git clone of tomlcpp is "outcomment" on creatio

[2021-05-01 13:14] dotChris90 commented on #764
An extremly positive effect of conan is the easy cross compilation via profiles - i think what would be awesome would be profiles for default linux, raspberry pi (because easy to buy "embedded device" ) and QNX.

[2021-05-01 13:34] dotChris90 commented on #764
Only cross compilation problem i got was related to the linaro toolchain https://releases.linaro.org/components/toolchain/binaries/7.5-2019.12/arm-linux-gnueabihf/ which is popular for several reasons ... "fatal error: sys/acl.h: No such file or directory" but if i am not totally wrong that is just because the linaro toolchain just comes with "/usr/include/linux/posix_acl.h" and not with "sys/acl.

[2021-05-03 09:39] elBoberido commented on #765
Can you elaborate in one or two sentences why this is needed? My mind reading skills degraded lately ;)

[2021-05-03 11:15] elBoberido opened #768 "Missing template parameter for user-header in typed C++ API"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
The `Publisher` and `Subscriber` alias do not have a default parameter for the user-header which means that `PublisherImpl` and `SubscriberImpl` must be used directly.

**Expected result or behaviour:**
The `Publisher` and `Subscriber` alias can be used for the user-header.

**Condition

[2021-05-03 11:54] elBoberido commented on #668
@jhx2002 I assume the problem is solved with the __Almond__ release and close the issue. Feel free to reopen it again if it's not the case.

[2021-05-03 11:54] #668 closed

[2021-05-03 12:11] elBoberido opened #770 "Curated list of known user-header"
## Brief feature description

With the user-header from #14 it is now possible to add custom meta information alongside the user-payload. While this makes some functionality easier, it has some drawbacks for the record and replay functionality since there is now some opaque data which might need some adjustment before the replay, e.g. a timestamp. A curated list of known user-header will help the

[2021-05-03 12:26] elBoberido opened #771 "Hooks for Pubisher and Subscriber"
## Brief feature description

With the user-header it is possible to add custom meta information alongside the user-payload, e.g. a timestamp. It might be helpful to add some hooks to the Publisher and Subscriber to make this more ergonomic.

## Detailed information

The Publisher could have an `allocateHook` where the user-header could be initialized and a `deliveryHook` where the data could be s

[2021-05-03 12:27] #14 closed

[2021-05-03 12:28] elBoberido commented on #768
reopen for PR to release_1.0 branch

[2021-05-03 13:31] #765 closed

[2021-05-03 13:33] elfenpiff commented on #765
@elBoberido it is required so that we know what we have to rewrite from the STL or what we have to certify inside the STL.

[2021-05-03 13:36] elBoberido commented on #765
@elfenpiff sure, but please add it to the issue description. We have a template with brief and detailed section. Please add at least a little context and not just `do stuff`.

[2021-05-04 06:54] dotChris90 commented on #764
For information and update reason - to get a package into the conan-center (so the main Package store / artifactory ) you have to do a PULL Request on their repo - so the conanfile.py has to be part of their repo.
https://github.com/conan-io/conan-center-index/issues/5418

This means in case conanfile shall be also part of this repo (for test purpose) we can put it here - but still for getting it

[2021-05-04 07:42] dkroenke commented on #764
@dotChris90 Thanks for the contribution, having a conanfile in our repository gives other projects the chance for easier integration with iceoryx. Especially the deployment with different architectures and compiler can be done fast with that.

Publishing iceoryx into conan-center is also interesting, as i understood you correctly we have then to maintain two conanfiles and also to take care that t

[2021-05-04 08:06] dotChris90 commented on #764
@dkroenke - yes that's correct. Honestly i prefer the conanfile in project repo approach since the project knows best "what is my target platforms, my target ECUs, my target OS, etc." and so project can better validate the "cross compilation" process plus detect errors earlier (e.g. adding dependencies which contains code a platform does not support - and then see "oh yes here we need to add an ab

[2021-05-04 09:20] FerdinandSpitzschnueffler commented on #208
Regarding `operator[]` and `at()`:
Contrary to the `std::string` I would add a boundary check also to `operator[]`. The question is what should happen in case of an out of bounds access? I see only two options, 1) we terminate or 2) similar to the `unsafe_assign` we return a bool which indicates whether the access was successful. Thinking of something like `someString[index] = 'x'`, option 2 would

[2021-05-04 09:33] elBoberido commented on #208
@FerdinandSpitzschnueffler I think calling `Expects` is the right way to do here. The alternative would be to return a `cxx::optional<T&>` which could be accessed with `and_then`. This would be quite cumbersome but maybe an option for `at()`. So there are two options to chose from, a safe one and one which might terminate

[2021-05-04 12:12] mossmaurice commented on #208
@FerdinandSpitzschnueffler I second @elBoberido, `Expects/Ensures` is a good choice as we will later (#607) allow to disable the checks. You can have a look at [this PR](https://github.com/eclipse-iceoryx/iceoryx/pull/750/files?file-filters%5B%5D=.cpp&file-filters%5B%5D=.inl&file-filters%5B%5D=.md#diff-19b3ce30804b322cb7fd58c26dcb9dc880c902ee21516af7efa29b3d07a34287), where I adapted `cxx::vector`

[2021-05-04 19:46] dotChris90 commented on #764
I would suggest the following :

- i already requested cpptoml be part of the conan center index (https://github.com/conan-io/conan-center-index/pull/5428)
- after this is done and the iceoryx dont mind i would create a conanfile.py on their repo for iceoryx (so outside the iceoryx repo but on their repo )
- after the merge request is done i will take this conanfile and adapt it so it matches the

[2021-05-05 10:27] mossmaurice commented on #409
Axivion scan went live yesterday on `master` branch.

[2021-05-05 10:27] #409 closed

[2021-05-05 11:12] dkroenke opened #774 "Codecov indicates coverage change when no source code is touched"
## Required information

**Operating system:**
All compilers

**Compiler version:**
All compilers

**Observed result or behaviour:**
When Pull-Request are opened, the codecov still post a comment in the PR that the coverage was touched even when no codefiles are modified.
Example: https://github.com/eclipse-iceoryx/iceoryx/pull/773/files

It seems that often the coverage involving smart_c.inl is f

[2021-05-05 11:28] elBoberido commented on #774
@dkroenke only the tests marked as `TIMING_TEST` are in a separate target. There are far more tests relying on a timing. These might have a wider time margin than the ones from `TIMING_TEST` which don't make them sporadically fail but still might result in different code paths.

Although I proposed something like `TIMING_TEST`, I came to the conclusion that it's the wrong path. On the one hand we

[2021-05-06 08:52] dkroenke commented on #764
@dotChris90 This sounds like a good plan!
Starting with having iceoryx 1.0 on conan-center is a good beginning. My proposal would be that we maybe maintain only major releases and bugfixes only on demand on conan-center. I'm happy to review then the PR on conan-center for correctness. Due to the fact that we already maintain the iceoryx packages on rosdistro for ROS 2, we would be happy about volu

[2021-05-06 08:59] dkroenke commented on #774
@elBoberido That's indeed a good point, we need to isolate those "hidden" Timing Tests and either need to isolate or rewrite them (the latter is prefered).

[2021-05-06 09:14] elfenpiff commented on #774
@dkroenke I think we need a brainstorming session here. Some timing tests need to remain timing tests, like for instance a call to `sem_timedwait` but those cases are hopefully rare.

For all the other test cases we need strategies on how to circumvent the timing test with a neat usage of semaphores, condition variables, or whatever. This should be documented for all the developers so that we have

[2021-05-06 09:16] dotChris90 commented on #764
@dkroenke  i would be happy to make this great project more visible to other projects ;) also would create an issue on cyclonedds - if they are interested. i guess yes.

But don't worry ;) i would take care of the conanfile.py related stuff. - iceoryx dependency cpptoml - already nearly part of the conan-center (tests green, automatic checks green, 1/3 reviewer already checked).

Then next step wo

[2021-05-06 09:55] dkroenke commented on #764
@dotChris90 In the name of the iceoryx community i say thank you! I will assign this issue here to your username so others know that you are working on that.

[2021-05-06 10:45] elBoberido commented on #774
@elfenpiff ideally we would have a synthetic time but I guess that's not possible for all tests. At least the abstractions making the synthetic time possible would need testing with real time.

I'm not sure about the increased timeout since it makes the actual test parameter nontransparent. It might help keep the test time low, though. But if it runs 10 times, these gains are compensated.

I don't

[2021-05-06 12:43] #425 closed

[2021-05-06 12:51] elBoberido commented on #751
I think this might be a viable option for some use cases. But then one needs to always call `mySemaphore.value().wait()` which makes the code harder to read. In the end if the creation of the semaphore fails, what can be done? The programmer usually doesn't do this for fun. Waiting and retrying might be an option, but that should be the rare case and what happens if the retry also doesn't work? An

[2021-05-06 13:55] dkroenke opened #777 "Axivion CI scan improvements"
## Brief feature description

Currently is an initial version of the axivion CI scan on master branch in iceoryx running. There are several improvements necessary here.

## Detailed information

- [ ] add scan for release_1.0 branch, preferred is to create a separate database for it.
- [ ] limit concurrency for master and release branch jobs in Github CI to 1 because axivion fails if someone tries

[2021-05-06 19:24] dotChris90 commented on #764
First proposal - functional working - taking release 1.0.0 from github - https://github.com/dotChris90/conan-center-index/blob/adding-iceoryx/recipes/iceoryx/all/conanfile.py - it's functional - hooks, pep8, etc. not yet done - have to look more if functional on different settings - cpptoml request still open. test_package not yet implemented --> best we put examples here so test they are function

[2021-05-07 06:13] elfenpiff commented on #751
The developer could also write `mySemaphore->wait()` instead of `mySemaphore.value().wait()` but your point is still valid.

[2021-05-07 06:35] dkroenke commented on #764
@dotChris90
I just took a rough look over the file, i have currently only minor remarks:
- homepage can be "https://iceoryx.io"
- for the topics i would propose to add "Middleware"
- regarding the options i would propose to enable `shared` per default because iceoryx is deployed as shared library in ROS 2 and with CycloneDDS.

One additional note: we plan to add in future the support for https://g

[2021-05-07 06:55] dotChris90 commented on #764
Will be done - the "shared=True" as default is "uncommon" - usual they using really static linking as default (which is in my opinion somehow strange but anyway let's see). let's hope their "reviewer" don't see it as "standard" and blocking.

[2021-05-07 09:26] elfenpiff commented on #392
Already implemented in #131 .

[2021-05-07 09:26] #392 closed

[2021-05-07 09:32] elBoberido commented on #764
Maybe we should also think about static builds for conan. With ROS there is this workflow with sourcing `setup.sh`. As far as I know there is no equivalent on the conan side which would make the usage of iceoryx quite cumbersome

[2021-05-07 09:36] elBoberido commented on #392
I think we have to work on the tracing front. Out of interest I wanted to see what was changed but couldn't find any relevant PR

[2021-05-07 09:36] elfenpiff opened #779 "Analyse remaining mutexes and remove any RouDi deadlock possibilities."
## Brief feature description

Since RouDi is our central daemon and the whole system is corrupted when it fails we can assume for now that RouDi with its inner logic never fails.
But we have to ensure that RouDi is not corrupted by any external instance like a publisher application which holds a lock and dies which would lead to a deadlock in RouDi.

This means RouDi is allowed to block any arbitr

[2021-05-07 10:05] elBoberido commented on #779
Small addendum. It's quite improbable to get the deadlock since a subscriber would need to subscribe/unsubscribe after the publisher crashed when holding the lock and before RouDi cleans up the resources of the crashed application. It's much more probable that RouDi crashes when trying to cleanup the locked mutex.

[2021-05-07 10:20] dotChris90 commented on #764
nice point. First of all i can confirm currently the iceoryx "conan package under preparation" is able to export static and dynamic libs - depending on the options - but both builds working fine. A consuming package / project like cyclonedds or ros2  have do write own conanfile and inside there say "options["iceoryx"].shared=False " then they can link against the static libs. but right - this some

[2021-05-07 10:39] dkroenke commented on #764
@dotChris90 I guess there is a misunderstanding here. @elBoberido meant that when you have built ROS 2 with colcon (a buildtool for orchestrating CMake projects) you need to source a generated `setup.sh` to make the ROS 2 application accessible. Under the hood are runtime dependencies for the shared libraries in ROS 2 resolved.
The conan profiles look for me more like compile-time settings that yo

[2021-05-07 10:47] elBoberido commented on #764
Yes, that's what I meant. If the libs are not in a known path, the binaries cannot find them

[2021-05-07 11:12] dotChris90 commented on #764
Ah guys - sorry for the misunderstanding and thanks for the clearification.

I think for getting the dependencies and place them to correct location - there exist plenty options too.
- conan install    # can genererated cmake files if required and this cmake files containing the absolute paths of libs
- conan install -g deploy # can download and install ur dependencies in front of ur current locat

[2021-05-07 11:34] elfenpiff commented on #392
@elBoberido You are right! I looked it up in git blame and the only thing I found was the issue linked above.

[2021-05-07 17:06] dotChris90 commented on #764
Ok latest status - https://github.com/dotChris90/conan-center-index/blob/adding-iceoryx/recipes/iceoryx/all/conanfile.py the homepage and topic is adapted. the shared still false default - so static libs.

The ROS2 thing i could check and see how they best consuming.

Tinyjson - good you pointed out. I will try to bring them to the conan center index ^^ actually i am suprised - tinyxml is part and

[2021-05-07 17:37] dkroenke commented on #558
@marthtz Can we reuse this ticket later for creating a Github Action which runs nightly to run the fuzzer?

[2021-05-07 19:56] dotChris90 commented on #764
Got your point - the ros thing i can say - it's more a "detection / consumption" thing - which need to know more how to use conan with colcon (it's interesting to see how many dependency managers exist in OSS for C++ xD).

The other thing - integration --> i made a very very basic conanfile for cyclone dds - https://github.com/dotChris90/cyclonedds/blob/iceoryx/conanfile.py i can say - for the def

[2021-05-08 07:48] phongt opened #781 "Wrong Values of iox-cpp-subscriber and iox-cpp-publisher"
## Required information

**Operating system:**
Debian bullseye

**Compiler version:**
gcc version 10.2.1 20210110 (Debian 10.2.1-6)

**Observed result or behaviour:**
Wrong value from the iox-cpp-subscriber application with iox-cpp-publisher

iox-cpp-publisher
2021-05-08 14:43:23.167 [ Debug ]: Application registered management segment 0x7fb5d4262000 with size 60126248 to id 1
2021-05-08 14:43:23.

[2021-05-09 16:10] dotChris90 commented on #764
Ok guys - i think the conanfile.py for conan center did a good step forward. https://github.com/dotChris90/conan-center-index/blob/adding-iceoryx/recipes/iceoryx/all/conanfile.py

@dkroenke i think the meta data are now ok too.
 - name = "iceoryx"
 - license = "Apache-2.0"
 - homepage = "https://iceoryx.io/"
 - url = "https://github.com/conan-io/conan-center-index"
 - description = "Eclipse iceory

[2021-05-10 15:09] dkroenke commented on #764
Hi,
yes for now we can stay with the option set you already defined in the conanfile (TOML and shared libs option).
From my perspective the following options are not necessary:
- `fPIC` should not be set by the user, this option is set in our CMake files by enabling `POSITION_INDEPENDENT_CODE`
- `c_bind` i think we can deploy the C-Binding automatically together with posh and utils. It's a quite s

[2021-05-10 17:58] dotChris90 commented on #764
@dkroenke @elfenpiff  thanks you two for the considerings and feedback. I minimized the options to shared and toml_config. Because i have to admit your points makes absolute sence.

- lower options - lower misunderstanding
- sanitize ... yes ... i saw the options and though maybe useful
- but @elfenpiff  is correct, the package should be easy to use and a sanitize options could lead to "confussion

[2021-05-14 12:36] elBoberido opened #791 "cpptoml cannot be build due to failing examples"
## Required information

**Operating system:**
Ubuntu 20.04 LTS

**Compiler version:**
clang 10

**Observed result or behaviour:**
The build fails due to a missing include.

**Expected result or behaviour:**
The build should not fail.

**Conditions where it occurred / Performed steps:**
Run CI with clang 10.

[2021-05-14 12:56] elBoberido opened #793 "Improve compilation time of mocks"
## Brief feature description

The tests are taking quite long to build. It seems this is mostly due to the mocks.

## Detailed information

The gmock cook book suggest to move the [ctor/dtor to a cpp file in order to speed up the compilation](https://github.com/google/googletest/blob/master/docs/gmock_cook_book.md#making-the-compilation-faster) since they are quite expensive to generate.

[2021-05-14 13:06] #791 closed

[2021-05-14 13:23] elBoberido opened #794 "Enforce unix line endings"
## Brief feature description

All files in our code base should have the same line endings.

## Detailed information

In order to prevent accidentally use windows line endings which might result in a large diff at a later time, all file shall have the unix line ending. This can be done by a `.gitattributes` file

[2021-05-14 13:38] #418 closed

[2021-05-14 22:18] #794 closed

[2021-05-15 20:08] dotChris90 commented on #764
ok iceoryx team - current status of https://github.com/dotChris90/conan-center-index/blob/adding-iceoryx/recipes/iceoryx/all/conanfile.py

- options now just shared and toml-config
- c bindings are always taken
- findIceoryx cmake files are generated by conan for consuming project
- aliases exist in form of "iceoryx_posh::iceoryx_posh" is alias for "iceoryx::posh
- with this help examples from ice

[2021-05-17 08:19] elfenpiff commented on #764
@dotChris90 I think this all sounds awesome and I am really looking forward to your PR, so please create it!

At the moment it is hard for me to answer if you cleaned up too good but the PR diff will show us. Either way, thanks for the great work.

[2021-05-17 08:58] #781 closed

[2021-05-17 09:22] dotChris90 commented on #764
Ok during the day i will create PR and simple let's see what is coming. :D anyway if we notice after that we must add sth - nobody forbit us "extending" existing conan packages. it's always just a PR in Github. so let's see and try ;) will update you when it's in conan center.

[2021-05-17 13:27] phongt opened #796 "Lost the sample with iceoryx single_process app"
## Required information

**Operating system:**
Debian  11 bullseye

**Compiler version:**
gcc version 10.2.1 20210110 (Debian 10.2.1-6)

**Observed result or behaviour:**
losing the last sample from single_process app

**Expected result or behaviour:**
full samples should be rx

**Conditions where it occurred / Performed steps:**

- Build the iceoryx with ./tools/iceoryx_build_test.sh clean debug

[2021-05-17 13:47] elfenpiff commented on #796
@phongt Thanks for the hint!

Actually this is not a problem here and we are not losing any samples. The `single_process` example is just sending and receiving for a duration of 2 seconds. When the time is up the `publisher` and `subscriber` while loop is exited and the example terminates. Incidentally it coincides with the receiving of the 20th sample, this means that the subscriber loop is exite

[2021-05-17 14:03] phongt commented on #796
Thank you.  I add the main loop and see more sending and receiving samples with this.

[code]

[2021-05-17 14:03] #796 closed

[2021-05-18 06:00] dotChris90 commented on #764
ok first try summery :

- windows builds were skipped (yes - at least that worked)
- MAC build successful but tests failed (because the C++ Standard detection were not totally correct on my side)
- Linux build failed because the compilation is inside containers without ACL
- first step before go on --> i bring ACL into their Center(is quite ok since normal config build and small dependency)
- iceo

[2021-05-18 07:41] FerdinandSpitzschnueffler opened #798 "CMake fails during googletest step with gcc 11.1.0"
## Required information

**Operating system:**
Arch Linux

**Compiler version:**
GCC 11.1.0

**Observed result or behaviour:**
CMake fails during googletest step:
[ 12%] Building CXX object googlemock/gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
In file included from .../build/dependencies/googletest/src/googletest/src/gtest-all.cc:42:
.../build/dependencies/googletest/src/googletest/src/gtest-de

[2021-05-18 08:17] dotChris90 commented on #764
@dkroenke  thanks for review - the whitespace i seriously didnt notice -.- i will keep you update guys

[2021-05-18 08:54] elfenpiff commented on #798
@FerdinandSpitzschnueffler I think the problem is that googletest is compiled with `-Werror` and the new gcc finds some more warnings.

[2021-05-18 20:57] andrewvaughanj commented on #736
Does this mean that:

- https://github.com/eclipse-iceoryx/iceoryx/blob/master/doc/website/getting-started/installation.md

which states:

is just wrong? I've just tried with a system-default compiler of GCC 10.2, and got the same as the original poster ...

[2021-05-19 06:58] #583 closed

[2021-05-19 07:25] dkroenke commented on #736
Hi @andrewvaughanj
welcome to iceoryx! Thanks for checking on this, yes it is correct that GCC 10.2 also throws the same compile errors in the
 `idlpp-cxx` dependency of iceoryx_dds.
There is a feature branch which have an intermediate fix for this problem: https://github.com/ApexAI/iceoryx/tree/iox-%23736-update-cyclonedds-to-idlcxx.
First needs to be a bugfix merged in https://github.com/eclipse

[2021-05-19 08:06] mossmaurice commented on #511
@jeising who initially helped to create `rmw_iceoryx` and myself start finishing off this [PR](https://github.com/ros2/rmw_iceoryx/pull/42) in a hackathon this Friday.

[2021-05-20 14:31] ZhenshengLee commented on #511
Hey, it was me.
Feel free to start from this PR and I will be doing some other things about autoware.

Thanks.

[2021-05-20 16:49] elBoberido opened #805 "Enhance posixCall"
## Brief feature description

Currently an errno has to be ignored if no log output is desired. There should be an explicit method for this.

Additionally there is an automatic detection for the return value being the errno. This shall also be explicit.

## Detailed information

For some use cases it is expected that an errno is set, like when a socket is unliked. In order to prevent an error log

[2021-05-20 20:07] #654 closed

[2021-05-20 21:31] elBoberido opened #808 "Segmentation Fault in FileLock"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
When the FileLock is initialized and and the `flock` fails with a different errno than `EWOULDBLOCK` the application sefaults.

**Expected result or behaviour:**
No segfault.

**Conditions where it occurred / Performed steps:**
Remove `EWOULDBLOCK` from the ignored errors to enter the i

[2021-05-21 12:56] elBoberido commented on #793
It seems the issue for the long compile times was the address sanitizer in combination with the release build. The time for building the mocks is quite low.

[2021-05-21 12:56] #793 closed

[2021-05-21 14:59] #805 closed

[2021-05-21 14:59] #808 closed

[2021-05-22 10:34] paeunt opened #811 "Compile failed because of missing <limits> for GCC 11"
## Required information

**Operating system:**
Arch Linux

**Compiler version:**
GCC 11.1

**Observed result or behaviour:**
Compile failed.

**Expected result or behaviour:**
Compile succeed.

**Conditions where it occurred / Performed steps:**
A log of log like below:

`--- stderr: iceoryx_posh
HEAD is now at fededad one-char typo
In file included from /home/nut/git_local/ros_rolling/build/iceor

[2021-05-22 12:38] elBoberido commented on #811
Does this compilation error also occur with the latest master? We "fixed" it by not building the cpptoml examples with #792. This alsa speeds ups the build process a little bit.

[2021-05-22 14:07] paeunt commented on #811
The error was compiled with release_1.0 branch. I tried master branch. The bug is fixed. I'll close my PR. And maybe the version in ros2 rolling repos should be update.

[2021-05-22 16:10] elBoberido commented on #811
Yes, there is already a PR open for that. It's part of #806 and will be merged soon

[2021-05-23 01:11] paeunt commented on #811
Nice! I will close this issue. Thank you.

[2021-05-25 02:05] richmattes opened #813 "Build error with gcc-11 on release_1.0 branch"
## Required information

**Operating system:**
Fedora 34

**Compiler version:**
GCC-11.1.1

**Observed result or behaviour:**
Building the `release_1.0` branch fails with the following error:
[code]

`<limits>` needs to be included in `iceoryx_utils/include/iceoryx_utils/internal/relocatable_pointer/pointer_repository.hpp`

**Expected result or behaviour:**
Successful build

**Conditions where it

[2021-05-25 03:29] richmattes commented on #813
The `cpptoml` dependency for `iceoryx_posh` has the [same problem](https://github.com/skystrife/cpptoml/pull/123).  `cpptoml` hasn't been updated since October 2018 - please consider forking or replacing the functionality with a maintained library.

[2021-05-25 07:24] mossmaurice commented on #813
Thanks for the bug report @richmattes

This issue should be fixed with the backport #806

That's a good point. Will look into it.

[2021-05-25 08:39] elfenpiff commented on #811
@elBoberido @paeunt I reopened the issue because I think that the corresponding PR fixes the issue of the missing limits include in the cpptoml headers which is not done in #806.

Maybe this issue is already somewhere else fixed but I think that it is still there but due to some random coincidence or header include order it is hidden.

[2021-05-25 09:02] elBoberido commented on #811
@elfenpiff I'd rather have a low number of patches we have to take care of and this is not strictly necessary since it can be worked around quite easily and is only limited to a small amount of code

[2021-05-25 09:30] elfenpiff commented on #811
@elBoberido I agree. But if not every developer is aware that we have to add `#include <limits>` before including `cpptoml.h` we will may again and again get a compilation issue here in github.

Could we agree that applying this patch is the short-term solution and we switch to an alternative toml library as a long-term solution?

[2021-05-25 11:10] elBoberido commented on #811
@elfenpiff sure, but we need to make applying the patch work with Windows

[2021-05-25 14:02] MatthiasKillat opened #814 "Change unique pointer function_ref usage for custom deleter"
It is only safe to use a `function_ref` in the deleter if it points to a free function or noncapturing lambda (since the lifetime is guaranteed). The API however allows generic callables, which can lead to misuse.

We can
1) use function or a similar mechanism to allow generic callables up to some size
or
2) make the API fool-proof, disallowing the cases where the lifetime cannot be guaranteed

Op

[2021-05-25 14:35] elBoberido commented on #814
Can you please specify which custom deleter you mean?

[2021-05-25 15:38] paeunt commented on #811
I'll see the windows patch not working problem later. @elBoberido

[2021-05-25 16:34] #768 closed

[2021-05-25 16:35] #813 closed

[2021-05-26 07:23] dkroenke commented on #486
Reopened to adress the missing clang-tidy integration once the ruleset is clarified in https://github.com/eclipse-iceoryx/iceoryx/issues/299.

[2021-05-26 08:16] MatthiasKillat commented on #814
There is only one `function_ref<void(T* const)> m_deleter;`.

[2021-05-26 08:43] elBoberido commented on #486
Could we just add a task to that issue? When we close his issue we are again under 100 ;)

[2021-05-26 08:52] elBoberido commented on #814
Ok, now I understandd you. You meant the `m_deleter` in `unique_ptr`

[2021-05-26 09:36] MatthiasKillat commented on #814
From my point of view the `unique_ptr` should own everything that is needed to execute the deleter if we have e.g. a lambda capturing by value. If  the user specifies capturing by reference or indirectly wants to rely on the lifetime of an object for the deleter she can still do so (capture by reference) but has to explicitly do so.

As of now, if we capture by reference and the lambda goes out of

[2021-05-26 12:03] #486 closed

[2021-05-26 14:45] #811 closed

[2021-05-27 14:09] #350 closed

[2021-05-28 12:09] elBoberido opened #821 "Incremental builds with the build script are broken"
## Required information

**Operating system:**
all

**Compiler version:**
all

**Observed result or behaviour:**
The build script aborts with an error at the cpptoml download stage

**Expected result or behaviour:**
cmake runs succesfuly

**Conditions where it occurred / Performed steps:**
run the `tools/iceoryx_build_test.sh build-all` (two times in case you start with a clean build)

[2021-05-31 10:08] elfenpiff opened #823 "Move every platform macro ifdef into platforms."
## Brief feature description

The `iceoryx_hoofs/platforms` should be the only place where platform specific code should be handled. The iceoryx code base should then use the `platform` abstraction to write platform independent code - it shouldn't be handled directly in the implementation.

## Detailed information
Here is an incomplete list (must be extended later) of platform dependent code outsi

[2021-05-31 10:22] elfenpiff opened #824 "Extend all Posix-Wrapper unit tests with direct posix calls"
## Brief feature description

The current posix wrapper are tested in a way that only the wrapper itself is used and tested with itself. If possible, we should call the posix calls directly in one part of a tests and verify that the posixWrapper  behaves as intended when it works on the structure.

## Detailed information

[2021-05-31 11:57] elBoberido commented on #824
Yes, this is kind of bootstrapping our implementation. One call should be done directly to the POSIX function, e.g. `send` to test `receive`. After that, the wrapper can be used to test itself.

[2021-05-31 12:05] elBoberido commented on #488
@sschnitzer any progress on this topic. Soon I could make use of this feature. If you are too busy with other stuff at the moment, I could implement this also myself

[2021-05-31 12:06] #821 closed

[2021-05-31 15:20] dkroenke opened #825 "Github CI Integrationtests failing"
## Required information

**Observed result or behaviour:**
The integrationtest Jobs in Github CI are failing due to an expired GPG-key in ROS2.

**Expected result or behaviour:**
integrationtest jobs in CI should run properly.

**Conditions where it occurred / Performed steps:**
Update `ros-tooling/setup-ros` github action to at least version 0.2 to resolve this issue

[2021-05-31 16:04] #825 closed

[2021-05-31 19:05] dotChris90 commented on #764
ok - just an update because already some time passed. We had the issues that the containers are much more restricted in their jenkins builds. actually acl was not present so first adding acl to conan center. but for this libattr was required.

To sum it up - the packages are now present in Conan Center - so next steps will be now Iceoryx inside their containers.
I will inform you when we reaching

[2021-06-01 08:40] sschnitzer commented on #488
@elBoberido I only did some initial steps on the requested design decision document, since I was busy with other stuff. I planned to continue on this topic, but as you need it soon, it will probably be merged faster if you implement it. So you can decide which one of us will implement it, depending on how "soon" you need it. If you decide to implement it yourself, I suggest to add me as reviewer,

[2021-06-01 12:26] dkroenke opened #828 "Release iceoryx 1.0.1 bugfix release"
## Brief feature description

For ROS Galactic Patch 1 Release we need to update iceoryx on rolling and galactic with the backported bugfixes.
Target version for iceoryx is 1.0.1

- [x] set version number
- [x] update Changelog.md
- [x] set git tag
- [ ] ~~Release new package versions to ROS 2 galactic and rolling~~
- [ ] backport Changelog to master

[2021-06-01 14:34] MatthiasKillat opened #829 "Create a map data structure for the iceoryx hoofs library"
## Brief feature description

We need a data structure which admits efficient management of key-value pairs which satisfies the requirements

- replacement for `std::map` in its core functionality: insertion, finding and removing key value pairs
- no full interface `std::map` interface, we start with a custom interface
- efficient operations, O(log(n)) in the long run
- memory static (by bounded c

[2021-06-01 14:47] MatthiasKillat opened #830 "Create a set data structure for the iceoryx hoofs library"
## Brief feature description

We need a data structure which admits efficient management of values which satisfies the requirements

- replacement for `std::set` in its core functionality: insertion, finding and removing of values
- no duplicate values
- no full interface `std::set` interface, we start with a custom interface
- efficient operations, O(log(n)) in the long run
- memory static (by bo

[2021-06-01 16:41] dotChris90 commented on #764
Ok - validated in containers and currently checking why for projects linked the old ABI (see https://docs.conan.io/en/1.36/howtos/manage_gcc_abi.html) so the libstdc++11 test_packages linking fails. I thought there exist sth like an adaption for "backwards compatibility". But Gentlemen - it looks like iceoryx can be compiled and linked in their restricted containers - beginning from gcc6! for linu

[2021-06-01 17:13] dkroenke commented on #764
Regarding the compiler support we also have limited support for GCC 5.4 and a CI Job running for it: https://github.com/eclipse-iceoryx/iceoryx/blob/4b2736be424aceab7888ace5741ba24ecd5b3614/.github/workflows/experimental_build.yml#L52
We did that to ensure compatibility with QNX 7.0 but we will deprecate this support in the mid-term future.

We give for compiler version lower than gcc 7 only the s

[2021-06-02 13:07] MatthiasKillat opened #831 "Use `cxx::function` were it is appropriate"
## Brief feature description

We have some `std::function` usages left in iceoryx hoofs. They should be replaced with `cxx::function`.
This affects constructs needing callbacks, like `GenericRAII` (a better name would be `RAIIGuard` or similar) and others.
Furthermore constructs that are not used like `ActiveObject` are also affected.

Note that there are no direct occurrences in posh (but indirec

[2021-06-02 19:12] elfenpiff opened #832 "Refactor IpcChannel"
## Brief feature description

The current IpcChannel abstraction is just a type alias with the big downside that all ipc channels (message queue, unix domain sockets, named pipes and the upcoming qnx message passing) have to support all the features of the message queue.

We require an IpcChannel abstraction which reduces the interface to a very small subset of common functionality (send, receive)

[2021-06-02 19:47] elfenpiff opened #833 "Refactor all posix wrapper with better error handling"
## Brief feature description

At the moment the posix wrapper have a very detailed and unnecessary error handling. We should refactor the following aspects of the posix wrapper.
1. Misuse of posix functions through wrong arguments or wrong call order is handled by the abstraction via enum classes or contract by design.
2. a `cxx::expected` should be replaced with `cxx::Ensures` when the failure ca

[2021-06-02 19:48] elfenpiff commented on #833
@elBoberido what do you think?

[2021-06-02 20:14] elBoberido commented on #832
The interface is not sufficient since we potentially need to do some checks when RouDi or an application starts like if an IpcChannel is already available or deleted from the file system.

Removing `std::string` could be done once we switch to a binary serialization. I already have a PoC for this, just need some time to finish it.

[2021-06-02 20:15] elBoberido commented on #833
I like it

[2021-06-04 08:50] #391 closed

[2021-06-06 15:21] dotChris90 commented on #764
thanks here! currently i will print warning when gcc < 7.

I want to share the information with you that the package was able to built on their jenkins servers for MAC, Linux and Windows. The restrictions is mostly related to the so called libstdc++11 thing. Since gcc 5 exist 2 different ABIs in linux - which was necessary because C++11 standard forced the library implementers (so the people who i

[2021-06-06 15:30] dotChris90 commented on #764
Two question i would like to ask are the following :

- i read Windows support is just with Visual Studio compiler > 16 (Visual Studio 2019 and higher) right?
- is Iceoryx also buildable with "shared libs" (so DLLS instead of *.libs ) in windows?

[2021-06-07 07:48] oschuene opened #835 "Json-Manifest Reader"
## Brief feature description

Parallel to the Toml Manifest Reader a new Manifest Reader using json as format shall be created.

## Detailed information

The new Manifest Reader shall use tiny_json as library for parsing the manifest file. This library has a better liability when checking it with a fuzzer test than the toml lib currently used.

- [ ] Introduce new external library tiny_json
- [ ]

[2021-06-07 07:56] elfenpiff commented on #835
@oschuene
We already have an abstraction here called `roudi_config_file_provider.hpp`. So maybe we can specify the task `Implement manifest reader` by static `Implement roudi_config_json_file_provider.hpp`.

Could you please specify what you mean with manifest? Is it a config file like the roudi config file which is currently present only in json? If it's not and you would like to parse further se

[2021-06-07 08:23] dkroenke commented on #764
@dotChris90
We are currently building the windows target on the following CI environment:
https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#visual-studio-enterprise-2019
This is the windows version where we give support.
Regarding the shared lib build i need to check it out when I have access next time to windows PC.

[2021-06-07 11:34] oschuene commented on #835
Took up the proposal by elfenpiff. Yes it's nothing else than the roudi config I want to parse.

[2021-06-07 12:08] elBoberido commented on #835
While it's perfectly fine to have additional provider for configurations, we should not easily add them. At first we need  examine the reason for this. If you want to be able to configure RouDi by JSON because you are a big JSON fan is a valid reason in my point of view. If you want to use JSON because our current TOML parser has issues with a fuzzer it should be checked if there is a better TOML

[2021-06-08 13:19] elfenpiff opened #837 "Centralized or automated version number"
## Brief feature description

At the moment we have to adjust all version numbers occurrences by hand. It would be better if we had only one place where we setup the version number. Otherwise a reviewer has the problem that they require the knowledge of all version occurrences to spot missing changes.

## Detailed information

Either it is possible to have a single `VERSION` file and every other f

[2021-06-08 13:19] elfenpiff commented on #837
FYI: @elBoberido @dkroenke

[2021-06-08 15:19] elBoberido commented on #837
The first approach with a `VERSION` file is unfortunately not possible. We already had this but needed to move away from this for the ROS 2 builds. They are not build by using the whole repo but each module by itself. Therefore we cannot refer to a common version file outside of the modules for this. Additionally the version must also be set in the `package.xml` file.
I think the script is the bes

[2021-06-08 19:20] elfenpiff opened #838 "fix warnings for gcc-11.1"
## Required information

**Compiler version:**
GCC 11.1.0

**Observed result or behaviour:**
Wmaybe-uninitialized and Warray-out-of-bounds causing build failure

**Expected result or behaviour:**
No errors

**Conditions where it occurred / Performed steps:**
Compile everything

[2021-06-09 07:27] #838 closed

[2021-06-09 12:35] elBoberido opened #841 "Upgrade GTest/GMock to v1.10"
## Brief feature description

GTest/GMock v1.10 introduced some new features which makes especially writing mocks a lot easier.

## Detailed information

With GMock v1.8 it is quite cumbersome to mock methods with the `noexcept` specifier since it is not possible to use the `MOCK_METHOD` directly and a delegation is needed. Since iceoryx uses this specifier all over the place its a PITA to write m

[2021-06-09 12:49] elBoberido opened #842 "Cleanup MemoryProvider and MemoryBlock"
## Brief feature description

There are some minor issues with the `MemoryProvider` and `MemoryBlock`

## Detailed information

- [x] use `@copydoc Base::method` instead of `@brief Implementation of Base::method`
- [x] virtual dtor for base classes
- [x] make `MemoryBlock::memoryAvailable` and `MemoryBlock::destroy` protected
- [x] use `cxx::not_null` for parameter of `MemoryBlock::memoryAvailable

[2021-06-09 17:13] vortex314 opened #844 "Create a dynamic ServiceDescription"
Trying to test the software, I struggle wit a bizar issue to create dynamically a ServiceDescription
How can I initialiize event ( IdString_t) with the content of eventName (std::string )
[code]
Looks like IdString_t can only be initialized by constant char strings, I guess for hash calculation during compile time ?
Tried several ways, but none compile.

[2021-06-09 22:16] vortex314 commented on #844
Ok, solved it.
[code]

[2021-06-09 22:16] #844 closed

[2021-06-10 10:01] elBoberido commented on #844
@vortex314 other possibilities would be
[code]
or
[code]
This is to remind the user that the assignment might fail if the underlying fixed string is too small or that it will be truncated.

[2021-06-10 23:31] elfenpiff opened #846 "Full Windows 10 support"
## Brief feature description

In the basic Windows 10 support features like ACLs and permissions, command line parameter parsing and other minor things are not implemented. This issue should help to keep track of the mission features.

## Detailed information

- [ ] Re-enable and reduce warnings in windows build
- [ ] implement `getopt_long` in `platform/getopt.hpp`.
- [ ] `IOX_LOCK_FILE_PATH_PREF

[2021-06-14 09:38] #449 closed

[2021-06-14 09:55] #842 closed

[2021-06-16 15:07] rex-schilasky opened #855 "Listener crash on Windows 10"
## Required information

**Operating system:**
Microsoft Windows 10 Enterprise
Version	10.0.19042 Build 19042

**Compiler version:**
Microsoft Visual Studio Professional 2019
Version 16.10.2

**Observed result or behaviour:**
Instantiation of iox::popo::Listener leads to unexpected error.

**Expected result or behaviour:**
Listener should run on Windows 10 platform.

**Conditions where it occurred

[2021-06-16 17:01] elfenpiff commented on #855
@rex-schilasky This should be fixed now with the merge of PR #834  - could you please confirm this.

The problem was that the mutex and semaphore was not inter process capable which is a requirement for the WaitSet and Listener. But now everything should work as expected.

[2021-06-17 06:42] rex-schilasky commented on #855
It's working as expected now. Thank you for that fast fix.

[2021-06-17 06:42] #855 closed

[2021-06-18 10:09] MatthiasKillat opened #857 "Implement a lock-free FIFO cache"
## Brief feature description

A lock-free FIFO cache can be used to manage the historic data of a publisher.
It will be sufficiently generic for other use cases but optimized for this particular use case.

For this reason, it will only support one concurrent writer at a time (must not be the same writer but the calling code has to ensure there are no concurrent writes to the cache).
It will suppor

[2021-06-18 14:10] MatthiasKillat opened #859 "Implement a prefix tree for fast string search"
## Brief feature description

Prefix Tree (Trie)
Allows fast searching of strings, to be used in Service Registry.
String search is then performed in time proportional to the string to be searched.

## General Constraints
- relocatable - we want to use it in shared memory
- not thread safe - too much effort / runtime cost
- keys are always strings
- values are generic
- multiple values for a key (

[2021-06-18 17:27] #33 closed

[2021-06-18 17:32] elfenpiff commented on #33
Basic Windows support is implemented. All examples are running and most of the unit tests too (except unix domain sockets or ACLs). The tests which are excluded at the moment are testing corner cases which are not relevant for the everyday use and will be implemented with #846

[2021-06-21 11:04] #828 closed

[2021-06-21 11:04] #837 closed

[2021-06-21 18:57] elBoberido opened #861 "Fix error handling of TypedUniqueId and refactor it to UniquePortId"
## Required information

The `TypedUniqueId` ctor, `setUniqueRouDiId` and `getUniqueRouDiId` are calling the error handler with an empty lambda as error callback and `ErrorLevel::FATAL` or `ErrorLevel::MODERATE`. In case of `ErrorLevel::FATAL` this is a clear mistake, since nothing happens due to the empty lambda.

Usually `nullptr` is used when no custom error callback is defined. This is implici

[2021-06-22 10:40] elfenpiff commented on #859
@MatthiasKillat why not implement a `cxx::map` which is more generic and can be used in more places of iceoryx?

[2021-06-24 09:46] MatthiasKillat commented on #859
@elfenpiff I will do that, but a good map is more complicated and does not sufficiently solve the problems ahead. It fits the problem better and apart from static memory and some interface convenience I already have it implemented (still a way to go, but doable).

The prefix tree is actually very useful also for introspection (where we also currently use a map) and other applications, I would say.

[2021-06-25 13:45] elBoberido opened #865 "Common puml file for common settings"
## Brief feature description

Use common file for common PUML settigs

## Detailed information

Currently the background of PUML files is set in individual files. This could be centralized in one file which is passed to plantuml on the generation of the SVGs

[2021-06-25 14:51] #865 closed

[2021-07-01 10:08] wolfv opened #868 "Building 1.0 on Windows (MSVC 2019)"
## Required information

**Operating system:**
Windows 10

**Compiler version:**
MSVC 2019

**Observed result or behaviour:**
Unfortunately, building a shared library (dll) on Windows seems to fail for iceoryx_utils. Here is a log: https://dev.azure.com/robostack/ros_pipelines/_build/results?buildId=2146&view=logs&j=c37ce413-640d-54e1-a15a-6fd3f816233d&t=81694da9-5e46-5c3e-6be0-f0d56769eb52

The e

[2021-07-01 11:06] elBoberido commented on #868
iceoryx 1.0 doesn't run on Windows. We just build it in our CI to prevent breakages in the unfinished port. Recently #33 was finished and our master branch now has basic Windows support. I don't know if there are issues with dynamic linking. AFAIK we use static linking in our CI.

@dkroenke from the azure link it seems it was build for ROS. I thought iceoryx was disabled for Windows on ROS. Did I

[2021-07-01 12:07] wolfv commented on #868
Thanks for the reply! If I understand correctly, then iceoryx 0.7 did work? Or some previous version of cyclonedds?

I am trying again, removing iceoryx + cyclonedds from the build now. I think ideally this should be encoded in the package.xml metadata, maybe at the level of https://github.com/ros2/rmw_implementation/blob/master/rmw_implementation/package.xml

[2021-07-01 12:15] elBoberido commented on #868
No, iceoryx did not work on Windows up until recently with master. It was always only building to catch regressions in the port. I'm not quite sure if we build DLLs on ROS for Windows or if there are also statically build. At least cyclonedds should not use iceoryx when built for Windows. I don't know it that is fully prevented or if just the switch to use iceoryx is set to false by default on Win

[2021-07-01 13:21] wolfv commented on #868
Thanks @elBoberido sorry for bothering you guys! I'll discuss with the ROS folks / cyclonedds folks then.

[2021-07-01 13:37] elBoberido commented on #868
Since we promised to also support Windows for the next ROS2 release, I think we should keep this issue open until we know if the linker issues persists with our current master

[2021-07-01 14:12] dkroenke commented on #868
@wolfv @elBoberido
On ROS 2 iceoryx is compiled as static lib (*.lib files) like all the other libraries (see [here](https://github.com/ros2/ros2/releases/download/release-galactic-20210523/ros2-galactic-20210523-windows-release-amd64.zip)) and on Linux as shared library. CycloneDDS enables the shared memory transport only on Linux/MacOS platforms.

Yes building iceoryx as dll would make sense, ad

[2021-07-01 14:52] elBoberido commented on #868
@dkroenke since it is build as static lib on ROS 2 and you added a task to the full Windows support issue, do you think we can close this now?

[2021-07-01 14:53] dkroenke commented on #868
agreed --> closed

[2021-07-01 14:53] #868 closed

[2021-07-01 15:19] wolfv commented on #868
@dkroenke thanks! It's not quite true -- most libraries are dll's in ROS 2 (check the bin folder in the link you posted).

But anyways, we could patch our build scripts to force a static build of the iceoryx libs for now!

Cheers!

[2021-07-01 15:30] dkroenke commented on #868
@wolfv You are right! I forgot that on Windows the dll files are mostly exported to `bin` instead of `lib`. I'm mostly running on Linux where it goes to `lib`. Thanks for the hint.

Greetings from Berlin :wink:

[2021-07-05 06:48] ZhenshengLee opened #869 "Add gateway for zenoh."
## Brief feature description

Zenoh is a tool from eclipse iot program that connects dds local networks in the context of internet.

Iceoryx, as far as I know, is a dds like middleware, and there already have or will be dds-gateway, mqtt-gateway for iceoryx(#230 )

So, I wonder if there is a consideration to develop zenoth-gateway, or something like zenoth-bridge-iceoyrx?

## Detailed information

[2021-07-06 13:07] Indra5196 opened #873 "Sending data to event groups"
## Brief feature description

Is it possible to publish data to an `Event Group` using an Event Group Id? Such that one message from a Publisher is delivered to all subscribers subscribed to the publisher, present in a particular group defined by a group ID?

In the current examples what we have using waitset, Subscribers are attached to the waitset in an Event group using a group Id. Now, wheneve

[2021-07-06 20:15] Indra5196 commented on #413
But with #584, we are eventually doing what `offer()` was doing. By setting `offerOnCreate = true`, we are setting `m_offeringRequested = true` in the publisher port data, which we were doing by calling the offer method. Both `offer` and `offerOnCreate` are eventually doing one thing only, that is registering the port for service discovery.

Maybe, what @hemalbavishi was looking for, is that there